## Query betydb for phenotypes dataset
* Season 4 & Season 6
* Wide format: one row per plot
* Days to Emergence
* Days to Flowering
* Aboveground dry biomass

In [12]:
import pandas as pd
import numpy as np

from platform import python_version

# print(python_version())

In [2]:
# MAC Season 4 

mac_season_4_df = pd.read_csv('mac_season_4.csv')
mac_season_4_df.head()

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (18,32,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,checked,result_type,id,citation_id,site_id,treatment_id,sitename,city,lat,...,n,statname,stat,notes,access_level,cultivar,entity,method_name,view_url,edit_url
0,1,0,traits,6001970065,6.000000e+09,6000008410,6.000000e+09,MAC Field Scanner Season 4 Range 46 Column 14 E,Maricopa,33.076165,...,NaN,NaN,NaN,NaN,2,PI564163,NaN,temperature of sunlit leaf with [instrument name],https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
1,2,0,traits,6001970066,6.000000e+09,6000008410,6.000000e+09,MAC Field Scanner Season 4 Range 46 Column 14 E,Maricopa,33.076165,...,NaN,NaN,NaN,NaN,2,PI564163,NaN,temperature of sunlit leaf with [instrument name],https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
2,3,0,traits,6001970097,6.000000e+09,6000007597,6.000000e+09,MAC Field Scanner Season 4 Range 21 Column 8 W,Maricopa,33.075266,...,NaN,NaN,NaN,NaN,2,PI505722,NaN,temperature of sunlit leaf with [instrument name],https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
3,4,0,traits,6001970098,6.000000e+09,6000007597,6.000000e+09,MAC Field Scanner Season 4 Range 21 Column 8 W,Maricopa,33.075266,...,NaN,NaN,NaN,NaN,2,PI505722,NaN,temperature of sunlit leaf with [instrument name],https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
4,5,0,traits,6001970099,6.000000e+09,6000007597,6.000000e+09,MAC Field Scanner Season 4 Range 21 Column 8 W,Maricopa,33.075266,...,NaN,NaN,NaN,NaN,2,PI505722,NaN,temperature of sunlit leaf with [instrument name],https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...

In [3]:
# try specifying dtype to eliminate DtypeWarning

df2 = pd.read_csv('mac_season_4.csv', sep=',', dtype={'a': str})
df2.head()

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (18,32,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,checked,result_type,id,citation_id,site_id,treatment_id,sitename,city,lat,...,n,statname,stat,notes,access_level,cultivar,entity,method_name,view_url,edit_url
0,1,0,traits,6001970065,6.000000e+09,6000008410,6.000000e+09,MAC Field Scanner Season 4 Range 46 Column 14 E,Maricopa,33.076165,...,NaN,NaN,NaN,NaN,2,PI564163,NaN,temperature of sunlit leaf with [instrument name],https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
1,2,0,traits,6001970066,6.000000e+09,6000008410,6.000000e+09,MAC Field Scanner Season 4 Range 46 Column 14 E,Maricopa,33.076165,...,NaN,NaN,NaN,NaN,2,PI564163,NaN,temperature of sunlit leaf with [instrument name],https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
2,3,0,traits,6001970097,6.000000e+09,6000007597,6.000000e+09,MAC Field Scanner Season 4 Range 21 Column 8 W,Maricopa,33.075266,...,NaN,NaN,NaN,NaN,2,PI505722,NaN,temperature of sunlit leaf with [instrument name],https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
3,4,0,traits,6001970098,6.000000e+09,6000007597,6.000000e+09,MAC Field Scanner Season 4 Range 21 Column 8 W,Maricopa,33.075266,...,NaN,NaN,NaN,NaN,2,PI505722,NaN,temperature of sunlit leaf with [instrument name],https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
4,5,0,traits,6001970099,6.000000e+09,6000007597,6.000000e+09,MAC Field Scanner Season 4 Range 21 Column 8 W,Maricopa,33.075266,...,NaN,NaN,NaN,NaN,2,PI505722,NaN,temperature of sunlit leaf with [instrument name],https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...

In [4]:
# confirm same shape from R

df2.shape

(372363, 39)

In [5]:
df2.columns

Index(['Unnamed: 0', 'checked', 'result_type', 'id', 'citation_id', 'site_id',
       'treatment_id', 'sitename', 'city', 'lat', 'lon', 'scientificname',
       'commonname', 'genus', 'species_id', 'cultivar_id', 'author',
       'citation_year', 'treatment', 'date', 'time', 'raw_date', 'month',
       'year', 'dateloc', 'trait', 'trait_description', 'mean', 'units', 'n',
       'statname', 'stat', 'notes', 'access_level', 'cultivar', 'entity',
       'method_name', 'view_url', 'edit_url'],
      dtype='object')

In [8]:
# mixed dtypes in columns 18, 32, 35

print(df2.columns[18], df2.columns[32], df2.columns[35])

treatment notes entity

In [14]:
df2['treatment'].head()

0    BAP 2017, water-deficit stress Aug 1-14
1    BAP 2017, water-deficit stress Aug 1-14
2    BAP 2017, water-deficit stress Aug 1-14
3    BAP 2017, water-deficit stress Aug 1-14
4    BAP 2017, water-deficit stress Aug 1-14
Name: treatment, dtype: object

In [15]:
df2['notes'].head()

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: notes, dtype: object

In [16]:
df2['entity'].head()

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: entity, dtype: object

In [17]:
df2.result_type.unique()

array(['traits'], dtype=object)

In [19]:
df2.iloc[5]

Unnamed: 0                                                           6
checked                                                              0
result_type                                                     traits
id                                                          6001970112
citation_id                                                      6e+09
site_id                                                     6000008410
treatment_id                                                     6e+09
sitename               MAC Field Scanner Season 4 Range 46 Column 14 E
city                                                          Maricopa
lat                                                            33.0762
lon                                                           -111.975
scientificname                                         Sorghum bicolor
commonname                                                     sorghum
genus                                                          Sorghum
species_id                                                        2588
cultivar_id                                                 6000000231
author                                                  Newcomb, Maria
citation_year                                                     2017
treatment                      BAP 2017, water-deficit stress Aug 1-14
date                                                       2017 Jun 26
time                                        12:45:00 (America/Phoenix)
raw_date                                     2017-06-26 14:45:00 -0500
month                                                                6
year                                                              2017
dateloc                                                              5
trait                                                 leaf_temperature
trait_description          temperature of the surface of a sunlit leaf
mean                                                            307.65
units                                                                K
n                                                                  NaN
statname                                                           NaN
stat                                                               NaN
notes                                                              NaN
access_level                                                         2
cultivar                                                      PI564163
entity                                                             NaN
method_name          temperature of sunlit leaf with [instrument name]
view_url             https://terraref.ncsa.illinois.edu/bety/traits...
edit_url             https://terraref.ncsa.illinois.edu/bety/traits...
Name: 5, dtype: object

In [20]:
df2.trait.unique()

array(['leaf_temperature', 'planter_seed_drop', 'aboveground_dry_biomass',
       'seedling_emergence_rate', 'panicle_height', 'stand_count',
       'dry_matter_fraction', 'harvest_lodging_rating', 'flowering_time',
       'stalk_diameter_fixed_height', 'stalk_diameter_minor_axis',
       'stalk_diameter_major_axis', 'grain_stage_time',
       'stem_elongated_internodes_number', 'leaf_width', 'canopy_cover',
       'lodging_present', 'surface_temperature', 'emergence_count',
       'flag_leaf_emergence_time', 'leaf_stomatal_conductance',
       'absorbance_650', 'absorbance_850', 'roll', 'PhiNO', 'PhiNPQ',
       'absorbance_530', 'absorbance_605', 'absorbance_730',
       'absorbance_880', 'absorbance_940', 'Fs', 'NPQt', 'qL', 'qP',
       'RFd', 'SPAD_530', 'SPAD_605', 'SPAD_730', 'leaf_thickness',
       'ambient_humidity', 'leaf_angle_clamp_position', 'pitch',
       'proximal_air_temperature', 'FvP/FmP', 'gH+', 'ECSt',
       'leaf_temperature_differential', 'Phi2', 'relative_chlorophyll',
       'FmPrime', 'FoPrime', 'LEF', 'SPAD_420', 'SPAD_650', 'SPAD_850',
       'SPAD_880', 'light_intensity_PAR', 'vH+', 'leaf_angle_mean',
       'leaf_angle_alpha', 'leaf_angle_beta', 'leaf_angle_chi',
       'canopy_height', 'anthocyanin_index', 'leaf_length',
       'aboveground_biomass_moisture', 'panicle_count', 'panicle_volume',
       'panicle_surface_area', 'leaf_desiccation_present',
       'chlorophyll_index', 'flavonol_index',
       'NBI_nitrogen_balance_index', 'plant_basal_tiller_number',
       'absorbance_420', 'aboveground_fresh_biomass'], dtype=object)

In [21]:
df2.sitename.nunique()

2221

In [23]:
df2.site_id.nunique()

2221

In [24]:
df2.sitename.unique()

array(['MAC Field Scanner Season 4 Range 46 Column 14 E',
       'MAC Field Scanner Season 4 Range 21 Column 8 W',
       'MAC Field Scanner Season 4 Range 13 Column 14', ...,
       'MAC Field Scanner Season 4 Range 30 Column 3 W',
       'MAC Field Scanner Season 4 Range 20 Column 13 W',
       'MAC Field Scanner Season 4 Range 20 Column 12 E'], dtype=object)

In [25]:
df2.sitename.head(25)

0     MAC Field Scanner Season 4 Range 46 Column 14 E
1     MAC Field Scanner Season 4 Range 46 Column 14 E
2      MAC Field Scanner Season 4 Range 21 Column 8 W
3      MAC Field Scanner Season 4 Range 21 Column 8 W
4      MAC Field Scanner Season 4 Range 21 Column 8 W
5     MAC Field Scanner Season 4 Range 46 Column 14 E
6     MAC Field Scanner Season 4 Range 46 Column 14 E
7     MAC Field Scanner Season 4 Range 46 Column 14 E
8     MAC Field Scanner Season 4 Range 46 Column 14 E
9     MAC Field Scanner Season 4 Range 46 Column 14 E
10    MAC Field Scanner Season 4 Range 46 Column 14 E
11    MAC Field Scanner Season 4 Range 46 Column 14 E
12    MAC Field Scanner Season 4 Range 46 Column 14 E
13    MAC Field Scanner Season 4 Range 46 Column 14 E
14    MAC Field Scanner Season 4 Range 46 Column 14 E
15    MAC Field Scanner Season 4 Range 46 Column 14 E
16    MAC Field Scanner Season 4 Range 46 Column 14 E
17    MAC Field Scanner Season 4 Range 46 Column 14 E
18    MAC Field Scanner Season 4 Range 46 Column 14 E
19    MAC Field Scanner Season 4 Range 46 Column 14 E
20    MAC Field Scanner Season 4 Range 46 Column 14 E
21    MAC Field Scanner Season 4 Range 46 Column 14 E
22    MAC Field Scanner Season 4 Range 46 Column 14 E
23      MAC Field Scanner Season 4 Range 13 Column 14
24      MAC Field Scanner Season 4 Range 13 Column 14
Name: sitename, dtype: object

In [35]:
# grouped_by_site = df2.pivot(index = 'sitename')

In [41]:
df2.loc[df2.trait == 'aboveground_dry_biomass'].head()

,Unnamed: 0,checked,result_type,id,citation_id,site_id,treatment_id,sitename,city,lat,...,n,statname,stat,notes,access_level,cultivar,entity,method_name,view_url,edit_url
864,865,0,traits,6001965127,6.000000e+09,6000005241,6.000000e+09,MAC Field Scanner Season 4 Range 2 Column 5,Maricopa,33.074584,...,NaN,NaN,NaN,NaN,2,SP1615,NaN,Whole above ground biomass at harvest,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
865,866,0,traits,6001965147,6.000000e+09,6000005237,6.000000e+09,MAC Field Scanner Season 4 Range 2 Column 9,Maricopa,33.074584,...,NaN,NaN,NaN,NaN,2,SP1615,NaN,Whole above ground biomass at harvest,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
866,867,0,traits,6001965192,6.000000e+09,6000005345,6.000000e+09,MAC Field Scanner Season 4 Range 3 Column 4,Maricopa,33.074619,...,NaN,NaN,NaN,NaN,2,PI145626,NaN,Whole above ground biomass at harvest,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
867,868,0,traits,6001965202,6.000000e+09,6000005351,6.000000e+09,MAC Field Scanner Season 4 Range 3 Column 6,Maricopa,33.074620,...,NaN,NaN,NaN,NaN,2,PI330181,NaN,Whole above ground biomass at harvest,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
868,869,0,traits,6001965232,6.000000e+09,6000005369,6.000000e+09,MAC Field Scanner Season 4 Range 3 Column 12,Maricopa,33.074620,...,NaN,NaN,NaN,NaN,2,PI152771,NaN,Whole above ground biomass at harvest,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...

In [42]:
df2.iloc[864]

Unnamed: 0                                                         865
checked                                                              0
result_type                                                     traits
id                                                          6001965127
citation_id                                                      6e+09
site_id                                                     6000005241
treatment_id                                                     6e+09
sitename                   MAC Field Scanner Season 4 Range 2 Column 5
city                                                          Maricopa
lat                                                            33.0746
lon                                                           -111.975
scientificname                                         Sorghum bicolor
commonname                                                     sorghum
genus                                                          Sorghum
species_id                                                        2588
cultivar_id                                                 6000001054
author                                                  Newcomb, Maria
citation_year                                                     2017
treatment                      BAP 2017, water-deficit stress Aug 1-14
date                                     2017 Sep 11 (America/Phoenix)
time                                     [time unspecified or unknown]
raw_date                                     2017-09-12 00:00:00 -0500
month                                                                9
year                                                              2017
dateloc                                                              5
trait                                          aboveground_dry_biomass
trait_description                              Aboveground Dry Biomass
mean                                                             37330
units                                                          kg / ha
n                                                                  NaN
statname                                                           NaN
stat                                                               NaN
notes                                                              NaN
access_level                                                         2
cultivar                                                        SP1615
entity                                                             NaN
method_name                      Whole above ground biomass at harvest
view_url             https://terraref.ncsa.illinois.edu/bety/traits...
edit_url             https://terraref.ncsa.illinois.edu/bety/traits...
Name: 864, dtype: object