### End of season biomass
trait = `aboveground_dry_biomass`

In [2]:
import datetime
import pandas as pd
import numpy as np
import sqlite3

import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df_0 = pd.read_csv('../data/raw/mac_season_4.csv')
df_0.head()

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (18,26,32,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,checked,result_type,id,citation_id,site_id,treatment_id,sitename,city,lat,...,n,statname,stat,notes,access_level,cultivar,entity,method_name,view_url,edit_url
0,1,0,traits,6001958927,6.000000e+09,6000005673,6.000000e+09,MAC Field Scanner Season 4 Range 11 Column 5,Maricopa,33.074907,...,NaN,NaN,NaN,NaN,2,PI181083,NaN,Visual assessment of leaf dessication,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
1,2,0,traits,6001958928,6.000000e+09,6000005676,6.000000e+09,MAC Field Scanner Season 4 Range 11 Column 6,Maricopa,33.074907,...,NaN,NaN,NaN,NaN,2,PI564163,NaN,Visual assessment of leaf dessication,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
2,3,0,traits,6001958931,6.000000e+09,6000005685,6.000000e+09,MAC Field Scanner Season 4 Range 11 Column 9,Maricopa,33.074907,...,NaN,NaN,NaN,NaN,2,PI52606,NaN,Visual assessment of leaf dessication,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
3,4,0,traits,6001958933,6.000000e+09,6000005691,6.000000e+09,MAC Field Scanner Season 4 Range 11 Column 11,Maricopa,33.074907,...,NaN,NaN,NaN,NaN,2,PI533792,NaN,Visual assessment of leaf dessication,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
4,5,0,traits,6001958936,6.000000e+09,6000005700,6.000000e+09,MAC Field Scanner Season 4 Range 11 Column 14,Maricopa,33.074907,...,NaN,NaN,NaN,NaN,2,PI535794,NaN,Visual assessment of leaf dessication,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...

In [4]:
# df_0.columns

Index(['Unnamed: 0', 'checked', 'result_type', 'id', 'citation_id', 'site_id',
       'treatment_id', 'sitename', 'city', 'lat', 'lon', 'scientificname',
       'commonname', 'genus', 'species_id', 'cultivar_id', 'author',
       'citation_year', 'treatment', 'date', 'time', 'raw_date', 'month',
       'year', 'dateloc', 'trait', 'trait_description', 'mean', 'units', 'n',
       'statname', 'stat', 'notes', 'access_level', 'cultivar', 'entity',
       'method_name', 'view_url', 'edit_url'],
      dtype='object')

In [5]:
cols_to_keep = ['result_type', 'id', 'site_id', 'sitename', 'lat', 'lon', 'cultivar_id', 'author', 
                'date', 'time', 'raw_date', 'trait', 'trait_description', 'mean', 'units', 'notes', 
                'access_level', 'cultivar', 'entity', 'method_name']

In [6]:
cols_to_drop = []

for col in df_0.columns.values:
    
    if col not in cols_to_keep:
        cols_to_drop.append(col)

cols_to_drop

['Unnamed: 0',
 'checked',
 'citation_id',
 'treatment_id',
 'city',
 'scientificname',
 'commonname',
 'genus',
 'species_id',
 'citation_year',
 'treatment',
 'month',
 'year',
 'dateloc',
 'n',
 'statname',
 'stat',
 'view_url',
 'edit_url']

In [7]:
df_1 = df_0.drop(labels=cols_to_drop, axis=1)
df_1.head()

,result_type,id,site_id,sitename,lat,lon,cultivar_id,author,date,time,raw_date,trait,trait_description,mean,units,notes,access_level,cultivar,entity,method_name
0,traits,6001958927,6000005673,MAC Field Scanner Season 4 Range 11 Column 5,33.074907,-111.974982,6000000730,"Newcomb, Maria",2017 Jun 14 (America/Phoenix),[time unspecified or unknown],2017-06-15 00:00:00 -0500,leaf_desiccation_present,Presence or absence of leaves showing desiccat...,0.0,NaN,NaN,2,PI181083,NaN,Visual assessment of leaf dessication
1,traits,6001958928,6000005676,MAC Field Scanner Season 4 Range 11 Column 6,33.074907,-111.974966,6000000231,"Newcomb, Maria",2017 Jun 14 (America/Phoenix),[time unspecified or unknown],2017-06-15 00:00:00 -0500,leaf_desiccation_present,Presence or absence of leaves showing desiccat...,0.0,NaN,NaN,2,PI564163,NaN,Visual assessment of leaf dessication
2,traits,6001958931,6000005685,MAC Field Scanner Season 4 Range 11 Column 9,33.074907,-111.974917,6000000860,"Newcomb, Maria",2017 Jun 14 (America/Phoenix),[time unspecified or unknown],2017-06-15 00:00:00 -0500,leaf_desiccation_present,Presence or absence of leaves showing desiccat...,0.0,NaN,NaN,2,PI52606,NaN,Visual assessment of leaf dessication
3,traits,6001958933,6000005691,MAC Field Scanner Season 4 Range 11 Column 11,33.074907,-111.974884,6000000863,"Newcomb, Maria",2017 Jun 14 (America/Phoenix),[time unspecified or unknown],2017-06-15 00:00:00 -0500,leaf_desiccation_present,Presence or absence of leaves showing desiccat...,0.0,NaN,NaN,2,PI533792,NaN,Visual assessment of leaf dessication
4,traits,6001958936,6000005700,MAC Field Scanner Season 4 Range 11 Column 14,33.074907,-111.974835,6000000869,"Newcomb, Maria",2017 Jun 14 (America/Phoenix),[time unspecified or unknown],2017-06-15 00:00:00 -0500,leaf_desiccation_present,Presence or absence of leaves showing desiccat...,0.0,NaN,NaN,2,PI535794,NaN,Visual assessment of leaf dessication

#### Work only with `aboveground_dry_biomass`

In [8]:
df_1.trait.unique()

array(['leaf_desiccation_present', 'lodging_present', 'leaf_temperature',
       'planter_seed_drop', 'roll', 'PhiNO', 'PhiNPQ', 'absorbance_530',
       'absorbance_605', 'absorbance_730', 'absorbance_880',
       'absorbance_940', 'Fs', 'NPQt', 'qL', 'qP', 'RFd', 'SPAD_530',
       'SPAD_605', 'SPAD_730', 'leaf_thickness', 'ambient_humidity',
       'leaf_angle_clamp_position', 'pitch', 'proximal_air_temperature',
       'FvP/FmP', 'gH+', 'ECSt', 'leaf_temperature_differential', 'Phi2',
       'relative_chlorophyll', 'FmPrime', 'FoPrime', 'LEF', 'SPAD_420',
       'SPAD_650', 'SPAD_850', 'SPAD_880', 'light_intensity_PAR', 'vH+',
       'absorbance_650', 'absorbance_850', 'absorbance_420',
       'surface_temperature', 'leaf_angle_chi', 'leaf_angle_mean',
       'leaf_angle_alpha', 'leaf_angle_beta', 'aboveground_dry_biomass',
       'seedling_emergence_rate', 'panicle_height', 'stand_count',
       'dry_matter_fraction', 'harvest_lodging_rating', 'canopy_height',
       'anthocyanin_index', 'chlorophyll_index',
       'flag_leaf_emergence_time', 'flowering_time', 'grain_stage_time',
       'leaf_length', 'leaf_width', 'leaf_stomatal_conductance',
       'aboveground_biomass_moisture', 'aboveground_fresh_biomass',
       'canopy_cover', 'panicle_count', 'panicle_volume',
       'panicle_surface_area', 'stem_elongated_internodes_number',
       'emergence_count', 'stalk_diameter_fixed_height',
       'stalk_diameter_minor_axis', 'stalk_diameter_major_axis',
       'plant_basal_tiller_number'], dtype=object)

In [9]:
df_2 = df_1.loc[df_1.trait == 'aboveground_dry_biomass']
print(df_2.shape)
# df_2.head()

(200, 20)

,result_type,id,site_id,sitename,lat,lon,cultivar_id,author,date,time,raw_date,trait,trait_description,mean,units,notes,access_level,cultivar,entity,method_name
23576,traits,6001965127,6000005241,MAC Field Scanner Season 4 Range 2 Column 5,33.074584,-111.974982,6000001054,"Newcomb, Maria",2017 Sep 11 (America/Phoenix),[time unspecified or unknown],2017-09-12 00:00:00 -0500,aboveground_dry_biomass,Aboveground Dry Biomass,37330.0,kg / ha,NaN,2,SP1615,NaN,Whole above ground biomass at harvest
23577,traits,6001965147,6000005237,MAC Field Scanner Season 4 Range 2 Column 9,33.074584,-111.974917,6000001054,"Newcomb, Maria",2017 Sep 11 (America/Phoenix),[time unspecified or unknown],2017-09-12 00:00:00 -0500,aboveground_dry_biomass,Aboveground Dry Biomass,36900.0,kg / ha,NaN,2,SP1615,NaN,Whole above ground biomass at harvest
23578,traits,6001965192,6000005345,MAC Field Scanner Season 4 Range 3 Column 4,33.074619,-111.974998,6000000462,"Newcomb, Maria",2017 Sep 10 (America/Phoenix),[time unspecified or unknown],2017-09-11 00:00:00 -0500,aboveground_dry_biomass,Aboveground Dry Biomass,23190.0,kg / ha,NaN,2,PI145626,NaN,Whole above ground biomass at harvest
23579,traits,6001965202,6000005351,MAC Field Scanner Season 4 Range 3 Column 6,33.074620,-111.974966,6000000818,"Newcomb, Maria",2017 Sep 11 (America/Phoenix),[time unspecified or unknown],2017-09-12 00:00:00 -0500,aboveground_dry_biomass,Aboveground Dry Biomass,30150.0,kg / ha,NaN,2,PI330181,NaN,Whole above ground biomass at harvest
23580,traits,6001965232,6000005369,MAC Field Scanner Season 4 Range 3 Column 12,33.074620,-111.974867,6000000685,"Newcomb, Maria",2017 Sep 15 (America/Phoenix),[time unspecified or unknown],2017-09-16 00:00:00 -0500,aboveground_dry_biomass,Aboveground Dry Biomass,21990.0,kg / ha,NaN,2,PI152771,NaN,Whole above ground biomass at harvest

In [11]:
for col in df_2.columns:
    print(f'Number of unique values for {col}: {df_2[col].nunique()}')

Number of unique values for result_type: 1
Number of unique values for id: 199
Number of unique values for site_id: 199
Number of unique values for sitename: 199
Number of unique values for lat: 199
Number of unique values for lon: 199
Number of unique values for cultivar_id: 174
Number of unique values for author: 1
Number of unique values for date: 4
Number of unique values for time: 1
Number of unique values for raw_date: 4
Number of unique values for trait: 1
Number of unique values for trait_description: 1
Number of unique values for mean: 194
Number of unique values for units: 1
Number of unique values for notes: 0
Number of unique values for access_level: 2
Number of unique values for cultivar: 174
Number of unique values for entity: 0
Number of unique values for method_name: 1

In [12]:
for col in df_2.columns:
    if df_2[col].nunique() < 5:
        print(f'Unique values for {col}: {df_2[col].unique()}')

Unique values for result_type: ['traits']
Unique values for author: ['Newcomb, Maria']
Unique values for date: ['2017 Sep 11 (America/Phoenix)' '2017 Sep 10 (America/Phoenix)'
 '2017 Sep 15 (America/Phoenix)' '2017 Sep 14 (America/Phoenix)']
Unique values for time: ['[time unspecified or unknown]']
Unique values for raw_date: ['2017-09-12 00:00:00 -0500' '2017-09-11 00:00:00 -0500'
 '2017-09-16 00:00:00 -0500' '2017-09-15 00:00:00 -0500']
Unique values for trait: ['aboveground_dry_biomass']
Unique values for trait_description: ['Aboveground Dry Biomass']
Unique values for units: ['kg / ha']
Unique values for notes: [nan]
Unique values for access_level: [2 4]
Unique values for entity: [nan]
Unique values for method_name: ['Whole above ground biomass at harvest']

In [13]:
more_cols_to_drop = ['result_type', 'author', 'time', 'trait_description', 'notes', 'entity', 'method_name']

df_3 = df_2.drop(labels=more_cols_to_drop, axis=1)
# df_3.head()

,id,site_id,sitename,lat,lon,cultivar_id,date,raw_date,trait,mean,units,access_level,cultivar
23576,6001965127,6000005241,MAC Field Scanner Season 4 Range 2 Column 5,33.074584,-111.974982,6000001054,2017 Sep 11 (America/Phoenix),2017-09-12 00:00:00 -0500,aboveground_dry_biomass,37330.0,kg / ha,2,SP1615
23577,6001965147,6000005237,MAC Field Scanner Season 4 Range 2 Column 9,33.074584,-111.974917,6000001054,2017 Sep 11 (America/Phoenix),2017-09-12 00:00:00 -0500,aboveground_dry_biomass,36900.0,kg / ha,2,SP1615
23578,6001965192,6000005345,MAC Field Scanner Season 4 Range 3 Column 4,33.074619,-111.974998,6000000462,2017 Sep 10 (America/Phoenix),2017-09-11 00:00:00 -0500,aboveground_dry_biomass,23190.0,kg / ha,2,PI145626
23579,6001965202,6000005351,MAC Field Scanner Season 4 Range 3 Column 6,33.074620,-111.974966,6000000818,2017 Sep 11 (America/Phoenix),2017-09-12 00:00:00 -0500,aboveground_dry_biomass,30150.0,kg / ha,2,PI330181
23580,6001965232,6000005369,MAC Field Scanner Season 4 Range 3 Column 12,33.074620,-111.974867,6000000685,2017 Sep 15 (America/Phoenix),2017-09-16 00:00:00 -0500,aboveground_dry_biomass,21990.0,kg / ha,2,PI152771

In [16]:
# sitenames = df_3.sitename.values

# for site in sitenames:
    
#     if site.endswith(' E') or site.endswith(' W'):
#         print('E OR W ALERT')
#     else:
#         print(site)

#### Extract Range and Column Values

In [17]:
df_4 = df_3.copy()

In [19]:
df_4['range'] = df_4['sitename'].str.extract("Range (\d+)").astype(int)
df_4['column'] = df_4['sitename'].str.extract("Column (\d+)").astype(int)

In [23]:
# check range and column values with random sample
# df_4.sample(n=25)

In [22]:
timestamp = datetime.datetime.now().replace(microsecond=0).isoformat()
output_filename = f'aboveground_dry_biomass_{timestamp}.csv'.replace(':', '')
df_4.to_csv(f'../data/processed/{output_filename}')