## Query betydb for phenotypes dataset
* Season 4 & Season 6
* Wide format: one row per plot
* Days to Emergence
* Days to Flowering
* Aboveground dry biomass

In [1]:
import pandas as pd
import numpy as np

from platform import python_version

# print(python_version())

In [5]:
# %pwd
# %cd '/Users/ejcain/UA-AG/phenotypes/terraref-datasets/'

/Users/ejcain/UA-AG/phenotypes/terraref-datasets

In [2]:
# MAC Season 4 

mac_season_4_df = pd.read_csv('mac_season_4.csv')
mac_season_4_df.head()

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (18,32,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,checked,result_type,id,citation_id,site_id,treatment_id,sitename,city,lat,...,n,statname,stat,notes,access_level,cultivar,entity,method_name,view_url,edit_url
0,1,0,traits,6001970065,6.000000e+09,6000008410,6.000000e+09,MAC Field Scanner Season 4 Range 46 Column 14 E,Maricopa,33.076165,...,NaN,NaN,NaN,NaN,2,PI564163,NaN,temperature of sunlit leaf with [instrument name],https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
1,2,0,traits,6001970066,6.000000e+09,6000008410,6.000000e+09,MAC Field Scanner Season 4 Range 46 Column 14 E,Maricopa,33.076165,...,NaN,NaN,NaN,NaN,2,PI564163,NaN,temperature of sunlit leaf with [instrument name],https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
2,3,0,traits,6001970097,6.000000e+09,6000007597,6.000000e+09,MAC Field Scanner Season 4 Range 21 Column 8 W,Maricopa,33.075266,...,NaN,NaN,NaN,NaN,2,PI505722,NaN,temperature of sunlit leaf with [instrument name],https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
3,4,0,traits,6001970098,6.000000e+09,6000007597,6.000000e+09,MAC Field Scanner Season 4 Range 21 Column 8 W,Maricopa,33.075266,...,NaN,NaN,NaN,NaN,2,PI505722,NaN,temperature of sunlit leaf with [instrument name],https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
4,5,0,traits,6001970099,6.000000e+09,6000007597,6.000000e+09,MAC Field Scanner Season 4 Range 21 Column 8 W,Maricopa,33.075266,...,NaN,NaN,NaN,NaN,2,PI505722,NaN,temperature of sunlit leaf with [instrument name],https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...

In [6]:
# try specifying dtype to eliminate DtypeWarning

df2 = pd.read_csv('mac_season_4.csv', sep=',', dtype={'a': str})
df2.head()

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (18,32,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,checked,result_type,id,citation_id,site_id,treatment_id,sitename,city,lat,...,n,statname,stat,notes,access_level,cultivar,entity,method_name,view_url,edit_url
0,1,0,traits,6001970065,6.000000e+09,6000008410,6.000000e+09,MAC Field Scanner Season 4 Range 46 Column 14 E,Maricopa,33.076165,...,NaN,NaN,NaN,NaN,2,PI564163,NaN,temperature of sunlit leaf with [instrument name],https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
1,2,0,traits,6001970066,6.000000e+09,6000008410,6.000000e+09,MAC Field Scanner Season 4 Range 46 Column 14 E,Maricopa,33.076165,...,NaN,NaN,NaN,NaN,2,PI564163,NaN,temperature of sunlit leaf with [instrument name],https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
2,3,0,traits,6001970097,6.000000e+09,6000007597,6.000000e+09,MAC Field Scanner Season 4 Range 21 Column 8 W,Maricopa,33.075266,...,NaN,NaN,NaN,NaN,2,PI505722,NaN,temperature of sunlit leaf with [instrument name],https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
3,4,0,traits,6001970098,6.000000e+09,6000007597,6.000000e+09,MAC Field Scanner Season 4 Range 21 Column 8 W,Maricopa,33.075266,...,NaN,NaN,NaN,NaN,2,PI505722,NaN,temperature of sunlit leaf with [instrument name],https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
4,5,0,traits,6001970099,6.000000e+09,6000007597,6.000000e+09,MAC Field Scanner Season 4 Range 21 Column 8 W,Maricopa,33.075266,...,NaN,NaN,NaN,NaN,2,PI505722,NaN,temperature of sunlit leaf with [instrument name],https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...

In [7]:
# confirm same shape from R

df2.shape

(372363, 39)

In [5]:
df2.columns

Index(['Unnamed: 0', 'checked', 'result_type', 'id', 'citation_id', 'site_id',
       'treatment_id', 'sitename', 'city', 'lat', 'lon', 'scientificname',
       'commonname', 'genus', 'species_id', 'cultivar_id', 'author',
       'citation_year', 'treatment', 'date', 'time', 'raw_date', 'month',
       'year', 'dateloc', 'trait', 'trait_description', 'mean', 'units', 'n',
       'statname', 'stat', 'notes', 'access_level', 'cultivar', 'entity',
       'method_name', 'view_url', 'edit_url'],
      dtype='object')

In [8]:
# mixed dtypes in columns 18, 32, 35

print(df2.columns[18], df2.columns[32], df2.columns[35])

treatment notes entity

In [14]:
df2['treatment'].head()

0    BAP 2017, water-deficit stress Aug 1-14
1    BAP 2017, water-deficit stress Aug 1-14
2    BAP 2017, water-deficit stress Aug 1-14
3    BAP 2017, water-deficit stress Aug 1-14
4    BAP 2017, water-deficit stress Aug 1-14
Name: treatment, dtype: object

In [15]:
df2['notes'].head()

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: notes, dtype: object

In [16]:
df2['entity'].head()

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: entity, dtype: object

In [17]:
df2.result_type.unique()

array(['traits'], dtype=object)

In [19]:
df2.iloc[5]

Unnamed: 0                                                           6
checked                                                              0
result_type                                                     traits
id                                                          6001970112
citation_id                                                      6e+09
site_id                                                     6000008410
treatment_id                                                     6e+09
sitename               MAC Field Scanner Season 4 Range 46 Column 14 E
city                                                          Maricopa
lat                                                            33.0762
lon                                                           -111.975
scientificname                                         Sorghum bicolor
commonname                                                     sorghum
genus                                                          Sorghum
species_id                                                        2588
cultivar_id                                                 6000000231
author                                                  Newcomb, Maria
citation_year                                                     2017
treatment                      BAP 2017, water-deficit stress Aug 1-14
date                                                       2017 Jun 26
time                                        12:45:00 (America/Phoenix)
raw_date                                     2017-06-26 14:45:00 -0500
month                                                                6
year                                                              2017
dateloc                                                              5
trait                                                 leaf_temperature
trait_description          temperature of the surface of a sunlit leaf
mean                                                            307.65
units                                                                K
n                                                                  NaN
statname                                                           NaN
stat                                                               NaN
notes                                                              NaN
access_level                                                         2
cultivar                                                      PI564163
entity                                                             NaN
method_name          temperature of sunlit leaf with [instrument name]
view_url             https://terraref.ncsa.illinois.edu/bety/traits...
edit_url             https://terraref.ncsa.illinois.edu/bety/traits...
Name: 5, dtype: object

In [20]:
df2.trait.unique()

array(['leaf_temperature', 'planter_seed_drop', 'aboveground_dry_biomass',
       'seedling_emergence_rate', 'panicle_height', 'stand_count',
       'dry_matter_fraction', 'harvest_lodging_rating', 'flowering_time',
       'stalk_diameter_fixed_height', 'stalk_diameter_minor_axis',
       'stalk_diameter_major_axis', 'grain_stage_time',
       'stem_elongated_internodes_number', 'leaf_width', 'canopy_cover',
       'lodging_present', 'surface_temperature', 'emergence_count',
       'flag_leaf_emergence_time', 'leaf_stomatal_conductance',
       'absorbance_650', 'absorbance_850', 'roll', 'PhiNO', 'PhiNPQ',
       'absorbance_530', 'absorbance_605', 'absorbance_730',
       'absorbance_880', 'absorbance_940', 'Fs', 'NPQt', 'qL', 'qP',
       'RFd', 'SPAD_530', 'SPAD_605', 'SPAD_730', 'leaf_thickness',
       'ambient_humidity', 'leaf_angle_clamp_position', 'pitch',
       'proximal_air_temperature', 'FvP/FmP', 'gH+', 'ECSt',
       'leaf_temperature_differential', 'Phi2', 'relative_chlorophyll',
       'FmPrime', 'FoPrime', 'LEF', 'SPAD_420', 'SPAD_650', 'SPAD_850',
       'SPAD_880', 'light_intensity_PAR', 'vH+', 'leaf_angle_mean',
       'leaf_angle_alpha', 'leaf_angle_beta', 'leaf_angle_chi',
       'canopy_height', 'anthocyanin_index', 'leaf_length',
       'aboveground_biomass_moisture', 'panicle_count', 'panicle_volume',
       'panicle_surface_area', 'leaf_desiccation_present',
       'chlorophyll_index', 'flavonol_index',
       'NBI_nitrogen_balance_index', 'plant_basal_tiller_number',
       'absorbance_420', 'aboveground_fresh_biomass'], dtype=object)

In [21]:
df2.sitename.nunique()

2221

In [23]:
df2.site_id.nunique()

2221

In [24]:
df2.sitename.unique()

array(['MAC Field Scanner Season 4 Range 46 Column 14 E',
       'MAC Field Scanner Season 4 Range 21 Column 8 W',
       'MAC Field Scanner Season 4 Range 13 Column 14', ...,
       'MAC Field Scanner Season 4 Range 30 Column 3 W',
       'MAC Field Scanner Season 4 Range 20 Column 13 W',
       'MAC Field Scanner Season 4 Range 20 Column 12 E'], dtype=object)

In [25]:
df2.sitename.head(25)

0     MAC Field Scanner Season 4 Range 46 Column 14 E
1     MAC Field Scanner Season 4 Range 46 Column 14 E
2      MAC Field Scanner Season 4 Range 21 Column 8 W
3      MAC Field Scanner Season 4 Range 21 Column 8 W
4      MAC Field Scanner Season 4 Range 21 Column 8 W
5     MAC Field Scanner Season 4 Range 46 Column 14 E
6     MAC Field Scanner Season 4 Range 46 Column 14 E
7     MAC Field Scanner Season 4 Range 46 Column 14 E
8     MAC Field Scanner Season 4 Range 46 Column 14 E
9     MAC Field Scanner Season 4 Range 46 Column 14 E
10    MAC Field Scanner Season 4 Range 46 Column 14 E
11    MAC Field Scanner Season 4 Range 46 Column 14 E
12    MAC Field Scanner Season 4 Range 46 Column 14 E
13    MAC Field Scanner Season 4 Range 46 Column 14 E
14    MAC Field Scanner Season 4 Range 46 Column 14 E
15    MAC Field Scanner Season 4 Range 46 Column 14 E
16    MAC Field Scanner Season 4 Range 46 Column 14 E
17    MAC Field Scanner Season 4 Range 46 Column 14 E
18    MAC Field Scanner Season 4 Range 46 Column 14 E
19    MAC Field Scanner Season 4 Range 46 Column 14 E
20    MAC Field Scanner Season 4 Range 46 Column 14 E
21    MAC Field Scanner Season 4 Range 46 Column 14 E
22    MAC Field Scanner Season 4 Range 46 Column 14 E
23      MAC Field Scanner Season 4 Range 13 Column 14
24      MAC Field Scanner Season 4 Range 13 Column 14
Name: sitename, dtype: object

In [41]:
df2.loc[df2.trait == 'aboveground_dry_biomass'].head()

,Unnamed: 0,checked,result_type,id,citation_id,site_id,treatment_id,sitename,city,lat,...,n,statname,stat,notes,access_level,cultivar,entity,method_name,view_url,edit_url
864,865,0,traits,6001965127,6.000000e+09,6000005241,6.000000e+09,MAC Field Scanner Season 4 Range 2 Column 5,Maricopa,33.074584,...,NaN,NaN,NaN,NaN,2,SP1615,NaN,Whole above ground biomass at harvest,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
865,866,0,traits,6001965147,6.000000e+09,6000005237,6.000000e+09,MAC Field Scanner Season 4 Range 2 Column 9,Maricopa,33.074584,...,NaN,NaN,NaN,NaN,2,SP1615,NaN,Whole above ground biomass at harvest,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
866,867,0,traits,6001965192,6.000000e+09,6000005345,6.000000e+09,MAC Field Scanner Season 4 Range 3 Column 4,Maricopa,33.074619,...,NaN,NaN,NaN,NaN,2,PI145626,NaN,Whole above ground biomass at harvest,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
867,868,0,traits,6001965202,6.000000e+09,6000005351,6.000000e+09,MAC Field Scanner Season 4 Range 3 Column 6,Maricopa,33.074620,...,NaN,NaN,NaN,NaN,2,PI330181,NaN,Whole above ground biomass at harvest,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
868,869,0,traits,6001965232,6.000000e+09,6000005369,6.000000e+09,MAC Field Scanner Season 4 Range 3 Column 12,Maricopa,33.074620,...,NaN,NaN,NaN,NaN,2,PI152771,NaN,Whole above ground biomass at harvest,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...

In [42]:
df2.iloc[864]

Unnamed: 0                                                         865
checked                                                              0
result_type                                                     traits
id                                                          6001965127
citation_id                                                      6e+09
site_id                                                     6000005241
treatment_id                                                     6e+09
sitename                   MAC Field Scanner Season 4 Range 2 Column 5
city                                                          Maricopa
lat                                                            33.0746
lon                                                           -111.975
scientificname                                         Sorghum bicolor
commonname                                                     sorghum
genus                                                          Sorghum
species_id                                                        2588
cultivar_id                                                 6000001054
author                                                  Newcomb, Maria
citation_year                                                     2017
treatment                      BAP 2017, water-deficit stress Aug 1-14
date                                     2017 Sep 11 (America/Phoenix)
time                                     [time unspecified or unknown]
raw_date                                     2017-09-12 00:00:00 -0500
month                                                                9
year                                                              2017
dateloc                                                              5
trait                                          aboveground_dry_biomass
trait_description                              Aboveground Dry Biomass
mean                                                             37330
units                                                          kg / ha
n                                                                  NaN
statname                                                           NaN
stat                                                               NaN
notes                                                              NaN
access_level                                                         2
cultivar                                                        SP1615
entity                                                             NaN
method_name                      Whole above ground biomass at harvest
view_url             https://terraref.ncsa.illinois.edu/bety/traits...
edit_url             https://terraref.ncsa.illinois.edu/bety/traits...
Name: 864, dtype: object

In [ ]:
# sitename - column 7
# trait - column 25
# mean - column 27
# units - column 28

In [46]:
# test_pivot_df = df2.pivot(index = 'sitename', columns = 'trait', values = ['mean', 'units'])
# test_pivot_df.head()

In [48]:
# inspect duplicates

duplicates = df2.duplicated(subset = ['sitename', 'trait'])

In [50]:
duplicates.value_counts()

True     358621
False     13742
dtype: int64

In [51]:
duplicates.head()

0    False
1     True
2    False
3     True
4     True
dtype: bool

In [57]:
# rows 1:5 - sitename, trait, mean, units

test_sample = df2.loc[1:5, ['sitename', 'trait', 'mean', 'units']]
test_sample

,sitename,trait,mean,units
1,MAC Field Scanner Season 4 Range 46 Column 14 E,leaf_temperature,305.05,K
2,MAC Field Scanner Season 4 Range 21 Column 8 W,leaf_temperature,306.25,K
3,MAC Field Scanner Season 4 Range 21 Column 8 W,leaf_temperature,306.45,K
4,MAC Field Scanner Season 4 Range 21 Column 8 W,leaf_temperature,306.55,K
5,MAC Field Scanner Season 4 Range 46 Column 14 E,leaf_temperature,307.65,K

In [58]:
# days to emergence
# days to flowering
# aboveground dry biomass

In [64]:
# aboveground dry biomass should only have been measured once per plot - at the end of harvest date
# check for duplicates 

dry_biomass_trait = df2.loc[df2['trait'] == 'aboveground_dry_biomass']
dry_biomass_trait.duplicated(subset = 'sitename').value_counts()

False    700
dtype: int64

In [65]:
# days to flowering

flowering_time = df2.loc[df2['trait'] == 'flowering_time']
flowering_time.duplicated(subset = 'sitename').value_counts()

False    112
dtype: int64

In [66]:
# days to emergence

flag_leaf_emergence = df2.loc[df2['trait'] == 'flag_leaf_emergence_time']
flag_leaf_emergence.duplicated(subset = 'sitename').value_counts()

False    122
dtype: int64

In [69]:
# function(s) would be nice. . .

In [74]:
# calculate max canopy height with canopy_height on harvest date / latest date?

In [8]:
# s4 canopy height found in docs

s4_canopy_height = pd.read_csv('s4_canopy_height_formatted.csv')
s4_canopy_height.head()

   cultivar                                      sitename  day  canopy_height
0  PI330181  MAC Field Scanner Season 4 Range 3 Column 12   31             30
1  PI569447  MAC Field Scanner Season 4 Range 3 Column 13   31             27
2       NaN   MAC Field Scanner Season 4 Range 4 Column 2   31             27
3  PI329473   MAC Field Scanner Season 4 Range 4 Column 3   31             18
4  PI330169   MAC Field Scanner Season 4 Range 4 Column 8   31             35

In [9]:
s4_canopy_height.shape

(46673, 4)

In [21]:
test_check = df2.loc[df2['sitename'].str.contains('MAC Field Scanner Season 4 Range 3 Column 12')]

In [20]:
df2.iloc[371831]

Unnamed: 0                                                      371832
checked                                                              0
result_type                                                     traits
id                                                          6004763087
citation_id                                                      6e+09
site_id                                                     6000005369
treatment_id                                                       NaN
sitename                  MAC Field Scanner Season 4 Range 3 Column 12
city                                                          Maricopa
lat                                                            33.0746
lon                                                           -111.975
scientificname                                         Sorghum bicolor
commonname                                                     sorghum
genus                                                          Sorghum
species_id                                                        2588
cultivar_id                                                 6000000685
author                                                    Zongyang, Li
citation_year                                                     2016
treatment                                                          NaN
date                                                        2017 May 6
time                                        12:00:00 (America/Phoenix)
raw_date                                     2017-05-06 14:00:00 -0500
month                                                                5
year                                                              2017
dateloc                                                              5
trait                                                    canopy_height
trait_description    top of the general canopy of the plant, discou...
mean                                                                12
units                                                               cm
n                                                                  NaN
statname                                                           NaN
stat                                                               NaN
notes                                                              NaN
access_level                                                         2
cultivar                                                      PI152771
entity                                                             NaN
method_name                         3D scanner to 98th quantile height
view_url             https://terraref.ncsa.illinois.edu/bety/traits...
edit_url             https://terraref.ncsa.illinois.edu/bety/traits...
Name: 371831, dtype: object

In [22]:
test_check.shape

(370, 39)

In [25]:
print(test_check.raw_date.max())
print(test_check.raw_date.min())

2017-09-16 00:00:00 -0500
2017-04-26 00:00:00 -0500

In [29]:
test_check.loc[test_check.raw_date == test_check.raw_date.max()]['trait']

868     aboveground_dry_biomass
2075        dry_matter_fraction
2246     harvest_lodging_rating
Name: trait, dtype: object

In [39]:
# drop all rows that do not contain trait values for days to flowering, days to emergence, and aboveground dry biomass

selected_traits_only = df2[(df2['trait'] == 'aboveground_dry_biomass') | (df2['trait'] == 'flowering_time') | \
                          (df2['trait'] == 'flag_leaf_emergence_time')]

In [40]:
selected_traits_only.shape

(934, 39)

In [41]:
selected_traits_only.trait.unique()

array(['aboveground_dry_biomass', 'flowering_time',
       'flag_leaf_emergence_time'], dtype=object)

In [42]:
selected_traits_only.columns

Index(['Unnamed: 0', 'checked', 'result_type', 'id', 'citation_id', 'site_id',
       'treatment_id', 'sitename', 'city', 'lat', 'lon', 'scientificname',
       'commonname', 'genus', 'species_id', 'cultivar_id', 'author',
       'citation_year', 'treatment', 'date', 'time', 'raw_date', 'month',
       'year', 'dateloc', 'trait', 'trait_description', 'mean', 'units', 'n',
       'statname', 'stat', 'notes', 'access_level', 'cultivar', 'entity',
       'method_name', 'view_url', 'edit_url'],
      dtype='object')

In [43]:
selected_traits_only.head()

,Unnamed: 0,checked,result_type,id,citation_id,site_id,treatment_id,sitename,city,lat,...,n,statname,stat,notes,access_level,cultivar,entity,method_name,view_url,edit_url
864,865,0,traits,6001965127,6.000000e+09,6000005241,6.000000e+09,MAC Field Scanner Season 4 Range 2 Column 5,Maricopa,33.074584,...,NaN,NaN,NaN,NaN,2,SP1615,NaN,Whole above ground biomass at harvest,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
865,866,0,traits,6001965147,6.000000e+09,6000005237,6.000000e+09,MAC Field Scanner Season 4 Range 2 Column 9,Maricopa,33.074584,...,NaN,NaN,NaN,NaN,2,SP1615,NaN,Whole above ground biomass at harvest,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
866,867,0,traits,6001965192,6.000000e+09,6000005345,6.000000e+09,MAC Field Scanner Season 4 Range 3 Column 4,Maricopa,33.074619,...,NaN,NaN,NaN,NaN,2,PI145626,NaN,Whole above ground biomass at harvest,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
867,868,0,traits,6001965202,6.000000e+09,6000005351,6.000000e+09,MAC Field Scanner Season 4 Range 3 Column 6,Maricopa,33.074620,...,NaN,NaN,NaN,NaN,2,PI330181,NaN,Whole above ground biomass at harvest,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
868,869,0,traits,6001965232,6.000000e+09,6000005369,6.000000e+09,MAC Field Scanner Season 4 Range 3 Column 12,Maricopa,33.074620,...,NaN,NaN,NaN,NaN,2,PI152771,NaN,Whole above ground biomass at harvest,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...

In [44]:
selected_traits_only.iloc[868]

Unnamed: 0                                                      302733
checked                                                              0
result_type                                                     traits
id                                                          6001968013
citation_id                                                      6e+09
site_id                                                     6000005911
treatment_id                                                     6e+09
sitename                 MAC Field Scanner Season 4 Range 43 Column 14
city                                                          Maricopa
lat                                                            33.0761
lon                                                           -111.975
scientificname                                         Sorghum bicolor
commonname                                                     sorghum
genus                                                          Sorghum
species_id                                                        2588
cultivar_id                                                 6000000924
author                                                  Newcomb, Maria
citation_year                                                     2017
treatment                      BAP 2017, water-deficit stress Aug 1-14
date                                     2017 Sep 15 (America/Phoenix)
time                                     [time unspecified or unknown]
raw_date                                     2017-09-16 00:00:00 -0500
month                                                                9
year                                                              2017
dateloc                                                              5
trait                                          aboveground_dry_biomass
trait_description                              Aboveground Dry Biomass
mean                                                             23000
units                                                          kg / ha
n                                                                  NaN
statname                                                           NaN
stat                                                               NaN
notes                                                              NaN
access_level                                                         2
cultivar                                                      PI569427
entity                                                             NaN
method_name                      Whole above ground biomass at harvest
view_url             https://terraref.ncsa.illinois.edu/bety/traits...
edit_url             https://terraref.ncsa.illinois.edu/bety/traits...
Name: 302732, dtype: object

In [57]:
print(selected_traits_only.city.unique())
print(selected_traits_only.id.nunique())
print(selected_traits_only.citation_id.nunique())
print(selected_traits_only.site_id.nunique())
print(selected_traits_only.lat.nunique())
print(selected_traits_only.scientificname.nunique())
print(selected_traits_only.species_id.nunique())
print(selected_traits_only.cultivar_id.nunique())
print(selected_traits_only.trait_description.unique())
print(selected_traits_only.n.unique())
print(selected_traits_only.notes.unique())
print(selected_traits_only.cultivar.nunique())
print(selected_traits_only.method_name.unique())

['Maricopa']
934
1
708
708
1
1
351
['Aboveground Dry Biomass'
 'Number of days from sowing to the date when 50% of the plants in a plot reach flowering (anthesis), defined as the time when 50% of the anthers on 50% of the plants in a plot have emerged.'
 'Number days from sowing to the date when 50% of the plants in a plot have reached flag leaf emergence (ligulation) stage. Flag leaf is the last leaf to emerge from the whorl, positioned directly below the panicle.']
[nan]
[nan]
351
['Whole above ground biomass at harvest'
 'Visual classification of sorghum growth stages to determine estimates of developmental timing']

In [83]:
selected_traits_only.shape

(934, 39)

In [61]:
cols_to_drop = ['Unnamed: 0', 'checked', 'result_type', 'citation_id', 'scientificname', 'species_id', 'author', \
               'citation_year', 'treatment', 'date', 'month', 'year', 'dateloc', 'n', 'statname', 'stat', 'notes', \
               'access_level', 'entity', 'method_name', 'view_url', 'edit_url', 'treatment_id', 'city', 'commonname', \
               'genus', 'time', 'raw_date']

selected_and_dropped = selected_traits_only.drop(labels = cols_to_drop, axis = 1)

In [62]:
selected_and_dropped.head()

,id,site_id,sitename,lat,lon,cultivar_id,trait,trait_description,mean,units,cultivar
864,6001965127,6000005241,MAC Field Scanner Season 4 Range 2 Column 5,33.074584,-111.974982,6000001054,aboveground_dry_biomass,Aboveground Dry Biomass,37330.0,kg / ha,SP1615
865,6001965147,6000005237,MAC Field Scanner Season 4 Range 2 Column 9,33.074584,-111.974917,6000001054,aboveground_dry_biomass,Aboveground Dry Biomass,36900.0,kg / ha,SP1615
866,6001965192,6000005345,MAC Field Scanner Season 4 Range 3 Column 4,33.074619,-111.974998,6000000462,aboveground_dry_biomass,Aboveground Dry Biomass,23190.0,kg / ha,PI145626
867,6001965202,6000005351,MAC Field Scanner Season 4 Range 3 Column 6,33.074620,-111.974966,6000000818,aboveground_dry_biomass,Aboveground Dry Biomass,30150.0,kg / ha,PI330181
868,6001965232,6000005369,MAC Field Scanner Season 4 Range 3 Column 12,33.074620,-111.974867,6000000685,aboveground_dry_biomass,Aboveground Dry Biomass,21990.0,kg / ha,PI152771

In [84]:
selected_and_dropped.shape

(934, 11)

In [69]:
# Check for duplicates

selected_and_dropped.duplicated(subset = ['site_id', 'sitename', 'trait_description']).value_counts()

False    934
dtype: int64

In [71]:
selected_and_dropped.to_csv('selected_traits_with_cultivar_and_site_ids.csv', index = False)

In [72]:
print(selected_and_dropped.trait.unique())
print(selected_and_dropped.trait_description.unique())
print(selected_and_dropped.units.unique())

['aboveground_dry_biomass' 'flowering_time' 'flag_leaf_emergence_time']
['Aboveground Dry Biomass'
 'Number of days from sowing to the date when 50% of the plants in a plot reach flowering (anthesis), defined as the time when 50% of the anthers on 50% of the plants in a plot have emerged.'
 'Number days from sowing to the date when 50% of the plants in a plot have reached flag leaf emergence (ligulation) stage. Flag leaf is the last leaf to emerge from the whorl, positioned directly below the panicle.']
['kg / ha' 'days']

In [88]:
id_cols_to_drop = ['id', 'site_id', 'lat', 'lon', 'cultivar_id', 'trait_description', 'units']
bare_bones_df = selected_and_dropped.drop(labels = id_cols_to_drop, axis = 1)

In [110]:
bare_bones_df.tail()

,sitename,trait,mean,cultivar
304147,MAC Field Scanner Season 4 Range 20 Column 4,aboveground_dry_biomass,12220.0,PI526905
304158,MAC Field Scanner Season 4 Range 20 Column 15,aboveground_dry_biomass,10480.0,PI152828
304159,MAC Field Scanner Season 4 Range 30 Column 4,aboveground_dry_biomass,17260.0,PI569416
304164,MAC Field Scanner Season 4 Range 30 Column 11,aboveground_dry_biomass,14990.0,PI563022
304167,MAC Field Scanner Season 4 Range 30 Column 12,aboveground_dry_biomass,20100.0,PI568717

In [112]:
print(bare_bones_df.sitename.nunique())
print(bare_bones_df.cultivar.nunique())
print(bare_bones_df.trait.nunique())

708
351
3

In [113]:
# two indices?

site_cultivar_indices = pd.pivot_table(data = bare_bones_df, index = ['sitename', 'cultivar'], columns = 'trait',
                                      values = 'mean')

In [114]:
site_cultivar_indices.head()

,trait,aboveground_dry_biomass,flag_leaf_emergence_time,flowering_time
sitename,cultivar,,,
MAC Field Scanner Season 4 Range 10 Column 10,PI152816,24040.0,NaN,NaN
MAC Field Scanner Season 4 Range 10 Column 11,PI195754,29400.0,NaN,NaN
MAC Field Scanner Season 4 Range 10 Column 12,PI329501,12180.0,NaN,NaN
MAC Field Scanner Season 4 Range 10 Column 13,PI641860,35400.0,91.0,NaN
MAC Field Scanner Season 4 Range 10 Column 14,PI19770,19660.0,NaN,NaN

In [115]:
site_cultivar_indices.shape

(708, 3)

In [116]:
site_cultivar_indices.to_csv('site_cultivar_indices.csv')

In [91]:
print(bare_bones_df.shape)
print(bare_bones_df.sitename.nunique())
print(bare_bones_df.cultivar.nunique())

(934, 4)
708
351

In [92]:
minus_cultivar = bare_bones_df.drop(columns = 'cultivar', axis = 1)

In [93]:
minus_cultivar.head()

,sitename,trait,mean
864,MAC Field Scanner Season 4 Range 2 Column 5,aboveground_dry_biomass,37330.0
865,MAC Field Scanner Season 4 Range 2 Column 9,aboveground_dry_biomass,36900.0
866,MAC Field Scanner Season 4 Range 3 Column 4,aboveground_dry_biomass,23190.0
867,MAC Field Scanner Season 4 Range 3 Column 6,aboveground_dry_biomass,30150.0
868,MAC Field Scanner Season 4 Range 3 Column 12,aboveground_dry_biomass,21990.0

In [100]:
cultivar_and_sitename = bare_bones_df[['sitename', 'cultivar']]
cultivar_and_sitename.head()

                                         sitename  cultivar
864   MAC Field Scanner Season 4 Range 2 Column 5    SP1615
865   MAC Field Scanner Season 4 Range 2 Column 9    SP1615
866   MAC Field Scanner Season 4 Range 3 Column 4  PI145626
867   MAC Field Scanner Season 4 Range 3 Column 6  PI330181
868  MAC Field Scanner Season 4 Range 3 Column 12  PI152771

In [103]:
cultivar_and_sitename.set_index('sitename')
cultivar_and_sitename.head()

                                         sitename  cultivar
864   MAC Field Scanner Season 4 Range 2 Column 5    SP1615
865   MAC Field Scanner Season 4 Range 2 Column 9    SP1615
866   MAC Field Scanner Season 4 Range 3 Column 4  PI145626
867   MAC Field Scanner Season 4 Range 3 Column 6  PI330181
868  MAC Field Scanner Season 4 Range 3 Column 12  PI152771

In [95]:
wide_df = minus_cultivar.pivot(index = 'sitename', columns = 'trait', values = 'mean')
wide_df.head()

trait,aboveground_dry_biomass,flag_leaf_emergence_time,flowering_time
sitename,,,
MAC Field Scanner Season 4 Range 10 Column 10,24040.0,NaN,NaN
MAC Field Scanner Season 4 Range 10 Column 11,29400.0,NaN,NaN
MAC Field Scanner Season 4 Range 10 Column 12,12180.0,NaN,NaN
MAC Field Scanner Season 4 Range 10 Column 13,35400.0,91.0,NaN
MAC Field Scanner Season 4 Range 10 Column 14,19660.0,NaN,NaN

In [105]:
# merge with cultivars

concat_df = pd.concat([wide_df, cultivar_and_sitename], )

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

In [106]:
concat_df.head()

,aboveground_dry_biomass,cultivar,flag_leaf_emergence_time,flowering_time,sitename
MAC Field Scanner Season 4 Range 10 Column 10,24040.0,NaN,NaN,NaN,NaN
MAC Field Scanner Season 4 Range 10 Column 11,29400.0,NaN,NaN,NaN,NaN
MAC Field Scanner Season 4 Range 10 Column 12,12180.0,NaN,NaN,NaN,NaN
MAC Field Scanner Season 4 Range 10 Column 13,35400.0,NaN,91.0,NaN,NaN
MAC Field Scanner Season 4 Range 10 Column 14,19660.0,NaN,NaN,NaN,NaN

In [107]:
concat_df.cultivar.nunique()

351

In [108]:
concat_df.cultivar.count()

934

In [109]:
concat_df.sample(n = 100)

,aboveground_dry_biomass,cultivar,flag_leaf_emergence_time,flowering_time,sitename
MAC Field Scanner Season 4 Range 22 Column 2,12510.0,NaN,NaN,NaN,NaN
302652,NaN,PI167093,NaN,NaN,MAC Field Scanner Season 4 Range 19 Column 12
302699,NaN,PI646251,NaN,NaN,MAC Field Scanner Season 4 Range 34 Column 9
302735,NaN,PI329699,NaN,NaN,MAC Field Scanner Season 4 Range 44 Column 10
MAC Field Scanner Season 4 Range 44 Column 5,33770.0,NaN,NaN,NaN,NaN
939,NaN,PI156890,NaN,NaN,MAC Field Scanner Season 4 Range 28 Column 15
165337,NaN,PI569244,NaN,NaN,MAC Field Scanner Season 4 Range 37 Column 14
MAC Field Scanner Season 4 Range 11 Column 11,11030.0,NaN,50.0,56.0,NaN
220233,NaN,PI297155,NaN,NaN,MAC Field Scanner Season 4 Range 29 Column 6
MAC Field Scanner Season 4 Range 20 Column 5,18930.0,NaN,56.0,63.0,NaN
MAC Field Scanner Season 4 Range 41 Column 12,26310.0,NaN,NaN,NaN,NaN
MAC Field Scanner Season 4 Range 22 Column 15,11240.0,NaN,NaN,NaN,NaN
MAC Field Scanner Season 4 Range 20 Column 8,20140.0,NaN,NaN,NaN,NaN
MAC Field Scanner Season 4 Range 26 Column 8,19550.0,NaN,NaN,NaN,NaN
MAC Field Scanner Season 4 Range 13 Column 4,26630.0,NaN,NaN,NaN,NaN
MAC Field Scanner Season 4 Range 49 Column 5,25790.0,NaN,NaN,NaN,NaN
103812,NaN,PI586435,NaN,NaN,MAC Field Scanner Season 4 Range 51 Column 4
974,NaN,PI570076,NaN,NaN,MAC Field Scanner Season 4 Range 39 Column 5
103799,NaN,PI576401,NaN,NaN,MAC Field Scanner Season 4 Range 46 Column 4
MAC Field Scanner Season 4 Range 27 Column 3,21280.0,NaN,NaN,NaN,NaN
180870,NaN,PI156487,NaN,NaN,MAC Field Scanner Season 4 Range 44 Column 4
220230,NaN,PI170787,NaN,NaN,MAC Field Scanner Season 4 Range 27 Column 5
MAC Field Scanner Season 4 Range 30 Column 15,25830.0,NaN,NaN,NaN,NaN
MAC Field Scanner Season 4 Range 46 Column 15,13780.0,NaN,76.0,78.0,NaN
995,NaN,PI303658,NaN,NaN,MAC Field Scanner Season 4 Range 44 Column 6
MAC Field Scanner Season 4 Range 2 Column 9,36900.0,NaN,NaN,NaN,NaN
MAC Field Scanner Season 4 Range 14 Column 14,18340.0,NaN,NaN,NaN,NaN
MAC Field Scanner Season 4 Range 10 Column 5,43730.0,NaN,70.0,74.0,NaN
302767,NaN,PI505735,NaN,NaN,MAC Field Scanner Season 4 Range 52 Column 8
MAC Field Scanner Season 4 Range 8 Column 6,15810.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...
180877,NaN,PI570074,NaN,NaN,MAC Field Scanner Season 4 Range 47 Column 4
302661,NaN,PI257599,NaN,NaN,MAC Field Scanner Season 4 Range 23 Column 6
MAC Field Scanner Season 4 Range 39 Column 8,24160.0,NaN,NaN,NaN,NaN
MAC Field Scanner Season 4 Range 44 Column 4,20860.0,NaN,NaN,NaN,NaN
165433,NaN,PI641817,NaN,NaN,MAC Field Scanner Season 4 Range 31 Column 11
103657,NaN,Big_Kahuna,NaN,NaN,MAC Field Scanner Season 4 Range 2 Column 4
302641,NaN,PI566819,NaN,NaN,MAC Field Scanner Season 4 Range 16 Column 9
110971,NaN,PI586435,NaN,NaN,MAC Field Scanner Season 4 Range 51 Column 4
103680,NaN,PI569452,NaN,NaN,MAC Field Scanner Season 4 Range 9 Column 5
MAC Field Scanner Season 4 Range 52 Column 3,17220.0,NaN,NaN,NaN,NaN
MAC Field Scanner Season 4 Range 41 Column 4,18190.0,NaN,NaN,NaN,NaN
103683,NaN,PI276837,NaN,NaN,MAC Field Scanner Season 4 Range 9 Column 13
947,NaN,PI329702,NaN,NaN,MAC Field Scanner Season 4 Range 32 Column 12
971,NaN,PI253986,NaN,NaN,MAC Field Scanner Season 4 Range 38 Column 13
MAC Field Scanner Season 4 Range 23 Column 2,13170.0,NaN,NaN,NaN,NaN
180820,NaN,PI337689,NaN,NaN,MAC Field Scanner Season 4 Range 25 Column 4
302668,NaN,PI455221,NaN,NaN,MAC Field Scanner Season 4 Range 25 Column 14
103736,NaN,PI330858,NaN,NaN,MAC Field Scanner Season 4 Range 25 Column 7
180770,NaN,PI535794,NaN,NaN,MAC Field Scanner Season 4 Range 11 Column 14
MAC Field Scanner Season 4 Range 26 Column 11,16150.0,NaN,NaN,NaN,NaN
180873,NaN,PI329843,NaN,NaN,MAC Field Scanner Season 4 Range 44 Column 13
MAC Field Scanner Season 4 Range 13 Column 3,16430.0,NaN,NaN,NaN,NaN
945,NaN,PI641807,NaN,NaN,MAC Field Scanner Season 4 Range 31 Column 13
110944,NaN,PI179749,NaN,NaN,MAC Field Scanner Season 4 Range 10 Column 6
MAC Field Scanner Season 4 Range 35 Column 3,18160.0,NaN,NaN,NaN,NaN
MAC Field Scanner Season 4 Range 51 Column 12,29190.0,NaN,NaN,NaN,NaN
MAC Field Scanner Season 4 Range 5 Column 7,46260.0,NaN,NaN,NaN,NaN
MAC Field Scanner Season 4 Range 17 Column 5,23570.0,NaN,NaN,NaN,NaN
MAC Field Scanner Season 4 Range 8 Column 7,28670.0,NaN,NaN,NaN,NaN
180758,NaN,PI506122,NaN,NaN,MAC Field Scanner Season 4 Range 8 Column 3

In [98]:
merged_df.tail()

,aboveground_dry_biomass,flag_leaf_emergence_time,flowering_time,cultivar
sitename,,,,
MAC Field Scanner Season 4 Range 9 Column 5,19620.0,NaN,NaN,NaN
MAC Field Scanner Season 4 Range 9 Column 6,13300.0,NaN,NaN,NaN
MAC Field Scanner Season 4 Range 9 Column 7,24140.0,NaN,NaN,NaN
MAC Field Scanner Season 4 Range 9 Column 8,24100.0,NaN,NaN,NaN
MAC Field Scanner Season 4 Range 9 Column 9,42720.0,NaN,NaN,NaN

In [99]:
merged_df.cultivar.count()

0

In [78]:
wide_df.sample(n = 25, random_state = 42)

trait,aboveground_dry_biomass,flag_leaf_emergence_time,flowering_time
sitename,,,
MAC Field Scanner Season 4 Range 18 Column 4,11840.0,70.0,72.0
MAC Field Scanner Season 4 Range 27 Column 11,30420.0,72.0,74.0
MAC Field Scanner Season 4 Range 32 Column 13,12110.0,NaN,NaN
MAC Field Scanner Season 4 Range 24 Column 10,26370.0,NaN,NaN
MAC Field Scanner Season 4 Range 50 Column 3,NaN,50.0,58.0
MAC Field Scanner Season 4 Range 34 Column 5,33190.0,NaN,NaN
MAC Field Scanner Season 4 Range 15 Column 7,28380.0,NaN,NaN
MAC Field Scanner Season 4 Range 13 Column 8,11580.0,NaN,NaN
MAC Field Scanner Season 4 Range 44 Column 9,6628.0,NaN,NaN
MAC Field Scanner Season 4 Range 49 Column 13,22020.0,NaN,NaN
MAC Field Scanner Season 4 Range 40 Column 9,27030.0,NaN,NaN
MAC Field Scanner Season 4 Range 24 Column 4,15640.0,NaN,NaN
MAC Field Scanner Season 4 Range 15 Column 4,16670.0,NaN,NaN
MAC Field Scanner Season 4 Range 38 Column 4,16630.0,62.0,70.0
MAC Field Scanner Season 4 Range 47 Column 12,22000.0,NaN,NaN
MAC Field Scanner Season 4 Range 12 Column 7,14250.0,50.0,54.0
MAC Field Scanner Season 4 Range 38 Column 5,21180.0,NaN,NaN
MAC Field Scanner Season 4 Range 47 Column 3,41520.0,NaN,NaN
MAC Field Scanner Season 4 Range 16 Column 10,10310.0,NaN,NaN
MAC Field Scanner Season 4 Range 32 Column 2,17160.0,NaN,NaN
MAC Field Scanner Season 4 Range 17 Column 7,32720.0,NaN,NaN
MAC Field Scanner Season 4 Range 2 Column 2,15910.0,NaN,NaN
MAC Field Scanner Season 4 Range 26 Column 12,14060.0,NaN,NaN
MAC Field Scanner Season 4 Range 53 Column 7,31570.0,NaN,NaN
MAC Field Scanner Season 4 Range 14 Column 3,20780.0,NaN,NaN

In [82]:
# count non-null values

print(wide_df.flag_leaf_emergence_time.count())
print(wide_df.flowering_time.count())

122
112

In [87]:
wide_df.to_csv('test_file_for_nulls.csv', index = False)

In [ ]:
# join on sitenames