## Query betydb for phenotypes dataset
* Season 4 & Season 6
* Wide format: one row per plot
* Days to Emergence
* Days to Flowering
* Aboveground dry biomass

In [1]:
import pandas as pd
import numpy as np

from platform import python_version

# print(python_version())

3.7.4

In [3]:
# %pwd
# %cd '/Users/ejcain/Dev/UA-AG/phenotypes/terraref-datasets/'

/Users/ejcain/Dev/UA-AG/phenotypes/terraref-datasets

In [2]:
# MAC Season 4 

mac_season_4_df = pd.read_csv('mac_season_4.csv')
mac_season_4_df.head()

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (18,32,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,checked,result_type,id,citation_id,site_id,treatment_id,sitename,city,lat,...,n,statname,stat,notes,access_level,cultivar,entity,method_name,view_url,edit_url
0,1,0,traits,6001970065,6.000000e+09,6000008410,6.000000e+09,MAC Field Scanner Season 4 Range 46 Column 14 E,Maricopa,33.076165,...,NaN,NaN,NaN,NaN,2,PI564163,NaN,temperature of sunlit leaf with [instrument name],https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
1,2,0,traits,6001970066,6.000000e+09,6000008410,6.000000e+09,MAC Field Scanner Season 4 Range 46 Column 14 E,Maricopa,33.076165,...,NaN,NaN,NaN,NaN,2,PI564163,NaN,temperature of sunlit leaf with [instrument name],https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
2,3,0,traits,6001970097,6.000000e+09,6000007597,6.000000e+09,MAC Field Scanner Season 4 Range 21 Column 8 W,Maricopa,33.075266,...,NaN,NaN,NaN,NaN,2,PI505722,NaN,temperature of sunlit leaf with [instrument name],https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
3,4,0,traits,6001970098,6.000000e+09,6000007597,6.000000e+09,MAC Field Scanner Season 4 Range 21 Column 8 W,Maricopa,33.075266,...,NaN,NaN,NaN,NaN,2,PI505722,NaN,temperature of sunlit leaf with [instrument name],https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
4,5,0,traits,6001970099,6.000000e+09,6000007597,6.000000e+09,MAC Field Scanner Season 4 Range 21 Column 8 W,Maricopa,33.075266,...,NaN,NaN,NaN,NaN,2,PI505722,NaN,temperature of sunlit leaf with [instrument name],https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...

In [6]:
# try specifying dtype to eliminate DtypeWarning

df2 = pd.read_csv('mac_season_4.csv', sep=',', dtype={'a': str})
df2.head()

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (18,32,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,checked,result_type,id,citation_id,site_id,treatment_id,sitename,city,lat,...,n,statname,stat,notes,access_level,cultivar,entity,method_name,view_url,edit_url
0,1,0,traits,6001970065,6.000000e+09,6000008410,6.000000e+09,MAC Field Scanner Season 4 Range 46 Column 14 E,Maricopa,33.076165,...,NaN,NaN,NaN,NaN,2,PI564163,NaN,temperature of sunlit leaf with [instrument name],https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
1,2,0,traits,6001970066,6.000000e+09,6000008410,6.000000e+09,MAC Field Scanner Season 4 Range 46 Column 14 E,Maricopa,33.076165,...,NaN,NaN,NaN,NaN,2,PI564163,NaN,temperature of sunlit leaf with [instrument name],https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
2,3,0,traits,6001970097,6.000000e+09,6000007597,6.000000e+09,MAC Field Scanner Season 4 Range 21 Column 8 W,Maricopa,33.075266,...,NaN,NaN,NaN,NaN,2,PI505722,NaN,temperature of sunlit leaf with [instrument name],https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
3,4,0,traits,6001970098,6.000000e+09,6000007597,6.000000e+09,MAC Field Scanner Season 4 Range 21 Column 8 W,Maricopa,33.075266,...,NaN,NaN,NaN,NaN,2,PI505722,NaN,temperature of sunlit leaf with [instrument name],https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
4,5,0,traits,6001970099,6.000000e+09,6000007597,6.000000e+09,MAC Field Scanner Season 4 Range 21 Column 8 W,Maricopa,33.075266,...,NaN,NaN,NaN,NaN,2,PI505722,NaN,temperature of sunlit leaf with [instrument name],https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...

In [7]:
# confirm same shape from R

df2.shape

(372363, 39)

In [5]:
df2.columns

Index(['Unnamed: 0', 'checked', 'result_type', 'id', 'citation_id', 'site_id',
       'treatment_id', 'sitename', 'city', 'lat', 'lon', 'scientificname',
       'commonname', 'genus', 'species_id', 'cultivar_id', 'author',
       'citation_year', 'treatment', 'date', 'time', 'raw_date', 'month',
       'year', 'dateloc', 'trait', 'trait_description', 'mean', 'units', 'n',
       'statname', 'stat', 'notes', 'access_level', 'cultivar', 'entity',
       'method_name', 'view_url', 'edit_url'],
      dtype='object')

In [8]:
# mixed dtypes in columns 18, 32, 35

print(df2.columns[18], df2.columns[32], df2.columns[35])

treatment notes entity

In [14]:
df2['treatment'].head()

0    BAP 2017, water-deficit stress Aug 1-14
1    BAP 2017, water-deficit stress Aug 1-14
2    BAP 2017, water-deficit stress Aug 1-14
3    BAP 2017, water-deficit stress Aug 1-14
4    BAP 2017, water-deficit stress Aug 1-14
Name: treatment, dtype: object

In [15]:
df2['notes'].head()

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: notes, dtype: object

In [16]:
df2['entity'].head()

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: entity, dtype: object

In [17]:
df2.result_type.unique()

array(['traits'], dtype=object)

In [19]:
df2.iloc[5]

Unnamed: 0                                                           6
checked                                                              0
result_type                                                     traits
id                                                          6001970112
citation_id                                                      6e+09
site_id                                                     6000008410
treatment_id                                                     6e+09
sitename               MAC Field Scanner Season 4 Range 46 Column 14 E
city                                                          Maricopa
lat                                                            33.0762
lon                                                           -111.975
scientificname                                         Sorghum bicolor
commonname                                                     sorghum
genus                                                          Sorghum
species_id                                                        2588
cultivar_id                                                 6000000231
author                                                  Newcomb, Maria
citation_year                                                     2017
treatment                      BAP 2017, water-deficit stress Aug 1-14
date                                                       2017 Jun 26
time                                        12:45:00 (America/Phoenix)
raw_date                                     2017-06-26 14:45:00 -0500
month                                                                6
year                                                              2017
dateloc                                                              5
trait                                                 leaf_temperature
trait_description          temperature of the surface of a sunlit leaf
mean                                                            307.65
units                                                                K
n                                                                  NaN
statname                                                           NaN
stat                                                               NaN
notes                                                              NaN
access_level                                                         2
cultivar                                                      PI564163
entity                                                             NaN
method_name          temperature of sunlit leaf with [instrument name]
view_url             https://terraref.ncsa.illinois.edu/bety/traits...
edit_url             https://terraref.ncsa.illinois.edu/bety/traits...
Name: 5, dtype: object

In [20]:
df2.trait.unique()

array(['leaf_temperature', 'planter_seed_drop', 'aboveground_dry_biomass',
       'seedling_emergence_rate', 'panicle_height', 'stand_count',
       'dry_matter_fraction', 'harvest_lodging_rating', 'flowering_time',
       'stalk_diameter_fixed_height', 'stalk_diameter_minor_axis',
       'stalk_diameter_major_axis', 'grain_stage_time',
       'stem_elongated_internodes_number', 'leaf_width', 'canopy_cover',
       'lodging_present', 'surface_temperature', 'emergence_count',
       'flag_leaf_emergence_time', 'leaf_stomatal_conductance',
       'absorbance_650', 'absorbance_850', 'roll', 'PhiNO', 'PhiNPQ',
       'absorbance_530', 'absorbance_605', 'absorbance_730',
       'absorbance_880', 'absorbance_940', 'Fs', 'NPQt', 'qL', 'qP',
       'RFd', 'SPAD_530', 'SPAD_605', 'SPAD_730', 'leaf_thickness',
       'ambient_humidity', 'leaf_angle_clamp_position', 'pitch',
       'proximal_air_temperature', 'FvP/FmP', 'gH+', 'ECSt',
       'leaf_temperature_differential', 'Phi2', 'relative_chlorophyll',
       'FmPrime', 'FoPrime', 'LEF', 'SPAD_420', 'SPAD_650', 'SPAD_850',
       'SPAD_880', 'light_intensity_PAR', 'vH+', 'leaf_angle_mean',
       'leaf_angle_alpha', 'leaf_angle_beta', 'leaf_angle_chi',
       'canopy_height', 'anthocyanin_index', 'leaf_length',
       'aboveground_biomass_moisture', 'panicle_count', 'panicle_volume',
       'panicle_surface_area', 'leaf_desiccation_present',
       'chlorophyll_index', 'flavonol_index',
       'NBI_nitrogen_balance_index', 'plant_basal_tiller_number',
       'absorbance_420', 'aboveground_fresh_biomass'], dtype=object)

In [21]:
df2.sitename.nunique()

2221

In [23]:
df2.site_id.nunique()

2221

In [24]:
df2.sitename.unique()

array(['MAC Field Scanner Season 4 Range 46 Column 14 E',
       'MAC Field Scanner Season 4 Range 21 Column 8 W',
       'MAC Field Scanner Season 4 Range 13 Column 14', ...,
       'MAC Field Scanner Season 4 Range 30 Column 3 W',
       'MAC Field Scanner Season 4 Range 20 Column 13 W',
       'MAC Field Scanner Season 4 Range 20 Column 12 E'], dtype=object)

In [25]:
df2.sitename.head(25)

0     MAC Field Scanner Season 4 Range 46 Column 14 E
1     MAC Field Scanner Season 4 Range 46 Column 14 E
2      MAC Field Scanner Season 4 Range 21 Column 8 W
3      MAC Field Scanner Season 4 Range 21 Column 8 W
4      MAC Field Scanner Season 4 Range 21 Column 8 W
5     MAC Field Scanner Season 4 Range 46 Column 14 E
6     MAC Field Scanner Season 4 Range 46 Column 14 E
7     MAC Field Scanner Season 4 Range 46 Column 14 E
8     MAC Field Scanner Season 4 Range 46 Column 14 E
9     MAC Field Scanner Season 4 Range 46 Column 14 E
10    MAC Field Scanner Season 4 Range 46 Column 14 E
11    MAC Field Scanner Season 4 Range 46 Column 14 E
12    MAC Field Scanner Season 4 Range 46 Column 14 E
13    MAC Field Scanner Season 4 Range 46 Column 14 E
14    MAC Field Scanner Season 4 Range 46 Column 14 E
15    MAC Field Scanner Season 4 Range 46 Column 14 E
16    MAC Field Scanner Season 4 Range 46 Column 14 E
17    MAC Field Scanner Season 4 Range 46 Column 14 E
18    MAC Field Scanner Season 4 Range 46 Column 14 E
19    MAC Field Scanner Season 4 Range 46 Column 14 E
20    MAC Field Scanner Season 4 Range 46 Column 14 E
21    MAC Field Scanner Season 4 Range 46 Column 14 E
22    MAC Field Scanner Season 4 Range 46 Column 14 E
23      MAC Field Scanner Season 4 Range 13 Column 14
24      MAC Field Scanner Season 4 Range 13 Column 14
Name: sitename, dtype: object

In [41]:
df2.loc[df2.trait == 'aboveground_dry_biomass'].head()

,Unnamed: 0,checked,result_type,id,citation_id,site_id,treatment_id,sitename,city,lat,...,n,statname,stat,notes,access_level,cultivar,entity,method_name,view_url,edit_url
864,865,0,traits,6001965127,6.000000e+09,6000005241,6.000000e+09,MAC Field Scanner Season 4 Range 2 Column 5,Maricopa,33.074584,...,NaN,NaN,NaN,NaN,2,SP1615,NaN,Whole above ground biomass at harvest,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
865,866,0,traits,6001965147,6.000000e+09,6000005237,6.000000e+09,MAC Field Scanner Season 4 Range 2 Column 9,Maricopa,33.074584,...,NaN,NaN,NaN,NaN,2,SP1615,NaN,Whole above ground biomass at harvest,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
866,867,0,traits,6001965192,6.000000e+09,6000005345,6.000000e+09,MAC Field Scanner Season 4 Range 3 Column 4,Maricopa,33.074619,...,NaN,NaN,NaN,NaN,2,PI145626,NaN,Whole above ground biomass at harvest,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
867,868,0,traits,6001965202,6.000000e+09,6000005351,6.000000e+09,MAC Field Scanner Season 4 Range 3 Column 6,Maricopa,33.074620,...,NaN,NaN,NaN,NaN,2,PI330181,NaN,Whole above ground biomass at harvest,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
868,869,0,traits,6001965232,6.000000e+09,6000005369,6.000000e+09,MAC Field Scanner Season 4 Range 3 Column 12,Maricopa,33.074620,...,NaN,NaN,NaN,NaN,2,PI152771,NaN,Whole above ground biomass at harvest,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...

In [42]:
df2.iloc[864]

Unnamed: 0                                                         865
checked                                                              0
result_type                                                     traits
id                                                          6001965127
citation_id                                                      6e+09
site_id                                                     6000005241
treatment_id                                                     6e+09
sitename                   MAC Field Scanner Season 4 Range 2 Column 5
city                                                          Maricopa
lat                                                            33.0746
lon                                                           -111.975
scientificname                                         Sorghum bicolor
commonname                                                     sorghum
genus                                                          Sorghum
species_id                                                        2588
cultivar_id                                                 6000001054
author                                                  Newcomb, Maria
citation_year                                                     2017
treatment                      BAP 2017, water-deficit stress Aug 1-14
date                                     2017 Sep 11 (America/Phoenix)
time                                     [time unspecified or unknown]
raw_date                                     2017-09-12 00:00:00 -0500
month                                                                9
year                                                              2017
dateloc                                                              5
trait                                          aboveground_dry_biomass
trait_description                              Aboveground Dry Biomass
mean                                                             37330
units                                                          kg / ha
n                                                                  NaN
statname                                                           NaN
stat                                                               NaN
notes                                                              NaN
access_level                                                         2
cultivar                                                        SP1615
entity                                                             NaN
method_name                      Whole above ground biomass at harvest
view_url             https://terraref.ncsa.illinois.edu/bety/traits...
edit_url             https://terraref.ncsa.illinois.edu/bety/traits...
Name: 864, dtype: object

In [ ]:
# sitename - column 7
# trait - column 25
# mean - column 27
# units - column 28

In [46]:
# test_pivot_df = df2.pivot(index = 'sitename', columns = 'trait', values = ['mean', 'units'])
# test_pivot_df.head()

In [48]:
# inspect duplicates

duplicates = df2.duplicated(subset = ['sitename', 'trait'])

In [50]:
duplicates.value_counts()

True     358621
False     13742
dtype: int64

In [51]:
duplicates.head()

0    False
1     True
2    False
3     True
4     True
dtype: bool

In [57]:
# rows 1:5 - sitename, trait, mean, units

test_sample = df2.loc[1:5, ['sitename', 'trait', 'mean', 'units']]
test_sample

,sitename,trait,mean,units
1,MAC Field Scanner Season 4 Range 46 Column 14 E,leaf_temperature,305.05,K
2,MAC Field Scanner Season 4 Range 21 Column 8 W,leaf_temperature,306.25,K
3,MAC Field Scanner Season 4 Range 21 Column 8 W,leaf_temperature,306.45,K
4,MAC Field Scanner Season 4 Range 21 Column 8 W,leaf_temperature,306.55,K
5,MAC Field Scanner Season 4 Range 46 Column 14 E,leaf_temperature,307.65,K

In [58]:
# days to emergence
# days to flowering
# aboveground dry biomass

In [64]:
# aboveground dry biomass should only have been measured once per plot - at the end of harvest date
# check for duplicates 

dry_biomass_trait = df2.loc[df2['trait'] == 'aboveground_dry_biomass']
dry_biomass_trait.duplicated(subset = 'sitename').value_counts()

False    700
dtype: int64

In [65]:
# days to flowering

flowering_time = df2.loc[df2['trait'] == 'flowering_time']
flowering_time.duplicated(subset = 'sitename').value_counts()

False    112
dtype: int64

In [66]:
# days to emergence

flag_leaf_emergence = df2.loc[df2['trait'] == 'flag_leaf_emergence_time']
flag_leaf_emergence.duplicated(subset = 'sitename').value_counts()

False    122
dtype: int64

In [69]:
# function(s) would be nice. . .

In [74]:
# calculate max canopy height with canopy_height on harvest date / latest date?

In [8]:
# s4 canopy height found in docs

s4_canopy_height = pd.read_csv('s4_canopy_height_formatted.csv')
s4_canopy_height.head()

   cultivar                                      sitename  day  canopy_height
0  PI330181  MAC Field Scanner Season 4 Range 3 Column 12   31             30
1  PI569447  MAC Field Scanner Season 4 Range 3 Column 13   31             27
2       NaN   MAC Field Scanner Season 4 Range 4 Column 2   31             27
3  PI329473   MAC Field Scanner Season 4 Range 4 Column 3   31             18
4  PI330169   MAC Field Scanner Season 4 Range 4 Column 8   31             35

In [9]:
s4_canopy_height.shape

(46673, 4)

In [21]:
test_check = df2.loc[df2['sitename'].str.contains('MAC Field Scanner Season 4 Range 3 Column 12')]

In [20]:
df2.iloc[371831]

Unnamed: 0                                                      371832
checked                                                              0
result_type                                                     traits
id                                                          6004763087
citation_id                                                      6e+09
site_id                                                     6000005369
treatment_id                                                       NaN
sitename                  MAC Field Scanner Season 4 Range 3 Column 12
city                                                          Maricopa
lat                                                            33.0746
lon                                                           -111.975
scientificname                                         Sorghum bicolor
commonname                                                     sorghum
genus                                                          Sorghum
species_id                                                        2588
cultivar_id                                                 6000000685
author                                                    Zongyang, Li
citation_year                                                     2016
treatment                                                          NaN
date                                                        2017 May 6
time                                        12:00:00 (America/Phoenix)
raw_date                                     2017-05-06 14:00:00 -0500
month                                                                5
year                                                              2017
dateloc                                                              5
trait                                                    canopy_height
trait_description    top of the general canopy of the plant, discou...
mean                                                                12
units                                                               cm
n                                                                  NaN
statname                                                           NaN
stat                                                               NaN
notes                                                              NaN
access_level                                                         2
cultivar                                                      PI152771
entity                                                             NaN
method_name                         3D scanner to 98th quantile height
view_url             https://terraref.ncsa.illinois.edu/bety/traits...
edit_url             https://terraref.ncsa.illinois.edu/bety/traits...
Name: 371831, dtype: object

In [22]:
test_check.shape

(370, 39)

In [25]:
print(test_check.raw_date.max())
print(test_check.raw_date.min())

2017-09-16 00:00:00 -0500
2017-04-26 00:00:00 -0500

In [29]:
test_check.loc[test_check.raw_date == test_check.raw_date.max()]['trait']

868     aboveground_dry_biomass
2075        dry_matter_fraction
2246     harvest_lodging_rating
Name: trait, dtype: object

In [39]:
# drop all rows that do not contain trait values for days to flowering, days to emergence, and aboveground dry biomass

selected_traits_only = df2[(df2['trait'] == 'aboveground_dry_biomass') | (df2['trait'] == 'flowering_time') | \
                          (df2['trait'] == 'flag_leaf_emergence_time')]

In [40]:
selected_traits_only.shape

(934, 39)

In [41]:
selected_traits_only.trait.unique()

array(['aboveground_dry_biomass', 'flowering_time',
       'flag_leaf_emergence_time'], dtype=object)

In [42]:
selected_traits_only.columns

Index(['Unnamed: 0', 'checked', 'result_type', 'id', 'citation_id', 'site_id',
       'treatment_id', 'sitename', 'city', 'lat', 'lon', 'scientificname',
       'commonname', 'genus', 'species_id', 'cultivar_id', 'author',
       'citation_year', 'treatment', 'date', 'time', 'raw_date', 'month',
       'year', 'dateloc', 'trait', 'trait_description', 'mean', 'units', 'n',
       'statname', 'stat', 'notes', 'access_level', 'cultivar', 'entity',
       'method_name', 'view_url', 'edit_url'],
      dtype='object')

In [43]:
selected_traits_only.head()

,Unnamed: 0,checked,result_type,id,citation_id,site_id,treatment_id,sitename,city,lat,...,n,statname,stat,notes,access_level,cultivar,entity,method_name,view_url,edit_url
864,865,0,traits,6001965127,6.000000e+09,6000005241,6.000000e+09,MAC Field Scanner Season 4 Range 2 Column 5,Maricopa,33.074584,...,NaN,NaN,NaN,NaN,2,SP1615,NaN,Whole above ground biomass at harvest,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
865,866,0,traits,6001965147,6.000000e+09,6000005237,6.000000e+09,MAC Field Scanner Season 4 Range 2 Column 9,Maricopa,33.074584,...,NaN,NaN,NaN,NaN,2,SP1615,NaN,Whole above ground biomass at harvest,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
866,867,0,traits,6001965192,6.000000e+09,6000005345,6.000000e+09,MAC Field Scanner Season 4 Range 3 Column 4,Maricopa,33.074619,...,NaN,NaN,NaN,NaN,2,PI145626,NaN,Whole above ground biomass at harvest,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
867,868,0,traits,6001965202,6.000000e+09,6000005351,6.000000e+09,MAC Field Scanner Season 4 Range 3 Column 6,Maricopa,33.074620,...,NaN,NaN,NaN,NaN,2,PI330181,NaN,Whole above ground biomass at harvest,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
868,869,0,traits,6001965232,6.000000e+09,6000005369,6.000000e+09,MAC Field Scanner Season 4 Range 3 Column 12,Maricopa,33.074620,...,NaN,NaN,NaN,NaN,2,PI152771,NaN,Whole above ground biomass at harvest,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...

In [44]:
selected_traits_only.iloc[868]

Unnamed: 0                                                      302733
checked                                                              0
result_type                                                     traits
id                                                          6001968013
citation_id                                                      6e+09
site_id                                                     6000005911
treatment_id                                                     6e+09
sitename                 MAC Field Scanner Season 4 Range 43 Column 14
city                                                          Maricopa
lat                                                            33.0761
lon                                                           -111.975
scientificname                                         Sorghum bicolor
commonname                                                     sorghum
genus                                                          Sorghum
species_id                                                        2588
cultivar_id                                                 6000000924
author                                                  Newcomb, Maria
citation_year                                                     2017
treatment                      BAP 2017, water-deficit stress Aug 1-14
date                                     2017 Sep 15 (America/Phoenix)
time                                     [time unspecified or unknown]
raw_date                                     2017-09-16 00:00:00 -0500
month                                                                9
year                                                              2017
dateloc                                                              5
trait                                          aboveground_dry_biomass
trait_description                              Aboveground Dry Biomass
mean                                                             23000
units                                                          kg / ha
n                                                                  NaN
statname                                                           NaN
stat                                                               NaN
notes                                                              NaN
access_level                                                         2
cultivar                                                      PI569427
entity                                                             NaN
method_name                      Whole above ground biomass at harvest
view_url             https://terraref.ncsa.illinois.edu/bety/traits...
edit_url             https://terraref.ncsa.illinois.edu/bety/traits...
Name: 302732, dtype: object

In [57]:
print(selected_traits_only.city.unique())
print(selected_traits_only.id.nunique())
print(selected_traits_only.citation_id.nunique())
print(selected_traits_only.site_id.nunique())
print(selected_traits_only.lat.nunique())
print(selected_traits_only.scientificname.nunique())
print(selected_traits_only.species_id.nunique())
print(selected_traits_only.cultivar_id.nunique())
print(selected_traits_only.trait_description.unique())
print(selected_traits_only.n.unique())
print(selected_traits_only.notes.unique())
print(selected_traits_only.cultivar.nunique())
print(selected_traits_only.method_name.unique())

['Maricopa']
934
1
708
708
1
1
351
['Aboveground Dry Biomass'
 'Number of days from sowing to the date when 50% of the plants in a plot reach flowering (anthesis), defined as the time when 50% of the anthers on 50% of the plants in a plot have emerged.'
 'Number days from sowing to the date when 50% of the plants in a plot have reached flag leaf emergence (ligulation) stage. Flag leaf is the last leaf to emerge from the whorl, positioned directly below the panicle.']
[nan]
[nan]
351
['Whole above ground biomass at harvest'
 'Visual classification of sorghum growth stages to determine estimates of developmental timing']

In [83]:
selected_traits_only.shape

(934, 39)

In [61]:
cols_to_drop = ['Unnamed: 0', 'checked', 'result_type', 'citation_id', 'scientificname', 'species_id', 'author', \
               'citation_year', 'treatment', 'date', 'month', 'year', 'dateloc', 'n', 'statname', 'stat', 'notes', \
               'access_level', 'entity', 'method_name', 'view_url', 'edit_url', 'treatment_id', 'city', 'commonname', \
               'genus', 'time', 'raw_date']

selected_and_dropped = selected_traits_only.drop(labels = cols_to_drop, axis = 1)

In [62]:
selected_and_dropped.head()

,id,site_id,sitename,lat,lon,cultivar_id,trait,trait_description,mean,units,cultivar
864,6001965127,6000005241,MAC Field Scanner Season 4 Range 2 Column 5,33.074584,-111.974982,6000001054,aboveground_dry_biomass,Aboveground Dry Biomass,37330.0,kg / ha,SP1615
865,6001965147,6000005237,MAC Field Scanner Season 4 Range 2 Column 9,33.074584,-111.974917,6000001054,aboveground_dry_biomass,Aboveground Dry Biomass,36900.0,kg / ha,SP1615
866,6001965192,6000005345,MAC Field Scanner Season 4 Range 3 Column 4,33.074619,-111.974998,6000000462,aboveground_dry_biomass,Aboveground Dry Biomass,23190.0,kg / ha,PI145626
867,6001965202,6000005351,MAC Field Scanner Season 4 Range 3 Column 6,33.074620,-111.974966,6000000818,aboveground_dry_biomass,Aboveground Dry Biomass,30150.0,kg / ha,PI330181
868,6001965232,6000005369,MAC Field Scanner Season 4 Range 3 Column 12,33.074620,-111.974867,6000000685,aboveground_dry_biomass,Aboveground Dry Biomass,21990.0,kg / ha,PI152771

In [84]:
selected_and_dropped.shape

(934, 11)

In [69]:
# Check for duplicates

selected_and_dropped.duplicated(subset = ['site_id', 'sitename', 'trait_description']).value_counts()

False    934
dtype: int64

In [71]:
selected_and_dropped.to_csv('selected_traits_with_cultivar_and_site_ids.csv', index = False)

In [72]:
print(selected_and_dropped.trait.unique())
print(selected_and_dropped.trait_description.unique())
print(selected_and_dropped.units.unique())

['aboveground_dry_biomass' 'flowering_time' 'flag_leaf_emergence_time']
['Aboveground Dry Biomass'
 'Number of days from sowing to the date when 50% of the plants in a plot reach flowering (anthesis), defined as the time when 50% of the anthers on 50% of the plants in a plot have emerged.'
 'Number days from sowing to the date when 50% of the plants in a plot have reached flag leaf emergence (ligulation) stage. Flag leaf is the last leaf to emerge from the whorl, positioned directly below the panicle.']
['kg / ha' 'days']

In [88]:
id_cols_to_drop = ['id', 'site_id', 'lat', 'lon', 'cultivar_id', 'trait_description', 'units']
bare_bones_df = selected_and_dropped.drop(labels = id_cols_to_drop, axis = 1)

In [110]:
bare_bones_df.tail()

,sitename,trait,mean,cultivar
304147,MAC Field Scanner Season 4 Range 20 Column 4,aboveground_dry_biomass,12220.0,PI526905
304158,MAC Field Scanner Season 4 Range 20 Column 15,aboveground_dry_biomass,10480.0,PI152828
304159,MAC Field Scanner Season 4 Range 30 Column 4,aboveground_dry_biomass,17260.0,PI569416
304164,MAC Field Scanner Season 4 Range 30 Column 11,aboveground_dry_biomass,14990.0,PI563022
304167,MAC Field Scanner Season 4 Range 30 Column 12,aboveground_dry_biomass,20100.0,PI568717

In [112]:
print(bare_bones_df.sitename.nunique())
print(bare_bones_df.cultivar.nunique())
print(bare_bones_df.trait.nunique())

708
351
3

In [113]:
# two indices?

site_cultivar_indices = pd.pivot_table(data = bare_bones_df, index = ['sitename', 'cultivar'], columns = 'trait',
                                      values = 'mean')

In [114]:
site_cultivar_indices.head()

,trait,aboveground_dry_biomass,flag_leaf_emergence_time,flowering_time
sitename,cultivar,,,
MAC Field Scanner Season 4 Range 10 Column 10,PI152816,24040.0,NaN,NaN
MAC Field Scanner Season 4 Range 10 Column 11,PI195754,29400.0,NaN,NaN
MAC Field Scanner Season 4 Range 10 Column 12,PI329501,12180.0,NaN,NaN
MAC Field Scanner Season 4 Range 10 Column 13,PI641860,35400.0,91.0,NaN
MAC Field Scanner Season 4 Range 10 Column 14,PI19770,19660.0,NaN,NaN

In [115]:
site_cultivar_indices.shape

(708, 3)

In [116]:
site_cultivar_indices.to_csv('site_cultivar_indices.csv')

In [91]:
print(bare_bones_df.shape)
print(bare_bones_df.sitename.nunique())
print(bare_bones_df.cultivar.nunique())

(934, 4)
708
351

In [92]:
minus_cultivar = bare_bones_df.drop(columns = 'cultivar', axis = 1)

In [93]:
minus_cultivar.head()

,sitename,trait,mean
864,MAC Field Scanner Season 4 Range 2 Column 5,aboveground_dry_biomass,37330.0
865,MAC Field Scanner Season 4 Range 2 Column 9,aboveground_dry_biomass,36900.0
866,MAC Field Scanner Season 4 Range 3 Column 4,aboveground_dry_biomass,23190.0
867,MAC Field Scanner Season 4 Range 3 Column 6,aboveground_dry_biomass,30150.0
868,MAC Field Scanner Season 4 Range 3 Column 12,aboveground_dry_biomass,21990.0

In [100]:
cultivar_and_sitename = bare_bones_df[['sitename', 'cultivar']]
cultivar_and_sitename.head()

                                         sitename  cultivar
864   MAC Field Scanner Season 4 Range 2 Column 5    SP1615
865   MAC Field Scanner Season 4 Range 2 Column 9    SP1615
866   MAC Field Scanner Season 4 Range 3 Column 4  PI145626
867   MAC Field Scanner Season 4 Range 3 Column 6  PI330181
868  MAC Field Scanner Season 4 Range 3 Column 12  PI152771

In [103]:
cultivar_and_sitename.set_index('sitename')
cultivar_and_sitename.head()

                                         sitename  cultivar
864   MAC Field Scanner Season 4 Range 2 Column 5    SP1615
865   MAC Field Scanner Season 4 Range 2 Column 9    SP1615
866   MAC Field Scanner Season 4 Range 3 Column 4  PI145626
867   MAC Field Scanner Season 4 Range 3 Column 6  PI330181
868  MAC Field Scanner Season 4 Range 3 Column 12  PI152771

In [95]:
wide_df = minus_cultivar.pivot(index = 'sitename', columns = 'trait', values = 'mean')
wide_df.head()

trait,aboveground_dry_biomass,flag_leaf_emergence_time,flowering_time
sitename,,,
MAC Field Scanner Season 4 Range 10 Column 10,24040.0,NaN,NaN
MAC Field Scanner Season 4 Range 10 Column 11,29400.0,NaN,NaN
MAC Field Scanner Season 4 Range 10 Column 12,12180.0,NaN,NaN
MAC Field Scanner Season 4 Range 10 Column 13,35400.0,91.0,NaN
MAC Field Scanner Season 4 Range 10 Column 14,19660.0,NaN,NaN

In [105]:
# merge with cultivars

concat_df = pd.concat([wide_df, cultivar_and_sitename], )

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

In [106]:
concat_df.head()

,aboveground_dry_biomass,cultivar,flag_leaf_emergence_time,flowering_time,sitename
MAC Field Scanner Season 4 Range 10 Column 10,24040.0,NaN,NaN,NaN,NaN
MAC Field Scanner Season 4 Range 10 Column 11,29400.0,NaN,NaN,NaN,NaN
MAC Field Scanner Season 4 Range 10 Column 12,12180.0,NaN,NaN,NaN,NaN
MAC Field Scanner Season 4 Range 10 Column 13,35400.0,NaN,91.0,NaN,NaN
MAC Field Scanner Season 4 Range 10 Column 14,19660.0,NaN,NaN,NaN,NaN

In [107]:
concat_df.cultivar.nunique()

351

In [108]:
concat_df.cultivar.count()

934

In [4]:
site_cultivar_df = pd.read_csv('site_cultivar_indices.csv')
site_cultivar_df.head()

,sitename,cultivar,aboveground_dry_biomass,flag_leaf_emergence_time,flowering_time
0,MAC Field Scanner Season 4 Range 10 Column 10,PI152816,24040.0,NaN,NaN
1,MAC Field Scanner Season 4 Range 10 Column 11,PI195754,29400.0,NaN,NaN
2,MAC Field Scanner Season 4 Range 10 Column 12,PI329501,12180.0,NaN,NaN
3,MAC Field Scanner Season 4 Range 10 Column 13,PI641860,35400.0,91.0,NaN
4,MAC Field Scanner Season 4 Range 10 Column 14,PI19770,19660.0,NaN,NaN

In [8]:
filled_nas = site_cultivar_df.fillna(value='')
filled_nas.head()

,sitename,cultivar,aboveground_dry_biomass,flag_leaf_emergence_time,flowering_time
0,MAC Field Scanner Season 4 Range 10 Column 10,PI152816,24040,,
1,MAC Field Scanner Season 4 Range 10 Column 11,PI195754,29400,,
2,MAC Field Scanner Season 4 Range 10 Column 12,PI329501,12180,,
3,MAC Field Scanner Season 4 Range 10 Column 13,PI641860,35400,91,
4,MAC Field Scanner Season 4 Range 10 Column 14,PI19770,19660,,

In [9]:
filled_nas.sample(n=50, random_state=42)

,sitename,cultivar,aboveground_dry_biomass,flag_leaf_emergence_time,flowering_time
120,MAC Field Scanner Season 4 Range 18 Column 4,PI540518,11840,70,72
247,MAC Field Scanner Season 4 Range 27 Column 11,PI641810,30420,72,74
324,MAC Field Scanner Season 4 Range 32 Column 13,PI585966,12110,,
204,MAC Field Scanner Season 4 Range 24 Column 10,PI570106,26370,,
603,MAC Field Scanner Season 4 Range 50 Column 3,PI656015,,50,58
356,MAC Field Scanner Season 4 Range 34 Column 5,PI153877,33190,,
81,MAC Field Scanner Season 4 Range 15 Column 7,PI152971,28380,,
54,MAC Field Scanner Season 4 Range 13 Column 8,PI329480,11580,,
512,MAC Field Scanner Season 4 Range 44 Column 9,PI329286,6628,,
572,MAC Field Scanner Season 4 Range 49 Column 13,PI569886,22020,,
457,MAC Field Scanner Season 4 Range 40 Column 9,PI563329,27030,,
212,MAC Field Scanner Season 4 Range 24 Column 4,PI585577,15640,,
78,MAC Field Scanner Season 4 Range 15 Column 4,PI156890,16670,,
411,MAC Field Scanner Season 4 Range 38 Column 4,PI175919,16630,62,70
543,MAC Field Scanner Season 4 Range 47 Column 12,PI156178,22000,,
39,MAC Field Scanner Season 4 Range 12 Column 7,PI213900,14250,50,54
412,MAC Field Scanner Season 4 Range 38 Column 5,PI329326,21180,,
548,MAC Field Scanner Season 4 Range 47 Column 3,PI455221,41520,,
84,MAC Field Scanner Season 4 Range 16 Column 10,PI569465,10310,,
327,MAC Field Scanner Season 4 Range 32 Column 2,PI152961,17160,,
109,MAC Field Scanner Season 4 Range 17 Column 7,PI157030,32720,,
145,MAC Field Scanner Season 4 Range 2 Column 2,Big_Kahuna,15910,,
234,MAC Field Scanner Season 4 Range 26 Column 12,PI156330,14060,,
649,MAC Field Scanner Season 4 Range 53 Column 7,SP1615,31570,,
63,MAC Field Scanner Season 4 Range 14 Column 3,PI505717,20780,,
362,MAC Field Scanner Season 4 Range 35 Column 11,PI152651,7158,,
49,MAC Field Scanner Season 4 Range 13 Column 3,PI330833,16430,,
426,MAC Field Scanner Season 4 Range 39 Column 5,PI570076,24040,,
398,MAC Field Scanner Season 4 Range 37 Column 5,PI569435,10850,,
220,MAC Field Scanner Season 4 Range 25 Column 12,PI273969,46300,,
611,MAC Field Scanner Season 4 Range 51 Column 11,PI563002,18960,,
340,MAC Field Scanner Season 4 Range 33 Column 2,PI181080,6158,49,54
135,MAC Field Scanner Season 4 Range 19 Column 6,PI330185,52200,,
500,MAC Field Scanner Season 4 Range 44 Column 11,PI505717,27290,,
260,MAC Field Scanner Season 4 Range 28 Column 10,PI273465,23710,,
523,MAC Field Scanner Season 4 Range 45 Column 6,PI152730,29500,77,
333,MAC Field Scanner Season 4 Range 32 Column 9,PI152862,27020,,
101,MAC Field Scanner Season 4 Range 17 Column 13,PI586541,22810,,
210,MAC Field Scanner Season 4 Range 24 Column 2,PI641815,23130,77,89
77,MAC Field Scanner Season 4 Range 15 Column 3,PI570114,14550,,
353,MAC Field Scanner Season 4 Range 34 Column 2,PI569454,14050,,
608,MAC Field Scanner Season 4 Range 50 Column 8,PI593916,37150,58,63
192,MAC Field Scanner Season 4 Range 23 Column 12,PI297130,34340,,
118,MAC Field Scanner Season 4 Range 18 Column 2,PI570042,9693,,
518,MAC Field Scanner Season 4 Range 45 Column 15,PI563021,24220,,
235,MAC Field Scanner Season 4 Range 26 Column 13,PI453696,25600,,
688,MAC Field Scanner Season 4 Range 8 Column 4,PI329584,5968,,
634,MAC Field Scanner Season 4 Range 52 Column 6,PI152751,30780,,
286,MAC Field Scanner Season 4 Range 3 Column 10,PI569097,25140,,
654,MAC Field Scanner Season 4 Range 6 Column 12,PI329517,19820,,

In [11]:
filled_nas_sample = filled_nas.sample(n=50, random_state=43)
filled_nas_sample.tail()

,sitename,cultivar,aboveground_dry_biomass,flag_leaf_emergence_time,flowering_time
273,MAC Field Scanner Season 4 Range 29 Column 11,PI329501,20730,,
19,MAC Field Scanner Season 4 Range 11 Column 15,PI535796,23100,62,68
577,MAC Field Scanner Season 4 Range 49 Column 5,PI653616,25790,,
67,MAC Field Scanner Season 4 Range 14 Column 7,PI329618,7152,,
611,MAC Field Scanner Season 4 Range 51 Column 11,PI563002,18960,,

In [12]:
filled_nas_sample.to_csv('sample_subset_season_4.csv', index=False)

In [13]:
filled_nas.to_csv('transformed_data_season_4.csv', index=False)

#### Need Max Canopy Height

In [14]:
season_four = pd.read_csv('mac_season_4.csv')
season_four.head()

/opt/miniconda3/envs/ua-ag/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (18,26,32,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,checked,result_type,id,citation_id,site_id,treatment_id,sitename,city,lat,...,n,statname,stat,notes,access_level,cultivar,entity,method_name,view_url,edit_url
0,1,0,traits,6001958927,6.000000e+09,6000005673,6.000000e+09,MAC Field Scanner Season 4 Range 11 Column 5,Maricopa,33.074907,...,NaN,NaN,NaN,NaN,2,PI181083,NaN,Visual assessment of leaf dessication,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
1,2,0,traits,6001958928,6.000000e+09,6000005676,6.000000e+09,MAC Field Scanner Season 4 Range 11 Column 6,Maricopa,33.074907,...,NaN,NaN,NaN,NaN,2,PI564163,NaN,Visual assessment of leaf dessication,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
2,3,0,traits,6001958931,6.000000e+09,6000005685,6.000000e+09,MAC Field Scanner Season 4 Range 11 Column 9,Maricopa,33.074907,...,NaN,NaN,NaN,NaN,2,PI52606,NaN,Visual assessment of leaf dessication,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
3,4,0,traits,6001958933,6.000000e+09,6000005691,6.000000e+09,MAC Field Scanner Season 4 Range 11 Column 11,Maricopa,33.074907,...,NaN,NaN,NaN,NaN,2,PI533792,NaN,Visual assessment of leaf dessication,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
4,5,0,traits,6001958936,6.000000e+09,6000005700,6.000000e+09,MAC Field Scanner Season 4 Range 11 Column 14,Maricopa,33.074907,...,NaN,NaN,NaN,NaN,2,PI535794,NaN,Visual assessment of leaf dessication,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...

In [15]:
season_four.trait.unique()

array(['leaf_desiccation_present', 'lodging_present', 'leaf_temperature',
       'planter_seed_drop', 'roll', 'PhiNO', 'PhiNPQ', 'absorbance_530',
       'absorbance_605', 'absorbance_730', 'absorbance_880',
       'absorbance_940', 'Fs', 'NPQt', 'qL', 'qP', 'RFd', 'SPAD_530',
       'SPAD_605', 'SPAD_730', 'leaf_thickness', 'ambient_humidity',
       'leaf_angle_clamp_position', 'pitch', 'proximal_air_temperature',
       'FvP/FmP', 'gH+', 'ECSt', 'leaf_temperature_differential', 'Phi2',
       'relative_chlorophyll', 'FmPrime', 'FoPrime', 'LEF', 'SPAD_420',
       'SPAD_650', 'SPAD_850', 'SPAD_880', 'light_intensity_PAR', 'vH+',
       'absorbance_650', 'absorbance_850', 'absorbance_420',
       'surface_temperature', 'leaf_angle_chi', 'leaf_angle_mean',
       'leaf_angle_alpha', 'leaf_angle_beta', 'aboveground_dry_biomass',
       'seedling_emergence_rate', 'panicle_height', 'stand_count',
       'dry_matter_fraction', 'harvest_lodging_rating', 'canopy_height',
       'anthocyanin_index', 'chlorophyll_index',
       'flag_leaf_emergence_time', 'flowering_time', 'grain_stage_time',
       'leaf_length', 'leaf_width', 'leaf_stomatal_conductance',
       'aboveground_biomass_moisture', 'aboveground_fresh_biomass',
       'canopy_cover', 'panicle_count', 'panicle_volume',
       'panicle_surface_area', 'stem_elongated_internodes_number',
       'emergence_count', 'stalk_diameter_fixed_height',
       'stalk_diameter_minor_axis', 'stalk_diameter_major_axis',
       'plant_basal_tiller_number'], dtype=object)

In [16]:
canopy_height = season_four.loc[season_four.trait == 'canopy_height']
canopy_height.shape

(58056, 39)

In [17]:
# drop similar columns to above but keep date cols for now

cols_to_drop = ['Unnamed: 0', 'checked', 'result_type', 'citation_id', 'scientificname', 'species_id', 'author', \
                'citation_year', 'treatment', 'n', 'statname', 'stat', 'notes', 'access_level', 'entity', \
                'method_name', 'view_url', 'edit_url', 'treatment_id', 'city', 'commonname', 'genus', 'id', \
               'site_id', 'lat', 'lon', 'cultivar_id']

dropped_col_df = canopy_height.drop(labels=cols_to_drop, axis=1)
dropped_col_df.head()

,sitename,date,time,raw_date,month,year,dateloc,trait,trait_description,mean,units,cultivar
51339,MAC Field Scanner Season 4 Range 30 Column 9 E,2017 Jun 19 (America/Phoenix),[time unspecified or unknown],2017-06-20 00:00:00 -0500,6,2017,5.0,canopy_height,"top of the general canopy of the plant, discou...",91.0,cm,PI329518
51340,MAC Field Scanner Season 4 Range 20 Column 15 W,2017 Jun 4 (America/Phoenix),[time unspecified or unknown],2017-06-05 00:00:00 -0500,6,2017,5.0,canopy_height,"top of the general canopy of the plant, discou...",99.0,cm,PI152828
51341,MAC Field Scanner Season 4 Range 20 Column 15 W,2017 May 29 (America/Phoenix),[time unspecified or unknown],2017-05-30 00:00:00 -0500,5,2017,5.0,canopy_height,"top of the general canopy of the plant, discou...",63.0,cm,PI152828
75000,MAC Field Scanner Season 4 Range 35 Column 14,2017 May 20,12:00:00 (America/Phoenix),2017-05-20 14:00:00 -0500,5,2017,5.0,canopy_height,"top of the general canopy of the plant, discou...",22.0,cm,PI619838
75001,MAC Field Scanner Season 4 Range 36 Column 2,2017 May 20,12:00:00 (America/Phoenix),2017-05-20 14:00:00 -0500,5,2017,5.0,canopy_height,"top of the general canopy of the plant, discou...",26.0,cm,PI155885

In [18]:
dropped_col_df.trait_description.unique()

array(['top of the general canopy of the plant, discounting any exceptional branches, leaves or photosynthetic portions of the inflorescence.'],
      dtype=object)

In [19]:
dropped_col_df.duplicated(subset='sitename')

51339     False
51340     False
51341      True
75000     False
75001     False
          ...
354995     True
354996     True
354997     True
354998     True
354999     True
Length: 58056, dtype: bool

In [38]:
test_df = dropped_col_df.drop(labels=['time', 'dateloc', 'trait_description'], axis=1)

In [20]:
# remove _E and _W from all sitenames
# need logical test - if duplicate sitenames, then only use the measurement from the latest date
# function to find latest date?

In [30]:
test_string = ['blah blah', 'blah blah W', 'blah blah X', 'blahblahblah', 'blah blah E']

new_string

for i in test_string:
    
    if i.endswith(' W'):
        i = i[:-2]
        new_string.append(i)
    
    elif i.endswith(' E'):
        i = i[:-2]  
        new_string.append(i)
    
    else:
        new_string.append(i)

new_string

['blah blah',
 'blah blah',
 'blah blah',
 'blah blah X',
 'blahblahblah',
 'blah blah']

In [31]:
test_series = pd.Series(data = test_string)
test_series

0       blah blah
1     blah blah W
2     blah blah X
3    blahblahblah
4     blah blah E
dtype: object

In [33]:
# will need to use pandas function 'where' rather than a for-loop

# filter_e = !test_series.endswith(' E')
# filter_w = !test_series.endswith(' W')

# test_series = test_series.where(filter_e or filter_w, test_series[:-2])
# test_series

In [34]:
test_values = test_series.values
test_values

array(['blah blah', 'blah blah W', 'blah blah X', 'blahblahblah',
       'blah blah E'], dtype=object)

In [35]:
new_values = []

for val in test_values:
    if val.endswith(' W'):
        val = val[:-2]
        new_values.append(val)
        
    elif val.endswith(' E'):
        val = val[:-2]
        new_values.append(val)
        
    else:
        new_values.append(val)
        
new_values

['blah blah', 'blah blah', 'blah blah X', 'blahblahblah', 'blah blah']

In [39]:
test_df.head()

,sitename,date,raw_date,month,year,trait,mean,units,cultivar
51339,MAC Field Scanner Season 4 Range 30 Column 9 E,2017 Jun 19 (America/Phoenix),2017-06-20 00:00:00 -0500,6,2017,canopy_height,91.0,cm,PI329518
51340,MAC Field Scanner Season 4 Range 20 Column 15 W,2017 Jun 4 (America/Phoenix),2017-06-05 00:00:00 -0500,6,2017,canopy_height,99.0,cm,PI152828
51341,MAC Field Scanner Season 4 Range 20 Column 15 W,2017 May 29 (America/Phoenix),2017-05-30 00:00:00 -0500,5,2017,canopy_height,63.0,cm,PI152828
75000,MAC Field Scanner Season 4 Range 35 Column 14,2017 May 20,2017-05-20 14:00:00 -0500,5,2017,canopy_height,22.0,cm,PI619838
75001,MAC Field Scanner Season 4 Range 36 Column 2,2017 May 20,2017-05-20 14:00:00 -0500,5,2017,canopy_height,26.0,cm,PI155885

In [41]:
sitenames = test_df.sitename.values
sitenames[:10]

array(['MAC Field Scanner Season 4 Range 30 Column 9 E',
       'MAC Field Scanner Season 4 Range 20 Column 15 W',
       'MAC Field Scanner Season 4 Range 20 Column 15 W',
       'MAC Field Scanner Season 4 Range 35 Column 14',
       'MAC Field Scanner Season 4 Range 36 Column 2',
       'MAC Field Scanner Season 4 Range 36 Column 3',
       'MAC Field Scanner Season 4 Range 36 Column 5',
       'MAC Field Scanner Season 4 Range 36 Column 6',
       'MAC Field Scanner Season 4 Range 36 Column 7',
       'MAC Field Scanner Season 4 Range 36 Column 9'], dtype=object)

In [42]:
new_sitenames = []

for site in sitenames:
    if site.endswith(' W'):
        site = site[:-2]
        new_sitenames.append(site)
        
    elif site.endswith(' E'):
        site = site[:-2]
        new_sitenames.append(site)
        
    else:
        new_sitenames.append(site)
        
new_sitenames[:10]

['MAC Field Scanner Season 4 Range 30 Column 9',
 'MAC Field Scanner Season 4 Range 20 Column 15',
 'MAC Field Scanner Season 4 Range 20 Column 15',
 'MAC Field Scanner Season 4 Range 35 Column 14',
 'MAC Field Scanner Season 4 Range 36 Column 2',
 'MAC Field Scanner Season 4 Range 36 Column 3',
 'MAC Field Scanner Season 4 Range 36 Column 5',
 'MAC Field Scanner Season 4 Range 36 Column 6',
 'MAC Field Scanner Season 4 Range 36 Column 7',
 'MAC Field Scanner Season 4 Range 36 Column 9']

In [44]:
print(len(test_df.sitename))
print(len(new_sitenames))

58056
58056

In [45]:
new_test_df = test_df.drop(labels='sitename', axis=1)
new_test_df['new_sitename'] = new_sitenames

In [46]:
new_test_df.head()

,date,raw_date,month,year,trait,mean,units,cultivar,new_sitename
51339,2017 Jun 19 (America/Phoenix),2017-06-20 00:00:00 -0500,6,2017,canopy_height,91.0,cm,PI329518,MAC Field Scanner Season 4 Range 30 Column 9
51340,2017 Jun 4 (America/Phoenix),2017-06-05 00:00:00 -0500,6,2017,canopy_height,99.0,cm,PI152828,MAC Field Scanner Season 4 Range 20 Column 15
51341,2017 May 29 (America/Phoenix),2017-05-30 00:00:00 -0500,5,2017,canopy_height,63.0,cm,PI152828,MAC Field Scanner Season 4 Range 20 Column 15
75000,2017 May 20,2017-05-20 14:00:00 -0500,5,2017,canopy_height,22.0,cm,PI619838,MAC Field Scanner Season 4 Range 35 Column 14
75001,2017 May 20,2017-05-20 14:00:00 -0500,5,2017,canopy_height,26.0,cm,PI155885,MAC Field Scanner Season 4 Range 36 Column 2