### Convert Ontology Annotations to `.json`
Ontology annotations added by Laurel Cooper to Google Sheet. Please contact Emily Cain at ejcain@arizona.edu for access or for more information.

In [1]:
import pandas as pd

In [4]:
df_0 = pd.read_csv('data/processed/ontology_annotations - Mappings to TO_CO terms_2020-03-31.csv')
print(df_0.shape)
df_0.head(3)

(88, 13)

,Variable,Variable Description,Units,Method Name 1,Method Name 2,Trait Ontology Identifier (TO:ID),termId,TO label,Comments/Notes,CO_324 ID,CO_324 label,Comments/Notes.1,coPermalink
0,days_to_emergence,Planting date: 2017-04-20,days,NaN,NaN,TO:0006061,http://purl.obolibrary.org/obo/TO_0006061,days to germinate,related,NaN,NaN,NaN,NaN
1,emergence_count,number of plants counted within plot or subplo...,count,plant emergence counts,NaN,TO:0000202,http://purl.obolibrary.org/obo/TO_0000202,germination ratio,related,CO_324:0000486,sorghum plant number - counting method,related,NaN
2,seedling_emergence_rate,Seedling emergence rate,ratio,Seedling emergence rate count,NaN,TO:0000430,http://purl.obolibrary.org/obo/TO_0000430,germination rate,related,NaN,NaN,NaN,NaN

### Slice dataframe to include only variables that are traits

In [27]:
df_0.loc[df_0['Variable'] == 'Not Traits:']

,Variable,Variable Description,Units,Method Name 1,Method Name 2,Trait Ontology Identifier (TO:ID),termId,TO label,Comments/Notes,CO_324 ID,CO_324 label,Comments/Notes.1,coPermalink
73,Not Traits:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df_0.iloc[70:74]

,Variable,Variable Description,Units,Method Name 1,Method Name 2,Trait Ontology Identifier (TO:ID),termId,TO label,Comments/Notes,CO_324 ID,CO_324 label,Comments/Notes.1,coPermalink
70,absorbance_940,Absorbance at 940 nm,arbitrary absorbance units,MultispeQ v1.0 field measurements of fluoresce...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,Not Traits:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
df_1 = df_0.iloc[:71]
print(df_1.shape)

(71, 13)

In [31]:
df_1.iloc[70]

Variable                                                                absorbance_940
Variable Description                                              Absorbance at 940 nm
Units                                                       arbitrary absorbance units
Method Name 1                        MultispeQ v1.0 field measurements of fluoresce...
Method Name 2                                                                      NaN
Trait Ontology Identifier (TO:ID)                                                  NaN
termId                                                                             NaN
TO label                                                                           NaN
Comments/Notes                                                                     NaN
CO_324 ID                                                                          NaN
CO_324 label                                                                       NaN
Comments/Notes.1                                                                   NaN
coPermalink                                                                        NaN
Name: 70, dtype: object

In [32]:
df_1.iloc[0]

Variable                                                     days_to_emergence
Variable Description                                 Planting date: 2017-04-20
Units                                                                     days
Method Name 1                                                              NaN
Method Name 2                                                              NaN
Trait Ontology Identifier (TO:ID)                                   TO:0006061
termId                               http://purl.obolibrary.org/obo/TO_0006061
TO label                                                     days to germinate
Comments/Notes                                                         related
CO_324 ID                                                                  NaN
CO_324 label                                                               NaN
Comments/Notes.1                                                           NaN
coPermalink                                                                NaN
Name: 0, dtype: object

### Convert dataframe to `.json`
- using `records` argument

In [39]:
df_1.to_json(path_or_buf='data/processed/trait_ontologies.json', orient='records', indent=4)