## Query betydb for phenotypes dataset
* Season 4 & Season 6
* Wide format: one row per plot
* Days to Emergence
* Days to Flowering
* Aboveground dry biomass

In [642]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

%matplotlib inline

In [643]:
# %pwd
# %cd '/Users/ejcain/Dev/UA-AG/phenotypes/terraref-datasets/'

In [644]:
# MAC Season 4 

mac_season_4_df = pd.read_csv('../data/raw/mac_season_4.csv')
mac_season_4_df.head()

,Unnamed: 0,checked,result_type,id,citation_id,site_id,treatment_id,sitename,city,lat,...,n,statname,stat,notes,access_level,cultivar,entity,method_name,view_url,edit_url
0,1,0,traits,6001958927,6.000000e+09,6000005673,6.000000e+09,MAC Field Scanner Season 4 Range 11 Column 5,Maricopa,33.074907,...,NaN,NaN,NaN,NaN,2,PI181083,NaN,Visual assessment of leaf dessication,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
1,2,0,traits,6001958928,6.000000e+09,6000005676,6.000000e+09,MAC Field Scanner Season 4 Range 11 Column 6,Maricopa,33.074907,...,NaN,NaN,NaN,NaN,2,PI564163,NaN,Visual assessment of leaf dessication,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
2,3,0,traits,6001958931,6.000000e+09,6000005685,6.000000e+09,MAC Field Scanner Season 4 Range 11 Column 9,Maricopa,33.074907,...,NaN,NaN,NaN,NaN,2,PI52606,NaN,Visual assessment of leaf dessication,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
3,4,0,traits,6001958933,6.000000e+09,6000005691,6.000000e+09,MAC Field Scanner Season 4 Range 11 Column 11,Maricopa,33.074907,...,NaN,NaN,NaN,NaN,2,PI533792,NaN,Visual assessment of leaf dessication,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
4,5,0,traits,6001958936,6.000000e+09,6000005700,6.000000e+09,MAC Field Scanner Season 4 Range 11 Column 14,Maricopa,33.074907,...,NaN,NaN,NaN,NaN,2,PI535794,NaN,Visual assessment of leaf dessication,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...

In [645]:
# try specifying dtype to eliminate DtypeWarning

df2 = pd.read_csv('../data/raw/mac_season_4.csv', sep=',', dtype={'a': str})
df2.head()

,Unnamed: 0,checked,result_type,id,citation_id,site_id,treatment_id,sitename,city,lat,...,n,statname,stat,notes,access_level,cultivar,entity,method_name,view_url,edit_url
0,1,0,traits,6001958927,6.000000e+09,6000005673,6.000000e+09,MAC Field Scanner Season 4 Range 11 Column 5,Maricopa,33.074907,...,NaN,NaN,NaN,NaN,2,PI181083,NaN,Visual assessment of leaf dessication,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
1,2,0,traits,6001958928,6.000000e+09,6000005676,6.000000e+09,MAC Field Scanner Season 4 Range 11 Column 6,Maricopa,33.074907,...,NaN,NaN,NaN,NaN,2,PI564163,NaN,Visual assessment of leaf dessication,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
2,3,0,traits,6001958931,6.000000e+09,6000005685,6.000000e+09,MAC Field Scanner Season 4 Range 11 Column 9,Maricopa,33.074907,...,NaN,NaN,NaN,NaN,2,PI52606,NaN,Visual assessment of leaf dessication,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
3,4,0,traits,6001958933,6.000000e+09,6000005691,6.000000e+09,MAC Field Scanner Season 4 Range 11 Column 11,Maricopa,33.074907,...,NaN,NaN,NaN,NaN,2,PI533792,NaN,Visual assessment of leaf dessication,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
4,5,0,traits,6001958936,6.000000e+09,6000005700,6.000000e+09,MAC Field Scanner Season 4 Range 11 Column 14,Maricopa,33.074907,...,NaN,NaN,NaN,NaN,2,PI535794,NaN,Visual assessment of leaf dessication,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...

In [646]:
# confirm same shape from R

df2.shape

(372363, 39)

In [647]:
df2.columns

Index(['Unnamed: 0', 'checked', 'result_type', 'id', 'citation_id', 'site_id',
       'treatment_id', 'sitename', 'city', 'lat', 'lon', 'scientificname',
       'commonname', 'genus', 'species_id', 'cultivar_id', 'author',
       'citation_year', 'treatment', 'date', 'time', 'raw_date', 'month',
       'year', 'dateloc', 'trait', 'trait_description', 'mean', 'units', 'n',
       'statname', 'stat', 'notes', 'access_level', 'cultivar', 'entity',
       'method_name', 'view_url', 'edit_url'],
      dtype='object')

In [648]:
# mixed dtypes in columns 18, 32, 35

print(df2.columns[18], df2.columns[32], df2.columns[35])

treatment notes entity

In [649]:
df2['treatment'].head()

0    BAP 2017, water-deficit stress Aug 1-14
1    BAP 2017, water-deficit stress Aug 1-14
2    BAP 2017, water-deficit stress Aug 1-14
3    BAP 2017, water-deficit stress Aug 1-14
4    BAP 2017, water-deficit stress Aug 1-14
Name: treatment, dtype: object

In [650]:
df2['notes'].head()

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: notes, dtype: object

In [651]:
df2['entity'].head()

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: entity, dtype: object

In [652]:
df2.result_type.unique()

array(['traits'], dtype=object)

In [653]:
df2.iloc[5]

Unnamed: 0                                                           6
checked                                                              0
result_type                                                     traits
id                                                          6001958937
citation_id                                                      6e+09
site_id                                                     6000005703
treatment_id                                                     6e+09
sitename                 MAC Field Scanner Season 4 Range 11 Column 15
city                                                          Maricopa
lat                                                            33.0749
lon                                                           -111.975
scientificname                                         Sorghum bicolor
commonname                                                     sorghum
genus                                                          Sorghum
species_id                                                        2588
cultivar_id                                                 6000000871
author                                                  Newcomb, Maria
citation_year                                                     2017
treatment                      BAP 2017, water-deficit stress Aug 1-14
date                                     2017 Jun 14 (America/Phoenix)
time                                     [time unspecified or unknown]
raw_date                                     2017-06-15 00:00:00 -0500
month                                                                6
year                                                              2017
dateloc                                                              5
trait                                         leaf_desiccation_present
trait_description    Presence or absence of leaves showing desiccat...
mean                                                                 0
units                                                              NaN
n                                                                  NaN
statname                                                           NaN
stat                                                               NaN
notes                                                              NaN
access_level                                                         2
cultivar                                                      PI535796
entity                                                             NaN
method_name                      Visual assessment of leaf dessication
view_url             https://terraref.ncsa.illinois.edu/bety/traits...
edit_url             https://terraref.ncsa.illinois.edu/bety/traits...
Name: 5, dtype: object

In [654]:
df2.trait.unique()

array(['leaf_desiccation_present', 'lodging_present', 'leaf_temperature',
       'planter_seed_drop', 'roll', 'PhiNO', 'PhiNPQ', 'absorbance_530',
       'absorbance_605', 'absorbance_730', 'absorbance_880',
       'absorbance_940', 'Fs', 'NPQt', 'qL', 'qP', 'RFd', 'SPAD_530',
       'SPAD_605', 'SPAD_730', 'leaf_thickness', 'ambient_humidity',
       'leaf_angle_clamp_position', 'pitch', 'proximal_air_temperature',
       'FvP/FmP', 'gH+', 'ECSt', 'leaf_temperature_differential', 'Phi2',
       'relative_chlorophyll', 'FmPrime', 'FoPrime', 'LEF', 'SPAD_420',
       'SPAD_650', 'SPAD_850', 'SPAD_880', 'light_intensity_PAR', 'vH+',
       'absorbance_650', 'absorbance_850', 'absorbance_420',
       'surface_temperature', 'leaf_angle_chi', 'leaf_angle_mean',
       'leaf_angle_alpha', 'leaf_angle_beta', 'aboveground_dry_biomass',
       'seedling_emergence_rate', 'panicle_height', 'stand_count',
       'dry_matter_fraction', 'harvest_lodging_rating', 'canopy_height',
       'anthocyanin_index', 'chlorophyll_index',
       'flag_leaf_emergence_time', 'flowering_time', 'grain_stage_time',
       'leaf_length', 'leaf_width', 'leaf_stomatal_conductance',
       'aboveground_biomass_moisture', 'aboveground_fresh_biomass',
       'canopy_cover', 'panicle_count', 'panicle_volume',
       'panicle_surface_area', 'stem_elongated_internodes_number',
       'emergence_count', 'stalk_diameter_fixed_height',
       'stalk_diameter_minor_axis', 'stalk_diameter_major_axis',
       'plant_basal_tiller_number'], dtype=object)

In [655]:
df2.sitename.nunique()

2202

In [656]:
df2.site_id.nunique()

2202

In [657]:
df2.sitename.unique()

array(['MAC Field Scanner Season 4 Range 11 Column 5',
       'MAC Field Scanner Season 4 Range 11 Column 6',
       'MAC Field Scanner Season 4 Range 11 Column 9', ...,
       'MAC Field Scanner Season 4 Range 20 Column 7 W',
       'MAC Field Scanner Season 4 Range 21 Column 11 E',
       'MAC Field Scanner Season 4 Range 30 Column 2 W'], dtype=object)

In [658]:
df2.sitename.head(25)

0      MAC Field Scanner Season 4 Range 11 Column 5
1      MAC Field Scanner Season 4 Range 11 Column 6
2      MAC Field Scanner Season 4 Range 11 Column 9
3     MAC Field Scanner Season 4 Range 11 Column 11
4     MAC Field Scanner Season 4 Range 11 Column 14
5     MAC Field Scanner Season 4 Range 11 Column 15
6      MAC Field Scanner Season 4 Range 12 Column 2
7      MAC Field Scanner Season 4 Range 12 Column 3
8      MAC Field Scanner Season 4 Range 12 Column 7
9      MAC Field Scanner Season 4 Range 12 Column 9
10    MAC Field Scanner Season 4 Range 12 Column 10
11    MAC Field Scanner Season 4 Range 12 Column 12
12    MAC Field Scanner Season 4 Range 12 Column 13
13    MAC Field Scanner Season 4 Range 12 Column 14
14     MAC Field Scanner Season 4 Range 13 Column 2
15     MAC Field Scanner Season 4 Range 13 Column 5
16     MAC Field Scanner Season 4 Range 13 Column 9
17    MAC Field Scanner Season 4 Range 13 Column 10
18    MAC Field Scanner Season 4 Range 13 Column 12
19    MAC Field Scanner Season 4 Range 13 Column 13
20     MAC Field Scanner Season 4 Range 14 Column 3
21     MAC Field Scanner Season 4 Range 14 Column 4
22     MAC Field Scanner Season 4 Range 14 Column 5
23     MAC Field Scanner Season 4 Range 14 Column 7
24    MAC Field Scanner Season 4 Range 14 Column 10
Name: sitename, dtype: object

In [659]:
df2.loc[df2.trait == 'aboveground_dry_biomass'].head()

,Unnamed: 0,checked,result_type,id,citation_id,site_id,treatment_id,sitename,city,lat,...,n,statname,stat,notes,access_level,cultivar,entity,method_name,view_url,edit_url
23576,23577,0,traits,6001965127,6.000000e+09,6000005241,6.000000e+09,MAC Field Scanner Season 4 Range 2 Column 5,Maricopa,33.074584,...,NaN,NaN,NaN,NaN,2,SP1615,NaN,Whole above ground biomass at harvest,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
23577,23578,0,traits,6001965147,6.000000e+09,6000005237,6.000000e+09,MAC Field Scanner Season 4 Range 2 Column 9,Maricopa,33.074584,...,NaN,NaN,NaN,NaN,2,SP1615,NaN,Whole above ground biomass at harvest,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
23578,23579,0,traits,6001965192,6.000000e+09,6000005345,6.000000e+09,MAC Field Scanner Season 4 Range 3 Column 4,Maricopa,33.074619,...,NaN,NaN,NaN,NaN,2,PI145626,NaN,Whole above ground biomass at harvest,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
23579,23580,0,traits,6001965202,6.000000e+09,6000005351,6.000000e+09,MAC Field Scanner Season 4 Range 3 Column 6,Maricopa,33.074620,...,NaN,NaN,NaN,NaN,2,PI330181,NaN,Whole above ground biomass at harvest,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
23580,23581,0,traits,6001965232,6.000000e+09,6000005369,6.000000e+09,MAC Field Scanner Season 4 Range 3 Column 12,Maricopa,33.074620,...,NaN,NaN,NaN,NaN,2,PI152771,NaN,Whole above ground biomass at harvest,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...

In [660]:
df2.iloc[864]

Unnamed: 0                                                         865
checked                                                              0
result_type                                                     traits
id                                                          6001960853
citation_id                                                      6e+09
site_id                                                     6000005972
treatment_id                                                     6e+09
sitename                 MAC Field Scanner Season 4 Range 48 Column 13
city                                                          Maricopa
lat                                                            33.0762
lon                                                           -111.975
scientificname                                         Sorghum bicolor
commonname                                                     sorghum
genus                                                          Sorghum
species_id                                                        2588
cultivar_id                                                 6000000557
author                                                  Newcomb, Maria
citation_year                                                     2017
treatment                      BAP 2017, water-deficit stress Aug 1-14
date                                     2017 Jun 28 (America/Phoenix)
time                                     [time unspecified or unknown]
raw_date                                     2017-06-29 00:00:00 -0500
month                                                                6
year                                                              2017
dateloc                                                              5
trait                                         leaf_desiccation_present
trait_description    Presence or absence of leaves showing desiccat...
mean                                                                 0
units                                                              NaN
n                                                                  NaN
statname                                                           NaN
stat                                                               NaN
notes                                                              NaN
access_level                                                         2
cultivar                                                      PI329300
entity                                                             NaN
method_name                      Visual assessment of leaf dessication
view_url             https://terraref.ncsa.illinois.edu/bety/traits...
edit_url             https://terraref.ncsa.illinois.edu/bety/traits...
Name: 864, dtype: object

In [661]:
# sitename - column 7
# trait - column 25
# mean - column 27
# units - column 28

In [662]:
# test_pivot_df = df2.pivot(index = 'sitename', columns = 'trait', values = ['mean', 'units'])
# test_pivot_df.head()

In [663]:
# inspect duplicates

duplicates = df2.duplicated(subset = ['sitename', 'trait'])

In [664]:
duplicates.value_counts()

True     359995
False     12368
dtype: int64

In [665]:
duplicates.head()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [666]:
# rows 1:5 - sitename, trait, mean, units

test_sample = df2.loc[1:5, ['sitename', 'trait', 'mean', 'units']]
test_sample

,sitename,trait,mean,units
1,MAC Field Scanner Season 4 Range 11 Column 6,leaf_desiccation_present,0.0,NaN
2,MAC Field Scanner Season 4 Range 11 Column 9,leaf_desiccation_present,0.0,NaN
3,MAC Field Scanner Season 4 Range 11 Column 11,leaf_desiccation_present,0.0,NaN
4,MAC Field Scanner Season 4 Range 11 Column 14,leaf_desiccation_present,0.0,NaN
5,MAC Field Scanner Season 4 Range 11 Column 15,leaf_desiccation_present,0.0,NaN

In [667]:
# days to emergence
# days to flowering
# aboveground dry biomass

In [668]:
# aboveground dry biomass should only have been measured once per plot - at the end of harvest date
# check for duplicates 

dry_biomass_trait = df2.loc[df2['trait'] == 'aboveground_dry_biomass']
dry_biomass_trait.duplicated(subset = 'sitename').value_counts()

False    199
True       1
dtype: int64

In [669]:
# days to flowering

flowering_time = df2.loc[df2['trait'] == 'flowering_time']
flowering_time.duplicated(subset = 'sitename').value_counts()

False    53
True      1
dtype: int64

In [670]:
# days to emergence

flag_leaf_emergence = df2.loc[df2['trait'] == 'flag_leaf_emergence_time']
flag_leaf_emergence.duplicated(subset = 'sitename').value_counts()

False    78
True      1
dtype: int64

In [671]:
test_check = df2.loc[df2['sitename'].str.contains('MAC Field Scanner Season 4 Range 3 Column 12')]

In [672]:
df2.iloc[371831]

Unnamed: 0                                                      371832
checked                                                              0
result_type                                                     traits
id                                                          6004506432
citation_id                                                      6e+09
site_id                                                     6000005407
treatment_id                                                       NaN
sitename                   MAC Field Scanner Season 4 Range 4 Column 6
city                                                          Maricopa
lat                                                            33.0747
lon                                                           -111.975
scientificname                                         Sorghum bicolor
commonname                                                     sorghum
genus                                                          Sorghum
species_id                                                        2588
cultivar_id                                                 6000000552
author                                                    Zongyang, Li
citation_year                                                     2016
treatment                                                          NaN
date                                                        2017 Jun 6
time                                        12:00:00 (America/Phoenix)
raw_date                                     2017-06-06 14:00:00 -0500
month                                                                6
year                                                              2017
dateloc                                                              5
trait                                                   leaf_angle_chi
trait_description                                                  NaN
mean                                                           1.94651
units                                                              NaN
n                                                                  NaN
statname                                                           NaN
stat                                                               NaN
notes                                                              NaN
access_level                                                         2
cultivar                                                      PI302252
entity                                                             NaN
method_name                      3D scanner to leaf angle distribution
view_url             https://terraref.ncsa.illinois.edu/bety/traits...
edit_url             https://terraref.ncsa.illinois.edu/bety/traits...
Name: 371831, dtype: object

In [673]:
test_check.shape

(360, 39)

In [674]:
print(test_check.raw_date.max())
print(test_check.raw_date.min())

2017-09-16 00:00:00 -0500
2017-04-26 00:00:00 -0500

In [675]:
test_check.loc[test_check.raw_date == test_check.raw_date.max()]['trait']

23580          aboveground_dry_biomass
24787              dry_matter_fraction
24958           harvest_lodging_rating
303089    aboveground_biomass_moisture
303265       aboveground_fresh_biomass
Name: trait, dtype: object

In [676]:
# drop all rows that do not contain trait values for days to flowering, days to emergence, and aboveground dry biomass

selected_traits_only = df2[(df2['trait'] == 'aboveground_dry_biomass') | (df2['trait'] == 'flowering_time') | \
                          (df2['trait'] == 'flag_leaf_emergence_time')]

In [677]:
selected_traits_only.shape

(333, 39)

In [678]:
selected_traits_only.trait.unique()

array(['aboveground_dry_biomass', 'flag_leaf_emergence_time',
       'flowering_time'], dtype=object)

In [679]:
selected_traits_only.columns

Index(['Unnamed: 0', 'checked', 'result_type', 'id', 'citation_id', 'site_id',
       'treatment_id', 'sitename', 'city', 'lat', 'lon', 'scientificname',
       'commonname', 'genus', 'species_id', 'cultivar_id', 'author',
       'citation_year', 'treatment', 'date', 'time', 'raw_date', 'month',
       'year', 'dateloc', 'trait', 'trait_description', 'mean', 'units', 'n',
       'statname', 'stat', 'notes', 'access_level', 'cultivar', 'entity',
       'method_name', 'view_url', 'edit_url'],
      dtype='object')

In [680]:
selected_traits_only.head()

,Unnamed: 0,checked,result_type,id,citation_id,site_id,treatment_id,sitename,city,lat,...,n,statname,stat,notes,access_level,cultivar,entity,method_name,view_url,edit_url
23576,23577,0,traits,6001965127,6.000000e+09,6000005241,6.000000e+09,MAC Field Scanner Season 4 Range 2 Column 5,Maricopa,33.074584,...,NaN,NaN,NaN,NaN,2,SP1615,NaN,Whole above ground biomass at harvest,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
23577,23578,0,traits,6001965147,6.000000e+09,6000005237,6.000000e+09,MAC Field Scanner Season 4 Range 2 Column 9,Maricopa,33.074584,...,NaN,NaN,NaN,NaN,2,SP1615,NaN,Whole above ground biomass at harvest,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
23578,23579,0,traits,6001965192,6.000000e+09,6000005345,6.000000e+09,MAC Field Scanner Season 4 Range 3 Column 4,Maricopa,33.074619,...,NaN,NaN,NaN,NaN,2,PI145626,NaN,Whole above ground biomass at harvest,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
23579,23580,0,traits,6001965202,6.000000e+09,6000005351,6.000000e+09,MAC Field Scanner Season 4 Range 3 Column 6,Maricopa,33.074620,...,NaN,NaN,NaN,NaN,2,PI330181,NaN,Whole above ground biomass at harvest,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
23580,23581,0,traits,6001965232,6.000000e+09,6000005369,6.000000e+09,MAC Field Scanner Season 4 Range 3 Column 12,Maricopa,33.074620,...,NaN,NaN,NaN,NaN,2,PI152771,NaN,Whole above ground biomass at harvest,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...

In [681]:
print(selected_traits_only.city.unique())
print(selected_traits_only.id.nunique())
print(selected_traits_only.citation_id.nunique())
print(selected_traits_only.site_id.nunique())
print(selected_traits_only.lat.nunique())
print(selected_traits_only.scientificname.nunique())
print(selected_traits_only.species_id.nunique())
print(selected_traits_only.cultivar_id.nunique())
print(selected_traits_only.trait_description.unique())
print(selected_traits_only.n.unique())
print(selected_traits_only.notes.unique())
print(selected_traits_only.cultivar.nunique())
print(selected_traits_only.method_name.unique())

['Maricopa']
330
1
247
247
1
1
196
['Aboveground Dry Biomass'
 'Number days from sowing to the date when 50% of the plants in a plot have reached flag leaf emergence (ligulation) stage. Flag leaf is the last leaf to emerge from the whorl, positioned directly below the panicle.'
 'Number of days from sowing to the date when 50% of the plants in a plot reach flowering (anthesis), defined as the time when 50% of the anthers on 50% of the plants in a plot have emerged.']
[nan]
[nan]
196
['Whole above ground biomass at harvest'
 'Visual classification of sorghum growth stages to determine estimates of developmental timing']

In [682]:
selected_traits_only.shape

(333, 39)

In [683]:
cols_to_drop = ['Unnamed: 0', 'checked', 'result_type', 'citation_id', 'scientificname', 'species_id', 'author', \
               'citation_year', 'treatment', 'date', 'month', 'year', 'dateloc', 'n', 'statname', 'stat', 'notes', \
               'access_level', 'entity', 'method_name', 'view_url', 'edit_url', 'treatment_id', 'city', 'commonname', \
               'genus', 'time', 'raw_date']

selected_and_dropped = selected_traits_only.drop(labels = cols_to_drop, axis = 1)

In [684]:
selected_and_dropped.head()

,id,site_id,sitename,lat,lon,cultivar_id,trait,trait_description,mean,units,cultivar
23576,6001965127,6000005241,MAC Field Scanner Season 4 Range 2 Column 5,33.074584,-111.974982,6000001054,aboveground_dry_biomass,Aboveground Dry Biomass,37330.0,kg / ha,SP1615
23577,6001965147,6000005237,MAC Field Scanner Season 4 Range 2 Column 9,33.074584,-111.974917,6000001054,aboveground_dry_biomass,Aboveground Dry Biomass,36900.0,kg / ha,SP1615
23578,6001965192,6000005345,MAC Field Scanner Season 4 Range 3 Column 4,33.074619,-111.974998,6000000462,aboveground_dry_biomass,Aboveground Dry Biomass,23190.0,kg / ha,PI145626
23579,6001965202,6000005351,MAC Field Scanner Season 4 Range 3 Column 6,33.074620,-111.974966,6000000818,aboveground_dry_biomass,Aboveground Dry Biomass,30150.0,kg / ha,PI330181
23580,6001965232,6000005369,MAC Field Scanner Season 4 Range 3 Column 12,33.074620,-111.974867,6000000685,aboveground_dry_biomass,Aboveground Dry Biomass,21990.0,kg / ha,PI152771

In [685]:
selected_and_dropped.shape

(333, 11)

In [686]:
# Check for duplicates

selected_and_dropped.duplicated(subset = ['site_id', 'sitename', 'trait_description']).value_counts()

False    330
True       3
dtype: int64

In [687]:
selected_and_dropped.to_csv('selected_traits_with_cultivar_and_site_ids.csv', index = False)

In [688]:
print(selected_and_dropped.trait.unique())
print(selected_and_dropped.trait_description.unique())
print(selected_and_dropped.units.unique())

['aboveground_dry_biomass' 'flag_leaf_emergence_time' 'flowering_time']
['Aboveground Dry Biomass'
 'Number days from sowing to the date when 50% of the plants in a plot have reached flag leaf emergence (ligulation) stage. Flag leaf is the last leaf to emerge from the whorl, positioned directly below the panicle.'
 'Number of days from sowing to the date when 50% of the plants in a plot reach flowering (anthesis), defined as the time when 50% of the anthers on 50% of the plants in a plot have emerged.']
['kg / ha' 'days']

In [689]:
id_cols_to_drop = ['id', 'site_id', 'lat', 'lon', 'cultivar_id', 'trait_description', 'units']
bare_bones_df = selected_and_dropped.drop(labels = id_cols_to_drop, axis = 1)

In [690]:
bare_bones_df.tail()

,sitename,trait,mean,cultivar
333175,MAC Field Scanner Season 4 Range 46 Column 7,flowering_time,72.0,PI534120
333176,MAC Field Scanner Season 4 Range 46 Column 9,flowering_time,56.0,PI180348
333177,MAC Field Scanner Season 4 Range 46 Column 11,flowering_time,64.0,PI329435
333178,MAC Field Scanner Season 4 Range 46 Column 14,flowering_time,62.0,PI564163
333179,MAC Field Scanner Season 4 Range 50 Column 6,flowering_time,70.0,PI655972

In [691]:
print(bare_bones_df.sitename.nunique())
print(bare_bones_df.cultivar.nunique())
print(bare_bones_df.trait.nunique())

247
196
3

In [692]:
# two indices?

site_cultivar_indices = pd.pivot_table(data = bare_bones_df, index = ['sitename', 'cultivar'], columns = 'trait',
                                      values = 'mean')

In [693]:
site_cultivar_indices.head()

,trait,aboveground_dry_biomass,flag_leaf_emergence_time,flowering_time
sitename,cultivar,,,
MAC Field Scanner Season 4 Range 10 Column 11,PI195754,29400.0,68.0,71.0
MAC Field Scanner Season 4 Range 10 Column 14,PI19770,NaN,62.0,68.0
MAC Field Scanner Season 4 Range 10 Column 15,PI144134,NaN,77.0,NaN
MAC Field Scanner Season 4 Range 10 Column 2,PI641807,NaN,77.0,NaN
MAC Field Scanner Season 4 Range 10 Column 3,PI175919,NaN,70.0,71.0

In [694]:
site_cultivar_indices.shape

(247, 3)

In [695]:
site_cultivar_indices.to_csv('site_cultivar_indices.csv')

In [696]:
print(bare_bones_df.shape)
print(bare_bones_df.sitename.nunique())
print(bare_bones_df.cultivar.nunique())

(333, 4)
247
196

In [697]:
minus_cultivar = bare_bones_df.drop(columns = 'cultivar', axis = 1)

In [698]:
minus_cultivar.head()

,sitename,trait,mean
23576,MAC Field Scanner Season 4 Range 2 Column 5,aboveground_dry_biomass,37330.0
23577,MAC Field Scanner Season 4 Range 2 Column 9,aboveground_dry_biomass,36900.0
23578,MAC Field Scanner Season 4 Range 3 Column 4,aboveground_dry_biomass,23190.0
23579,MAC Field Scanner Season 4 Range 3 Column 6,aboveground_dry_biomass,30150.0
23580,MAC Field Scanner Season 4 Range 3 Column 12,aboveground_dry_biomass,21990.0

In [699]:
cultivar_and_sitename = bare_bones_df[['sitename', 'cultivar']]
cultivar_and_sitename.head()

                                           sitename  cultivar
23576   MAC Field Scanner Season 4 Range 2 Column 5    SP1615
23577   MAC Field Scanner Season 4 Range 2 Column 9    SP1615
23578   MAC Field Scanner Season 4 Range 3 Column 4  PI145626
23579   MAC Field Scanner Season 4 Range 3 Column 6  PI330181
23580  MAC Field Scanner Season 4 Range 3 Column 12  PI152771

In [700]:
cultivar_and_sitename.set_index('sitename')
cultivar_and_sitename.head()

                                           sitename  cultivar
23576   MAC Field Scanner Season 4 Range 2 Column 5    SP1615
23577   MAC Field Scanner Season 4 Range 2 Column 9    SP1615
23578   MAC Field Scanner Season 4 Range 3 Column 4  PI145626
23579   MAC Field Scanner Season 4 Range 3 Column 6  PI330181
23580  MAC Field Scanner Season 4 Range 3 Column 12  PI152771

In [701]:
site_cultivar_df = pd.read_csv('site_cultivar_indices.csv')
site_cultivar_df.head()

,sitename,cultivar,aboveground_dry_biomass,flag_leaf_emergence_time,flowering_time
0,MAC Field Scanner Season 4 Range 10 Column 11,PI195754,29400.0,68.0,71.0
1,MAC Field Scanner Season 4 Range 10 Column 14,PI19770,NaN,62.0,68.0
2,MAC Field Scanner Season 4 Range 10 Column 15,PI144134,NaN,77.0,NaN
3,MAC Field Scanner Season 4 Range 10 Column 2,PI641807,NaN,77.0,NaN
4,MAC Field Scanner Season 4 Range 10 Column 3,PI175919,NaN,70.0,71.0

In [702]:
filled_nas = site_cultivar_df.fillna(value='')
filled_nas.head()

,sitename,cultivar,aboveground_dry_biomass,flag_leaf_emergence_time,flowering_time
0,MAC Field Scanner Season 4 Range 10 Column 11,PI195754,29400,68,71
1,MAC Field Scanner Season 4 Range 10 Column 14,PI19770,,62,68
2,MAC Field Scanner Season 4 Range 10 Column 15,PI144134,,77,
3,MAC Field Scanner Season 4 Range 10 Column 2,PI641807,,77,
4,MAC Field Scanner Season 4 Range 10 Column 3,PI175919,,70,71

In [703]:
filled_nas.sample(n=50, random_state=42)

,sitename,cultivar,aboveground_dry_biomass,flag_leaf_emergence_time,flowering_time
33,MAC Field Scanner Season 4 Range 16 Column 2,PI152727,24380,,
6,MAC Field Scanner Season 4 Range 10 Column 5,PI641821,,70,
181,MAC Field Scanner Season 4 Range 41 Column 5,PI514456,22350,,
86,MAC Field Scanner Season 4 Range 26 Column 2,PI452619,17930,,
155,MAC Field Scanner Season 4 Range 38 Column 11,PI641835,28140,,
178,MAC Field Scanner Season 4 Range 41 Column 14,PI646242,25640,,
194,MAC Field Scanner Season 4 Range 45 Column 7,PI330796,8227,,
104,MAC Field Scanner Season 4 Range 29 Column 5,PI646266,35150,,
9,MAC Field Scanner Season 4 Range 11 Column 10,PI561840,20140,,
234,MAC Field Scanner Season 4 Range 53 Column 5,SP1615,38580,,
231,MAC Field Scanner Season 4 Range 53 Column 11,SP1615,33050,,
213,MAC Field Scanner Season 4 Range 49 Column 7,PI569423,15700,,
237,MAC Field Scanner Season 4 Range 7 Column 6,PI646242,32700,,
173,MAC Field Scanner Season 4 Range 40 Column 12,PI510757,8616,,
66,MAC Field Scanner Season 4 Range 20 Column 9,PI535792,17900,70,74
222,MAC Field Scanner Season 4 Range 50 Column 9,PI655978,,62,68
219,MAC Field Scanner Season 4 Range 50 Column 14,PI534165,,60,63
15,MAC Field Scanner Season 4 Range 11 Column 9,PI52606,,62,
182,MAC Field Scanner Season 4 Range 41 Column 7,PI329584,7196,,
24,MAC Field Scanner Season 4 Range 13 Column 15,PI156268,8841,,
120,MAC Field Scanner Season 4 Range 30 Column 6,PI297171,27410,,
19,MAC Field Scanner Season 4 Range 12 Column 15,PI641825,18050,,
112,MAC Field Scanner Season 4 Range 30 Column 11,PI563022,14990,,
67,MAC Field Scanner Season 4 Range 21 Column 14,PI570388,28420,,
221,MAC Field Scanner Season 4 Range 50 Column 6,PI655972,16680,68,70
156,MAC Field Scanner Season 4 Range 38 Column 13,PI253986,42420,,
199,MAC Field Scanner Season 4 Range 46 Column 5,PI535796,25210,62,70
10,MAC Field Scanner Season 4 Range 11 Column 12,PI656065,,56,61
30,MAC Field Scanner Season 4 Range 15 Column 14,PI620157,22940,56,62
96,MAC Field Scanner Season 4 Range 28 Column 5,PI586541,19910,,
235,MAC Field Scanner Season 4 Range 53 Column 7,SP1615,31570,,
242,MAC Field Scanner Season 4 Range 8 Column 6,PI562990,15810,,
117,MAC Field Scanner Season 4 Range 30 Column 3,PI563006,11110,,
25,MAC Field Scanner Season 4 Range 13 Column 3,PI330833,16430,,
244,MAC Field Scanner Season 4 Range 9 Column 2,PI569416,9052,,
18,MAC Field Scanner Season 4 Range 12 Column 13,PI641824,,70,
132,MAC Field Scanner Season 4 Range 32 Column 13,PI585966,12110,,
198,MAC Field Scanner Season 4 Range 46 Column 2,PI533792,5903,,
55,MAC Field Scanner Season 4 Range 20 Column 12,PI329435,9525,61,64
45,MAC Field Scanner Season 4 Range 18 Column 3,PI196598,30080,,
216,MAC Field Scanner Season 4 Range 5 Column 14,PI653617,,56,
109,MAC Field Scanner Season 4 Range 3 Column 4,PI145626,23190,91,
60,MAC Field Scanner Season 4 Range 20 Column 3,PI656026,11110,62,65
183,MAC Field Scanner Season 4 Range 42 Column 10,PI329665,2734,,
16,MAC Field Scanner Season 4 Range 12 Column 11,PI569443,25160,,
119,MAC Field Scanner Season 4 Range 30 Column 5,PI152727,22040,,
68,MAC Field Scanner Season 4 Range 21 Column 3,PI329570,24900,,
170,MAC Field Scanner Season 4 Range 4 Column 15,PI563355,15690,,
38,MAC Field Scanner Season 4 Range 17 Column 4,PI570090,13400,,
245,MAC Field Scanner Season 4 Range 9 Column 6,PI329351,13300,,

In [704]:
filled_nas_sample = filled_nas.sample(n=50, random_state=43)
filled_nas_sample.tail()

,sitename,cultivar,aboveground_dry_biomass,flag_leaf_emergence_time,flowering_time
66,MAC Field Scanner Season 4 Range 20 Column 9,PI535792,17900,70,74
72,MAC Field Scanner Season 4 Range 22 Column 7,PI330196,32030,,
173,MAC Field Scanner Season 4 Range 40 Column 12,PI510757,8616,,
152,MAC Field Scanner Season 4 Range 37 Column 11,PI152694,27190,,
93,MAC Field Scanner Season 4 Range 27 Column 7,PI196586,28130,,

In [705]:
filled_nas_sample.to_csv('sample_subset_season_4.csv', index=False)

In [706]:
filled_nas.to_csv('transformed_data_season_4.csv', index=False)

#### Need Max Canopy Height

In [707]:
season_four = pd.read_csv('../data/raw/mac_season_4.csv')
season_four.head()

,Unnamed: 0,checked,result_type,id,citation_id,site_id,treatment_id,sitename,city,lat,...,n,statname,stat,notes,access_level,cultivar,entity,method_name,view_url,edit_url
0,1,0,traits,6001958927,6.000000e+09,6000005673,6.000000e+09,MAC Field Scanner Season 4 Range 11 Column 5,Maricopa,33.074907,...,NaN,NaN,NaN,NaN,2,PI181083,NaN,Visual assessment of leaf dessication,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
1,2,0,traits,6001958928,6.000000e+09,6000005676,6.000000e+09,MAC Field Scanner Season 4 Range 11 Column 6,Maricopa,33.074907,...,NaN,NaN,NaN,NaN,2,PI564163,NaN,Visual assessment of leaf dessication,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
2,3,0,traits,6001958931,6.000000e+09,6000005685,6.000000e+09,MAC Field Scanner Season 4 Range 11 Column 9,Maricopa,33.074907,...,NaN,NaN,NaN,NaN,2,PI52606,NaN,Visual assessment of leaf dessication,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
3,4,0,traits,6001958933,6.000000e+09,6000005691,6.000000e+09,MAC Field Scanner Season 4 Range 11 Column 11,Maricopa,33.074907,...,NaN,NaN,NaN,NaN,2,PI533792,NaN,Visual assessment of leaf dessication,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
4,5,0,traits,6001958936,6.000000e+09,6000005700,6.000000e+09,MAC Field Scanner Season 4 Range 11 Column 14,Maricopa,33.074907,...,NaN,NaN,NaN,NaN,2,PI535794,NaN,Visual assessment of leaf dessication,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...

In [708]:
season_four.trait.unique()

array(['leaf_desiccation_present', 'lodging_present', 'leaf_temperature',
       'planter_seed_drop', 'roll', 'PhiNO', 'PhiNPQ', 'absorbance_530',
       'absorbance_605', 'absorbance_730', 'absorbance_880',
       'absorbance_940', 'Fs', 'NPQt', 'qL', 'qP', 'RFd', 'SPAD_530',
       'SPAD_605', 'SPAD_730', 'leaf_thickness', 'ambient_humidity',
       'leaf_angle_clamp_position', 'pitch', 'proximal_air_temperature',
       'FvP/FmP', 'gH+', 'ECSt', 'leaf_temperature_differential', 'Phi2',
       'relative_chlorophyll', 'FmPrime', 'FoPrime', 'LEF', 'SPAD_420',
       'SPAD_650', 'SPAD_850', 'SPAD_880', 'light_intensity_PAR', 'vH+',
       'absorbance_650', 'absorbance_850', 'absorbance_420',
       'surface_temperature', 'leaf_angle_chi', 'leaf_angle_mean',
       'leaf_angle_alpha', 'leaf_angle_beta', 'aboveground_dry_biomass',
       'seedling_emergence_rate', 'panicle_height', 'stand_count',
       'dry_matter_fraction', 'harvest_lodging_rating', 'canopy_height',
       'anthocyanin_index', 'chlorophyll_index',
       'flag_leaf_emergence_time', 'flowering_time', 'grain_stage_time',
       'leaf_length', 'leaf_width', 'leaf_stomatal_conductance',
       'aboveground_biomass_moisture', 'aboveground_fresh_biomass',
       'canopy_cover', 'panicle_count', 'panicle_volume',
       'panicle_surface_area', 'stem_elongated_internodes_number',
       'emergence_count', 'stalk_diameter_fixed_height',
       'stalk_diameter_minor_axis', 'stalk_diameter_major_axis',
       'plant_basal_tiller_number'], dtype=object)

In [709]:
canopy_height = season_four.loc[season_four.trait == 'canopy_height']
canopy_height.shape

(58056, 39)

In [710]:
# drop similar columns to above but keep date cols for now

cols_to_drop = ['Unnamed: 0', 'checked', 'result_type', 'citation_id', 'scientificname', 'species_id', 'author', \
                'citation_year', 'treatment', 'n', 'statname', 'stat', 'notes', 'access_level', 'entity', \
                'method_name', 'view_url', 'edit_url', 'treatment_id', 'city', 'commonname', 'genus', 'id', \
               'site_id', 'lat', 'lon', 'cultivar_id']

dropped_col_df = canopy_height.drop(labels=cols_to_drop, axis=1)
dropped_col_df.head()

,sitename,date,time,raw_date,month,year,dateloc,trait,trait_description,mean,units,cultivar
51339,MAC Field Scanner Season 4 Range 30 Column 9 E,2017 Jun 19 (America/Phoenix),[time unspecified or unknown],2017-06-20 00:00:00 -0500,6,2017,5.0,canopy_height,"top of the general canopy of the plant, discou...",91.0,cm,PI329518
51340,MAC Field Scanner Season 4 Range 20 Column 15 W,2017 Jun 4 (America/Phoenix),[time unspecified or unknown],2017-06-05 00:00:00 -0500,6,2017,5.0,canopy_height,"top of the general canopy of the plant, discou...",99.0,cm,PI152828
51341,MAC Field Scanner Season 4 Range 20 Column 15 W,2017 May 29 (America/Phoenix),[time unspecified or unknown],2017-05-30 00:00:00 -0500,5,2017,5.0,canopy_height,"top of the general canopy of the plant, discou...",63.0,cm,PI152828
75000,MAC Field Scanner Season 4 Range 35 Column 14,2017 May 20,12:00:00 (America/Phoenix),2017-05-20 14:00:00 -0500,5,2017,5.0,canopy_height,"top of the general canopy of the plant, discou...",22.0,cm,PI619838
75001,MAC Field Scanner Season 4 Range 36 Column 2,2017 May 20,12:00:00 (America/Phoenix),2017-05-20 14:00:00 -0500,5,2017,5.0,canopy_height,"top of the general canopy of the plant, discou...",26.0,cm,PI155885

In [711]:
dropped_col_df.trait_description.unique()

array(['top of the general canopy of the plant, discounting any exceptional branches, leaves or photosynthetic portions of the inflorescence.'],
      dtype=object)

In [712]:
dropped_col_df.duplicated(subset='sitename')

51339     False
51340     False
51341      True
75000     False
75001     False
          ...
354995     True
354996     True
354997     True
354998     True
354999     True
Length: 58056, dtype: bool

In [713]:
test_df = dropped_col_df.drop(labels=['time', 'dateloc', 'trait_description'], axis=1)

In [714]:
test_series = pd.Series(data = test_string)
test_series

0       blah blah
1     blah blah W
2     blah blah X
3    blahblahblah
4     blah blah E
dtype: object

In [740]:
# Check for multiple measurements for each site (more than one date)

multiple_measurements = new_test_df.duplicated(subset=['new_sitename', 'cultivar'])
multiple_measurements.value_counts()

True     57328
False      728
dtype: int64

In [741]:
sorted_dates = new_test_df.sort_values(by='raw_date', ascending=False)
sorted_dates.head()

,raw_date,trait,mean,cultivar,new_sitename
304659,2017-08-30 14:00:00 -0500,canopy_height,337.0,PI452619,MAC Field Scanner Season 4 Range 34 Column 14
191109,2017-08-30 14:00:00 -0500,canopy_height,346.0,PI585966,MAC Field Scanner Season 4 Range 16 Column 11
191102,2017-08-30 14:00:00 -0500,canopy_height,386.0,PI513898,MAC Field Scanner Season 4 Range 15 Column 10
191103,2017-08-30 14:00:00 -0500,canopy_height,377.0,PI329466,MAC Field Scanner Season 4 Range 15 Column 11
191104,2017-08-30 14:00:00 -0500,canopy_height,395.0,PI154944,MAC Field Scanner Season 4 Range 15 Column 12

In [742]:
sorted_dates.tail()

,raw_date,trait,mean,cultivar,new_sitename
96268,2017-05-01 14:00:00 -0500,canopy_height,11.0,PI329286,MAC Field Scanner Season 4 Range 6 Column 4
96267,2017-05-01 14:00:00 -0500,canopy_height,12.0,PI563331,MAC Field Scanner Season 4 Range 5 Column 12
96266,2017-05-01 14:00:00 -0500,canopy_height,12.0,PI452542,MAC Field Scanner Season 4 Range 5 Column 11
96265,2017-05-01 14:00:00 -0500,canopy_height,12.0,PI329256,MAC Field Scanner Season 4 Range 5 Column 10
158820,2017-05-01 14:00:00 -0500,canopy_height,10.0,PI569445,MAC Field Scanner Season 4 Range 34 Column 12

In [743]:
new_test_df.shape

(58056, 5)

In [744]:
dropped_duplicates = sorted_dates.drop_duplicates(subset='new_sitename', keep='first')

In [745]:
dropped_duplicates.shape

(728, 5)

'2017-06-05 00:00:00 -0500'

In [754]:
# compare to earlier table with days to flowering, days to leaf emergence, and aboveground dry biomass

sitename_index_canopy.shape

(728, 1)

In [755]:
three_traits_empty_strings = pd.read_csv('site_cultivar_indices.csv')
three_traits_empty_strings.head()

,sitename,cultivar,aboveground_dry_biomass,flag_leaf_emergence_time,flowering_time
0,MAC Field Scanner Season 4 Range 10 Column 11,PI195754,29400.0,68.0,71.0
1,MAC Field Scanner Season 4 Range 10 Column 14,PI19770,NaN,62.0,68.0
2,MAC Field Scanner Season 4 Range 10 Column 15,PI144134,NaN,77.0,NaN
3,MAC Field Scanner Season 4 Range 10 Column 2,PI641807,NaN,77.0,NaN
4,MAC Field Scanner Season 4 Range 10 Column 3,PI175919,NaN,70.0,71.0

In [756]:
print(np.sum(three_traits_empty_strings.isnull()))

sitename                      0
cultivar                      0
aboveground_dry_biomass      48
flag_leaf_emergence_time    169
flowering_time              194
dtype: int64

In [757]:
print(len(set(sitename_index_canopy.index)))

728

In [758]:
canopy_df = pd.read_csv('max_canopy_heights.csv')
canopy_df.head()

                                    new_sitename  cultivar  canopy_height
0  MAC Field Scanner Season 4 Range 10 Column 10  PI152816          340.0
1  MAC Field Scanner Season 4 Range 10 Column 11  PI195754          278.0
2  MAC Field Scanner Season 4 Range 10 Column 12  PI329501          369.0
3  MAC Field Scanner Season 4 Range 10 Column 13  PI641860          270.0
4  MAC Field Scanner Season 4 Range 10 Column 14   PI19770          263.0

In [759]:
three_trait_df = pd.read_csv('transformed_data_season_4.csv')
three_trait_df.head()

,sitename,cultivar,aboveground_dry_biomass,flag_leaf_emergence_time,flowering_time
0,MAC Field Scanner Season 4 Range 10 Column 11,PI195754,29400.0,68.0,71.0
1,MAC Field Scanner Season 4 Range 10 Column 14,PI19770,NaN,62.0,68.0
2,MAC Field Scanner Season 4 Range 10 Column 15,PI144134,NaN,77.0,NaN
3,MAC Field Scanner Season 4 Range 10 Column 2,PI641807,NaN,77.0,NaN
4,MAC Field Scanner Season 4 Range 10 Column 3,PI175919,NaN,70.0,71.0

In [760]:
three_trait_df.shape

(247, 5)

In [761]:
canopy_df.shape

(728, 3)

In [762]:
# join tables on sitenames

merged_df = pd.merge(left=canopy_df, right=three_trait_df, left_on=['new_sitename', 'cultivar'], 
                     right_on=['sitename', 'cultivar'], how='outer')
merged_df.head()

,new_sitename,cultivar,canopy_height,sitename,aboveground_dry_biomass,flag_leaf_emergence_time,flowering_time
0,MAC Field Scanner Season 4 Range 10 Column 10,PI152816,340.0,NaN,NaN,NaN,NaN
1,MAC Field Scanner Season 4 Range 10 Column 11,PI195754,278.0,MAC Field Scanner Season 4 Range 10 Column 11,29400.0,68.0,71.0
2,MAC Field Scanner Season 4 Range 10 Column 12,PI329501,369.0,NaN,NaN,NaN,NaN
3,MAC Field Scanner Season 4 Range 10 Column 13,PI641860,270.0,NaN,NaN,NaN,NaN
4,MAC Field Scanner Season 4 Range 10 Column 14,PI19770,263.0,MAC Field Scanner Season 4 Range 10 Column 14,NaN,62.0,68.0

In [763]:
merged_df.tail(20)

,new_sitename,cultivar,canopy_height,sitename,aboveground_dry_biomass,flag_leaf_emergence_time,flowering_time
708,MAC Field Scanner Season 4 Range 8 Column 4,PI329584,307.0,NaN,NaN,NaN,NaN
709,MAC Field Scanner Season 4 Range 8 Column 5,PI156178,188.0,MAC Field Scanner Season 4 Range 8 Column 5,14310.0,NaN,NaN
710,MAC Field Scanner Season 4 Range 8 Column 6,PI562990,190.0,MAC Field Scanner Season 4 Range 8 Column 6,15810.0,NaN,NaN
711,MAC Field Scanner Season 4 Range 8 Column 7,PI330195,204.0,MAC Field Scanner Season 4 Range 8 Column 7,28670.0,NaN,NaN
712,MAC Field Scanner Season 4 Range 8 Column 8,PI570145,381.0,NaN,NaN,NaN,NaN
713,MAC Field Scanner Season 4 Range 8 Column 9,PI329510,394.0,NaN,NaN,NaN,NaN
714,MAC Field Scanner Season 4 Range 9 Column 10,PI329319,158.0,NaN,NaN,NaN,NaN
715,MAC Field Scanner Season 4 Range 9 Column 11,PI570431,403.0,NaN,NaN,NaN,NaN
716,MAC Field Scanner Season 4 Range 9 Column 12,PI257600,404.0,NaN,NaN,NaN,NaN
717,MAC Field Scanner Season 4 Range 9 Column 13,PI276837,393.0,NaN,NaN,NaN,NaN
718,MAC Field Scanner Season 4 Range 9 Column 14,Unknown off type,362.0,NaN,NaN,NaN,NaN
719,MAC Field Scanner Season 4 Range 9 Column 15,PI569454,346.0,NaN,NaN,NaN,NaN
720,MAC Field Scanner Season 4 Range 9 Column 2,PI569416,118.0,MAC Field Scanner Season 4 Range 9 Column 2,9052.0,NaN,NaN
721,MAC Field Scanner Season 4 Range 9 Column 3,PI569457,329.0,NaN,NaN,NaN,NaN
722,MAC Field Scanner Season 4 Range 9 Column 4,PI521152,375.0,NaN,NaN,NaN,NaN
723,MAC Field Scanner Season 4 Range 9 Column 5,PI569452,387.0,NaN,NaN,NaN,NaN
724,MAC Field Scanner Season 4 Range 9 Column 6,PI329351,252.0,MAC Field Scanner Season 4 Range 9 Column 6,13300.0,NaN,NaN
725,MAC Field Scanner Season 4 Range 9 Column 7,PI585961,337.0,NaN,NaN,NaN,NaN
726,MAC Field Scanner Season 4 Range 9 Column 8,PI563350,214.0,MAC Field Scanner Season 4 Range 9 Column 8,24100.0,NaN,NaN
727,MAC Field Scanner Season 4 Range 9 Column 9,PI643016,290.0,NaN,NaN,NaN,NaN

In [764]:
print(merged_df.new_sitename.nunique())
print(merged_df.sitename.nunique())

728
247

In [765]:
# find differences between new_sitename and sitename

different_sitenames = list(set(merged_df.new_sitename) - set(merged_df.sitename))
different_sitenames

['MAC Field Scanner Season 4 Range 47 Column 7',
 'MAC Field Scanner Season 4 Range 45 Column 12',
 'MAC Field Scanner Season 4 Range 19 Column 4',
 'MAC Field Scanner Season 4 Range 21 Column 10',
 'MAC Field Scanner Season 4 Range 49 Column 12',
 'MAC Field Scanner Season 4 Range 52 Column 2',
 'MAC Field Scanner Season 4 Range 17 Column 14',
 'MAC Field Scanner Season 4 Range 40 Column 10',
 'MAC Field Scanner Season 4 Range 25 Column 13',
 'MAC Field Scanner Season 4 Range 6 Column 11',
 'MAC Field Scanner Season 4 Range 31 Column 12',
 'MAC Field Scanner Season 4 Range 41 Column 13',
 'MAC Field Scanner Season 4 Range 8 Column 14',
 'MAC Field Scanner Season 4 Range 15 Column 2',
 'MAC Field Scanner Season 4 Range 6 Column 15',
 'MAC Field Scanner Season 4 Range 39 Column 3',
 'MAC Field Scanner Season 4 Range 25 Column 6',
 'MAC Field Scanner Season 4 Range 10 Column 12',
 'MAC Field Scanner Season 4 Range 13 Column 8',
 'MAC Field Scanner Season 4 Range 3 Column 14',
 'MAC Field Scanner Season 4 Range 12 Column 5',
 'MAC Field Scanner Season 4 Range 44 Column 7',
 'MAC Field Scanner Season 4 Range 34 Column 5',
 'MAC Field Scanner Season 4 Range 13 Column 2',
 'MAC Field Scanner Season 4 Range 27 Column 2',
 'MAC Field Scanner Season 4 Range 16 Column 12',
 'MAC Field Scanner Season 4 Range 32 Column 14',
 'MAC Field Scanner Season 4 Range 35 Column 3',
 'MAC Field Scanner Season 4 Range 15 Column 3',
 'MAC Field Scanner Season 4 Range 38 Column 7',
 'MAC Field Scanner Season 4 Range 46 Column 15',
 'MAC Field Scanner Season 4 Range 8 Column 15',
 'MAC Field Scanner Season 4 Range 48 Column 8',
 'MAC Field Scanner Season 4 Range 6 Column 10',
 'MAC Field Scanner Season 4 Range 21 Column 4',
 'MAC Field Scanner Season 4 Range 49 Column 11',
 'MAC Field Scanner Season 4 Range 44 Column 15',
 'MAC Field Scanner Season 4 Range 23 Column 10',
 'MAC Field Scanner Season 4 Range 33 Column 12',
 'MAC Field Scanner Season 4 Range 3 Column 10',
 'MAC Field Scanner Season 4 Range 19 Column 9',
 'MAC Field Scanner Season 4 Range 23 Column 9',
 'MAC Field Scanner Season 4 Range 48 Column 5',
 'MAC Field Scanner Season 4 Range 51 Column 5',
 'MAC Field Scanner Season 4 Range 42 Column 5',
 'MAC Field Scanner Season 4 Range 43 Column 14',
 'MAC Field Scanner Season 4 Range 44 Column 13',
 'MAC Field Scanner Season 4 Range 36 Column 15',
 'MAC Field Scanner Season 4 Range 50 Column 11',
 'MAC Field Scanner Season 4 Range 21 Column 15',
 'MAC Field Scanner Season 4 Range 14 Column 2',
 'MAC Field Scanner Season 4 Range 32 Column 2',
 'MAC Field Scanner Season 4 Range 48 Column 13',
 'MAC Field Scanner Season 4 Range 18 Column 7',
 'MAC Field Scanner Season 4 Range 27 Column 12',
 'MAC Field Scanner Season 4 Range 52 Column 14',
 'MAC Field Scanner Season 4 Range 26 Column 9',
 'MAC Field Scanner Season 4 Range 49 Column 6',
 'MAC Field Scanner Season 4 Range 30 Column 15',
 'MAC Field Scanner Season 4 Range 42 Column 9',
 'MAC Field Scanner Season 4 Range 8 Column 13',
 'MAC Field Scanner Season 4 Range 26 Column 4',
 'MAC Field Scanner Season 4 Range 21 Column 12',
 'MAC Field Scanner Season 4 Range 49 Column 5',
 'MAC Field Scanner Season 4 Range 32 Column 5',
 'MAC Field Scanner Season 4 Range 53 Column 3',
 'MAC Field Scanner Season 4 Range 41 Column 8',
 'MAC Field Scanner Season 4 Range 14 Column 13',
 'MAC Field Scanner Season 4 Range 5 Column 9',
 'MAC Field Scanner Season 4 Range 27 Column 3',
 'MAC Field Scanner Season 4 Range 5 Column 5',
 'MAC Field Scanner Season 4 Range 22 Column 15',
 'MAC Field Scanner Season 4 Range 41 Column 10',
 'MAC Field Scanner Season 4 Range 8 Column 10',
 'MAC Field Scanner Season 4 Range 23 Column 13',
 'MAC Field Scanner Season 4 Range 28 Column 11',
 'MAC Field Scanner Season 4 Range 36 Column 3',
 'MAC Field Scanner Season 4 Range 37 Column 12',
 'MAC Field Scanner Season 4 Range 49 Column 2',
 'MAC Field Scanner Season 4 Range 43 Column 13',
 'MAC Field Scanner Season 4 Range 25 Column 14',
 'MAC Field Scanner Season 4 Range 16 Column 3',
 'MAC Field Scanner Season 4 Range 21 Column 11',
 'MAC Field Scanner Season 4 Range 43 Column 10',
 'MAC Field Scanner Season 4 Range 25 Column 5',
 'MAC Field Scanner Season 4 Range 13 Column 5',
 'MAC Field Scanner Season 4 Range 44 Column 12',
 'MAC Field Scanner Season 4 Range 5 Column 4',
 'MAC Field Scanner Season 4 Range 21 Column 2',
 'MAC Field Scanner Season 4 Range 45 Column 8',
 'MAC Field Scanner Season 4 Range 19 Column 5',
 'MAC Field Scanner Season 4 Range 23 Column 8',
 'MAC Field Scanner Season 4 Range 42 Column 15',
 'MAC Field Scanner Season 4 Range 46 Column 10',
 'MAC Field Scanner Season 4 Range 10 Column 13',
 'MAC Field Scanner Season 4 Range 2 Column 15',
 'MAC Field Scanner Season 4 Range 7 Column 2',
 'MAC Field Scanner Season 4 Range 9 Column 14',
 'MAC Field Scanner Season 4 Range 14 Column 12',
 'MAC Field Scanner Season 4 Range 14 Column 8',
 'MAC Field Scanner Season 4 Range 2 Column 11',
 'MAC Field Scanner Season 4 Range 13 Column 12',
 'MAC Field Scanner Season 4 Range 37 Column 14',
 'MAC Field Scanner Season 4 Range 3 Column 11',
 'MAC Field Scanner Season 4 Range 19 Column 14',
 'MAC Field Scanner Season 4 Range 27 Column 13',
 'MAC Field Scanner Season 4 Range 26 Column 3',
 'MAC Field Scanner Season 4 Range 33 Column 11',
 'MAC Field Scanner Season 4 Range 9 Column 9',
 'MAC Field Scanner Season 4 Range 35 Column 15',
 'MAC Field Scanner Season 4 Range 11 Column 2',
 'MAC Field Scanner Season 4 Range 26 Column 14',
 'MAC Field Scanner Season 4 Range 7 Column 7',
 'MAC Field Scanner Season 4 Range 29 Column 6',
 'MAC Field Scanner Season 4 Range 2 Column 6',
 'MAC Field Scanner Season 4 Range 9 Column 15',
 'MAC Field Scanner Season 4 Range 6 Column 12',
 'MAC Field Scanner Season 4 Range 13 Column 9',
 'MAC Field Scanner Season 4 Range 39 Column 6',
 'MAC Field Scanner Season 4 Range 3 Column 13',
 'MAC Field Scanner Season 4 Range 25 Column 7',
 'MAC Field Scanner Season 4 Range 22 Column 11',
 'MAC Field Scanner Season 4 Range 7 Column 4',
 'MAC Field Scanner Season 4 Range 46 Column 4',
 'MAC Field Scanner Season 4 Range 47 Column 6',
 'MAC Field Scanner Season 4 Range 15 Column 11',
 'MAC Field Scanner Season 4 Range 5 Column 6',
 'MAC Field Scanner Season 4 Range 42 Column 14',
 'MAC Field Scanner Season 4 Range 2 Column 12',
 'MAC Field Scanner Season 4 Range 27 Column 8',
 'MAC Field Scanner Season 4 Range 15 Column 10',
 'MAC Field Scanner Season 4 Range 36 Column 11',
 'MAC Field Scanner Season 4 Range 32 Column 6',
 'MAC Field Scanner Season 4 Range 50 Column 8',
 'MAC Field Scanner Season 4 Range 40 Column 2',
 'MAC Field Scanner Season 4 Range 6 Column 7',
 'MAC Field Scanner Season 4 Range 23 Column 2',
 'MAC Field Scanner Season 4 Range 17 Column 11',
 'MAC Field Scanner Season 4 Range 24 Column 12',
 'MAC Field Scanner Season 4 Range 52 Column 7',
 'MAC Field Scanner Season 4 Range 15 Column 4',
 'MAC Field Scanner Season 4 Range 24 Column 15',
 'MAC Field Scanner Season 4 Range 4 Column 11',
 'MAC Field Scanner Season 4 Range 37 Column 10',
 'MAC Field Scanner Season 4 Range 18 Column 8',
 'MAC Field Scanner Season 4 Range 22 Column 2',
 'MAC Field Scanner Season 4 Range 43 Column 3',
 'MAC Field Scanner Season 4 Range 36 Column 2',
 'MAC Field Scanner Season 4 Range 2 Column 3',
 'MAC Field Scanner Season 4 Range 22 Column 13',
 'MAC Field Scanner Season 4 Range 31 Column 15',
 'MAC Field Scanner Season 4 Range 36 Column 6',
 'MAC Field Scanner Season 4 Range 48 Column 7',
 'MAC Field Scanner Season 4 Range 35 Column 13',
 'MAC Field Scanner Season 4 Range 12 Column 10',
 'MAC Field Scanner Season 4 Range 17 Column 9',
 'MAC Field Scanner Season 4 Range 14 Column 4',
 'MAC Field Scanner Season 4 Range 10 Column 9',
 'MAC Field Scanner Season 4 Range 49 Column 8',
 'MAC Field Scanner Season 4 Range 11 Column 5',
 'MAC Field Scanner Season 4 Range 28 Column 2',
 'MAC Field Scanner Season 4 Range 14 Column 6',
 'MAC Field Scanner Season 4 Range 34 Column 2',
 'MAC Field Scanner Season 4 Range 29 Column 9',
 'MAC Field Scanner Season 4 Range 17 Column 7',
 'MAC Field Scanner Season 4 Range 33 Column 9',
 'MAC Field Scanner Season 4 Range 2 Column 14',
 'MAC Field Scanner Season 4 Range 48 Column 11',
 'MAC Field Scanner Season 4 Range 36 Column 14',
 'MAC Field Scanner Season 4 Range 7 Column 12',
 'MAC Field Scanner Season 4 Range 28 Column 6',
 'MAC Field Scanner Season 4 Range 45 Column 13',
 'MAC Field Scanner Season 4 Range 16 Column 8',
 'MAC Field Scanner Season 4 Range 3 Column 5',
 'MAC Field Scanner Season 4 Range 43 Column 4',
 'MAC Field Scanner Season 4 Range 53 Column 8',
 'MAC Field Scanner Season 4 Range 52 Column 3',
 'MAC Field Scanner Season 4 Range 38 Column 5',
 'MAC Field Scanner Season 4 Range 46 Column 3',
 'MAC Field Scanner Season 4 Range 2 Column 2',
 'MAC Field Scanner Season 4 Range 2 Column 10',
 'MAC Field Scanner Season 4 Range 49 Column 9',
 'MAC Field Scanner Season 4 Range 14 Column 14',
 'MAC Field Scanner Season 4 Range 45 Column 4',
 'MAC Field Scanner Season 4 Range 21 Column 7',
 'MAC Field Scanner Season 4 Range 44 Column 10',
 'MAC Field Scanner Season 4 Range 2 Column 8',
 'MAC Field Scanner Season 4 Range 44 Column 11',
 'MAC Field Scanner Season 4 Range 44 Column 14',
 'MAC Field Scanner Season 4 Range 8 Column 2',
 'MAC Field Scanner Season 4 Range 43 Column 11',
 'MAC Field Scanner Season 4 Range 48 Column 14',
 'MAC Field Scanner Season 4 Range 13 Column 14',
 'MAC Field Scanner Season 4 Range 15 Column 6',
 'MAC Field Scanner Season 4 Range 46 Column 12',
 'MAC Field Scanner Season 4 Range 44 Column 4',
 'MAC Field Scanner Season 4 Range 53 Column 12',
 'MAC Field Scanner Season 4 Range 17 Column 2',
 'MAC Field Scanner Season 4 Range 17 Column 3',
 'MAC Field Scanner Season 4 Range 37 Column 8',
 'MAC Field Scanner Season 4 Range 16 Column 5',
 'MAC Field Scanner Season 4 Range 45 Column 14',
 'MAC Field Scanner Season 4 Range 25 Column 8',
 'MAC Field Scanner Season 4 Range 11 Column 11',
 'MAC Field Scanner Season 4 Range 23 Column 5',
 'MAC Field Scanner Season 4 Range 14 Column 7',
 'MAC Field Scanner Season 4 Range 8 Column 4',
 'MAC Field Scanner Season 4 Range 42 Column 8',
 'MAC Field Scanner Season 4 Range 6 Column 3',
 'MAC Field Scanner Season 4 Range 52 Column 15',
 'MAC Field Scanner Season 4 Range 42 Column 12',
 'MAC Field Scanner Season 4 Range 32 Column 10',
 'MAC Field Scanner Season 4 Range 34 Column 15',
 'MAC Field Scanner Season 4 Range 43 Column 5',
 'MAC Field Scanner Season 4 Range 51 Column 14',
 'MAC Field Scanner Season 4 Range 32 Column 15',
 'MAC Field Scanner Season 4 Range 37 Column 3',
 'MAC Field Scanner Season 4 Range 2 Column 13',
 'MAC Field Scanner Season 4 Range 22 Column 5',
 'MAC Field Scanner Season 4 Range 39 Column 11',
 'MAC Field Scanner Season 4 Range 40 Column 5',
 'MAC Field Scanner Season 4 Range 51 Column 3',
 'MAC Field Scanner Season 4 Range 41 Column 9',
 'MAC Field Scanner Season 4 Range 7 Column 15',
 'MAC Field Scanner Season 4 Range 52 Column 11',
 'MAC Field Scanner Season 4 Range 5 Column 15',
 'MAC Field Scanner Season 4 Range 37 Column 4',
 'MAC Field Scanner Season 4 Range 14 Column 11',
 'MAC Field Scanner Season 4 Range 12 Column 3',
 'MAC Field Scanner Season 4 Range 38 Column 14',
 'MAC Field Scanner Season 4 Range 9 Column 11',
 'MAC Field Scanner Season 4 Range 11 Column 4',
 'MAC Field Scanner Season 4 Range 46 Column 6',
 'MAC Field Scanner Season 4 Range 29 Column 14',
 'MAC Field Scanner Season 4 Range 50 Column 2',
 'MAC Field Scanner Season 4 Range 9 Column 12',
 'MAC Field Scanner Season 4 Range 11 Column 3',
 'MAC Field Scanner Season 4 Range 37 Column 2',
 'MAC Field Scanner Season 4 Range 39 Column 8',
 'MAC Field Scanner Season 4 Range 32 Column 3',
 'MAC Field Scanner Season 4 Range 7 Column 3',
 'MAC Field Scanner Season 4 Range 39 Column 15',
 'MAC Field Scanner Season 4 Range 26 Column 10',
 'MAC Field Scanner Season 4 Range 37 Column 5',
 'MAC Field Scanner Season 4 Range 18 Column 10',
 'MAC Field Scanner Season 4 Range 28 Column 14',
 'MAC Field Scanner Season 4 Range 34 Column 10',
 'MAC Field Scanner Season 4 Range 37 Column 15',
 'MAC Field Scanner Season 4 Range 51 Column 4',
 'MAC Field Scanner Season 4 Range 25 Column 12',
 'MAC Field Scanner Season 4 Range 22 Column 8',
 'MAC Field Scanner Season 4 Range 33 Column 8',
 'MAC Field Scanner Season 4 Range 34 Column 8',
 'MAC Field Scanner Season 4 Range 8 Column 9',
 'MAC Field Scanner Season 4 Range 34 Column 12',
 'MAC Field Scanner Season 4 Range 23 Column 3',
 'MAC Field Scanner Season 4 Range 19 Column 10',
 'MAC Field Scanner Season 4 Range 3 Column 15',
 'MAC Field Scanner Season 4 Range 15 Column 15',
 'MAC Field Scanner Season 4 Range 16 Column 4',
 'MAC Field Scanner Season 4 Range 22 Column 3',
 'MAC Field Scanner Season 4 Range 40 Column 4',
 'MAC Field Scanner Season 4 Range 27 Column 9',
 'MAC Field Scanner Season 4 Range 6 Column 9',
 'MAC Field Scanner Season 4 Range 11 Column 6',
 'MAC Field Scanner Season 4 Range 24 Column 8',
 'MAC Field Scanner Season 4 Range 31 Column 11',
 'MAC Field Scanner Season 4 Range 39 Column 14',
 'MAC Field Scanner Season 4 Range 16 Column 15',
 'MAC Field Scanner Season 4 Range 13 Column 13',
 'MAC Field Scanner Season 4 Range 52 Column 6',
 'MAC Field Scanner Season 4 Range 45 Column 3',
 'MAC Field Scanner Season 4 Range 12 Column 2',
 'MAC Field Scanner Season 4 Range 42 Column 13',
 'MAC Field Scanner Season 4 Range 7 Column 13',
 'MAC Field Scanner Season 4 Range 19 Column 11',
 'MAC Field Scanner Season 4 Range 28 Column 9',
 'MAC Field Scanner Season 4 Range 25 Column 15',
 'MAC Field Scanner Season 4 Range 32 Column 11',
 'MAC Field Scanner Season 4 Range 36 Column 10',
 'MAC Field Scanner Season 4 Range 40 Column 15',
 'MAC Field Scanner Season 4 Range 35 Column 5',
 'MAC Field Scanner Season 4 Range 35 Column 6',
 'MAC Field Scanner Season 4 Range 48 Column 2',
 'MAC Field Scanner Season 4 Range 53 Column 9',
 'MAC Field Scanner Season 4 Range 39 Column 7',
 'MAC Field Scanner Season 4 Range 53 Column 4',
 'MAC Field Scanner Season 4 Range 18 Column 6',
 'MAC Field Scanner Season 4 Range 45 Column 2',
 'MAC Field Scanner Season 4 Range 23 Column 7',
 'MAC Field Scanner Season 4 Range 31 Column 5',
 'MAC Field Scanner Season 4 Range 10 Column 7',
 'MAC Field Scanner Season 4 Range 26 Column 6',
 'MAC Field Scanner Season 4 Range 39 Column 10',
 'MAC Field Scanner Season 4 Range 41 Column 15',
 'MAC Field Scanner Season 4 Range 6 Column 5',
 'MAC Field Scanner Season 4 Range 21 Column 9',
 'MAC Field Scanner Season 4 Range 47 Column 4',
 'MAC Field Scanner Season 4 Range 15 Column 8',
 'MAC Field Scanner Season 4 Range 52 Column 4',
 'MAC Field Scanner Season 4 Range 15 Column 13',
 'MAC Field Scanner Season 4 Range 44 Column 2',
 'MAC Field Scanner Season 4 Range 12 Column 4',
 'MAC Field Scanner Season 4 Range 5 Column 2',
 'MAC Field Scanner Season 4 Range 53 Column 2',
 'MAC Field Scanner Season 4 Range 42 Column 3',
 'MAC Field Scanner Season 4 Range 8 Column 12',
 'MAC Field Scanner Season 4 Range 40 Column 7',
 'MAC Field Scanner Season 4 Range 46 Column 8',
 'MAC Field Scanner Season 4 Range 4 Column 3',
 'MAC Field Scanner Season 4 Range 22 Column 9',
 'MAC Field Scanner Season 4 Range 49 Column 14',
 'MAC Field Scanner Season 4 Range 11 Column 14',
 'MAC Field Scanner Season 4 Range 35 Column 7',
 'MAC Field Scanner Season 4 Range 18 Column 2',
 'MAC Field Scanner Season 4 Range 17 Column 12',
 'MAC Field Scanner Season 4 Range 17 Column 5',
 'MAC Field Scanner Season 4 Range 33 Column 13',
 'MAC Field Scanner Season 4 Range 14 Column 3',
 'MAC Field Scanner Season 4 Range 35 Column 10',
 'MAC Field Scanner Season 4 Range 44 Column 9',
 'MAC Field Scanner Season 4 Range 15 Column 5',
 'MAC Field Scanner Season 4 Range 4 Column 10',
 'MAC Field Scanner Season 4 Range 3 Column 2',
 'MAC Field Scanner Season 4 Range 32 Column 9',
 'MAC Field Scanner Season 4 Range 19 Column 15',
 'MAC Field Scanner Season 4 Range 36 Column 13',
 'MAC Field Scanner Season 4 Range 4 Column 9',
 'MAC Field Scanner Season 4 Range 15 Column 9',
 'MAC Field Scanner Season 4 Range 21 Column 13',
 'MAC Field Scanner Season 4 Range 45 Column 6',
 'MAC Field Scanner Season 4 Range 15 Column 12',
 'MAC Field Scanner Season 4 Range 7 Column 14',
 'MAC Field Scanner Season 4 Range 48 Column 10',
 'MAC Field Scanner Season 4 Range 52 Column 8',
 'MAC Field Scanner Season 4 Range 37 Column 9',
 'MAC Field Scanner Season 4 Range 14 Column 5',
 'MAC Field Scanner Season 4 Range 50 Column 10',
 'MAC Field Scanner Season 4 Range 47 Column 9',
 'MAC Field Scanner Season 4 Range 28 Column 8',
 'MAC Field Scanner Season 4 Range 3 Column 8',
 'MAC Field Scanner Season 4 Range 48 Column 12',
 'MAC Field Scanner Season 4 Range 29 Column 12',
 'MAC Field Scanner Season 4 Range 36 Column 12',
 'MAC Field Scanner Season 4 Range 4 Column 7',
 'MAC Field Scanner Season 4 Range 8 Column 3',
 'MAC Field Scanner Season 4 Range 26 Column 15',
 'MAC Field Scanner Season 4 Range 42 Column 11',
 'MAC Field Scanner Season 4 Range 47 Column 11',
 'MAC Field Scanner Season 4 Range 32 Column 8',
 'MAC Field Scanner Season 4 Range 9 Column 10',
 'MAC Field Scanner Season 4 Range 5 Column 8',
 'MAC Field Scanner Season 4 Range 36 Column 4',
 'MAC Field Scanner Season 4 Range 23 Column 15',
 'MAC Field Scanner Season 4 Range 6 Column 2',
 'MAC Field Scanner Season 4 Range 7 Column 5',
 'MAC Field Scanner Season 4 Range 50 Column 4',
 'MAC Field Scanner Season 4 Range 35 Column 12',
 'MAC Field Scanner Season 4 Range 19 Column 2',
 'MAC Field Scanner Season 4 Range 43 Column 7',
 'MAC Field Scanner Season 4 Range 16 Column 6',
 'MAC Field Scanner Season 4 Range 3 Column 9',
 'MAC Field Scanner Season 4 Range 9 Column 3',
 'MAC Field Scanner Season 4 Range 41 Column 11',
 'MAC Field Scanner Season 4 Range 45 Column 9',
 'MAC Field Scanner Season 4 Range 51 Column 8',
 'MAC Field Scanner Season 4 Range 35 Column 8',
 'MAC Field Scanner Season 4 Range 6 Column 14',
 'MAC Field Scanner Season 4 Range 24 Column 7',
 'MAC Field Scanner Season 4 Range 9 Column 5',
 'MAC Field Scanner Season 4 Range 27 Column 4',
 'MAC Field Scanner Season 4 Range 25 Column 3',
 'MAC Field Scanner Season 4 Range 26 Column 8',
 'MAC Field Scanner Season 4 Range 26 Column 5',
 'MAC Field Scanner Season 4 Range 22 Column 10',
 'MAC Field Scanner Season 4 Range 19 Column 12',
 'MAC Field Scanner Season 4 Range 53 Column 6',
 'MAC Field Scanner Season 4 Range 4 Column 14',
 'MAC Field Scanner Season 4 Range 21 Column 6',
 'MAC Field Scanner Season 4 Range 49 Column 15',
 'MAC Field Scanner Season 4 Range 16 Column 14',
 'MAC Field Scanner Season 4 Range 22 Column 4',
 'MAC Field Scanner Season 4 Range 43 Column 6',
 'MAC Field Scanner Season 4 Range 9 Column 13',
 'MAC Field Scanner Season 4 Range 50 Column 7',
 'MAC Field Scanner Season 4 Range 5 Column 3',
 'MAC Field Scanner Season 4 Range 52 Column 10',
 'MAC Field Scanner Season 4 Range 6 Column 13',
 'MAC Field Scanner Season 4 Range 51 Column 11',
 'MAC Field Scanner Season 4 Range 24 Column 11',
 'MAC Field Scanner Season 4 Range 16 Column 11',
 'MAC Field Scanner Season 4 Range 37 Column 6',
 'MAC Field Scanner Season 4 Range 42 Column 4',
 'MAC Field Scanner Season 4 Range 8 Column 8',
 'MAC Field Scanner Season 4 Range 47 Column 15',
 'MAC Field Scanner Season 4 Range 22 Column 6',
 'MAC Field Scanner Season 4 Range 38 Column 9',
 'MAC Field Scanner Season 4 Range 49 Column 13',
 'MAC Field Scanner Season 4 Range 5 Column 11',
 'MAC Field Scanner Season 4 Range 48 Column 15',
 'MAC Field Scanner Season 4 Range 24 Column 5',
 'MAC Field Scanner Season 4 Range 5 Column 7',
 'MAC Field Scanner Season 4 Range 31 Column 7',
 'MAC Field Scanner Season 4 Range 51 Column 9',
 'MAC Field Scanner Season 4 Range 9 Column 4',
 'MAC Field Scanner Season 4 Range 34 Column 9',

In [766]:
merged_df[merged_df.new_sitename.isin(different_sitenames)]

,new_sitename,cultivar,canopy_height,sitename,aboveground_dry_biomass,flag_leaf_emergence_time,flowering_time
0,MAC Field Scanner Season 4 Range 10 Column 10,PI152816,340.0,NaN,NaN,NaN,NaN
2,MAC Field Scanner Season 4 Range 10 Column 12,PI329501,369.0,NaN,NaN,NaN,NaN
3,MAC Field Scanner Season 4 Range 10 Column 13,PI641860,270.0,NaN,NaN,NaN,NaN
11,MAC Field Scanner Season 4 Range 10 Column 7,PI255744,205.0,NaN,NaN,NaN,NaN
13,MAC Field Scanner Season 4 Range 10 Column 9,PI641909,350.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
721,MAC Field Scanner Season 4 Range 9 Column 3,PI569457,329.0,NaN,NaN,NaN,NaN
722,MAC Field Scanner Season 4 Range 9 Column 4,PI521152,375.0,NaN,NaN,NaN,NaN
723,MAC Field Scanner Season 4 Range 9 Column 5,PI569452,387.0,NaN,NaN,NaN,NaN
725,MAC Field Scanner Season 4 Range 9 Column 7,PI585961,337.0,NaN,NaN,NaN,NaN
727,MAC Field Scanner Season 4 Range 9 Column 9,PI643016,290.0,NaN,NaN,NaN,NaN

In [767]:
# drop sitename column

one_sitename_df = merged_df.drop(labels='sitename', axis=1)
one_sitename_df.head()

,new_sitename,cultivar,canopy_height,aboveground_dry_biomass,flag_leaf_emergence_time,flowering_time
0,MAC Field Scanner Season 4 Range 10 Column 10,PI152816,340.0,NaN,NaN,NaN
1,MAC Field Scanner Season 4 Range 10 Column 11,PI195754,278.0,29400.0,68.0,71.0
2,MAC Field Scanner Season 4 Range 10 Column 12,PI329501,369.0,NaN,NaN,NaN
3,MAC Field Scanner Season 4 Range 10 Column 13,PI641860,270.0,NaN,NaN,NaN
4,MAC Field Scanner Season 4 Range 10 Column 14,PI19770,263.0,NaN,62.0,68.0

In [768]:
# fill NaNs with empty strings and rename sitename column

one_sitename_filled_nas = one_sitename_df.fillna(value='').rename(columns={'new_sitename': 'sitename'})
one_sitename_filled_nas.head(10)

,sitename,cultivar,canopy_height,aboveground_dry_biomass,flag_leaf_emergence_time,flowering_time
0,MAC Field Scanner Season 4 Range 10 Column 10,PI152816,340.0,,,
1,MAC Field Scanner Season 4 Range 10 Column 11,PI195754,278.0,29400,68,71
2,MAC Field Scanner Season 4 Range 10 Column 12,PI329501,369.0,,,
3,MAC Field Scanner Season 4 Range 10 Column 13,PI641860,270.0,,,
4,MAC Field Scanner Season 4 Range 10 Column 14,PI19770,263.0,,62,68
5,MAC Field Scanner Season 4 Range 10 Column 15,PI144134,331.0,,77,
6,MAC Field Scanner Season 4 Range 10 Column 2,PI641807,307.0,,77,
7,MAC Field Scanner Season 4 Range 10 Column 3,PI175919,246.0,,70,71
8,MAC Field Scanner Season 4 Range 10 Column 4,PI297155,200.0,,77,
9,MAC Field Scanner Season 4 Range 10 Column 5,PI641821,337.0,,70,

In [769]:
one_sitename_filled_nas.to_csv('four_trait_df.csv', na_rep='', index=False)

In [770]:
# check how missing values are represented when csv read 
# without using na_values argument

testing_nans = pd.read_csv('four_trait_df.csv')
testing_nans.head(10)

,sitename,cultivar,canopy_height,aboveground_dry_biomass,flag_leaf_emergence_time,flowering_time
0,MAC Field Scanner Season 4 Range 10 Column 10,PI152816,340.0,NaN,NaN,NaN
1,MAC Field Scanner Season 4 Range 10 Column 11,PI195754,278.0,29400.0,68.0,71.0
2,MAC Field Scanner Season 4 Range 10 Column 12,PI329501,369.0,NaN,NaN,NaN
3,MAC Field Scanner Season 4 Range 10 Column 13,PI641860,270.0,NaN,NaN,NaN
4,MAC Field Scanner Season 4 Range 10 Column 14,PI19770,263.0,NaN,62.0,68.0
5,MAC Field Scanner Season 4 Range 10 Column 15,PI144134,331.0,NaN,77.0,NaN
6,MAC Field Scanner Season 4 Range 10 Column 2,PI641807,307.0,NaN,77.0,NaN
7,MAC Field Scanner Season 4 Range 10 Column 3,PI175919,246.0,NaN,70.0,71.0
8,MAC Field Scanner Season 4 Range 10 Column 4,PI297155,200.0,NaN,77.0,NaN
9,MAC Field Scanner Season 4 Range 10 Column 5,PI641821,337.0,NaN,70.0,NaN

In [771]:
# with na_values argument

testing_nans_2 = pd.read_csv('four_trait_df.csv', na_values='')
testing_nans_2.sample(n=15, random_state=42)

,sitename,cultivar,canopy_height,aboveground_dry_biomass,flag_leaf_emergence_time,flowering_time
39,MAC Field Scanner Season 4 Range 12 Column 7,PI213900,299.0,NaN,50.0,NaN
335,MAC Field Scanner Season 4 Range 31 Column 9,PI217691,294.0,NaN,62.0,NaN
326,MAC Field Scanner Season 4 Range 31 Column 14,PI179749,321.0,NaN,46.0,NaN
512,MAC Field Scanner Season 4 Range 43 Column 4,PI329711,370.0,NaN,NaN,NaN
548,MAC Field Scanner Season 4 Range 46 Column 12,PI535793,146.0,NaN,NaN,NaN
275,MAC Field Scanner Season 4 Range 28 Column 5,PI586541,330.0,19910.0,NaN,NaN
722,MAC Field Scanner Season 4 Range 9 Column 4,PI521152,375.0,NaN,NaN,NaN
630,MAC Field Scanner Season 4 Range 51 Column 10,PI656035,265.0,24530.0,NaN,NaN
109,MAC Field Scanner Season 4 Range 17 Column 7,PI157030,325.0,NaN,NaN,NaN
346,MAC Field Scanner Season 4 Range 32 Column 6,PI569455,381.0,NaN,NaN,NaN
434,MAC Field Scanner Season 4 Range 39 Column 10,PI505722,392.0,NaN,NaN,NaN
33,MAC Field Scanner Season 4 Range 12 Column 15,PI641825,289.0,18050.0,NaN,NaN
86,MAC Field Scanner Season 4 Range 16 Column 12,PI570076,365.0,NaN,NaN,NaN
640,MAC Field Scanner Season 4 Range 51 Column 6,PI570106,309.0,NaN,NaN,NaN
399,MAC Field Scanner Season 4 Range 36 Column 3,PI329333,216.0,NaN,NaN,NaN

### Plot corrections

In [772]:
df = pd.read_csv('../data/raw/mac_season_4.csv')
df.head()

,Unnamed: 0,checked,result_type,id,citation_id,site_id,treatment_id,sitename,city,lat,...,n,statname,stat,notes,access_level,cultivar,entity,method_name,view_url,edit_url
0,1,0,traits,6001958927,6.000000e+09,6000005673,6.000000e+09,MAC Field Scanner Season 4 Range 11 Column 5,Maricopa,33.074907,...,NaN,NaN,NaN,NaN,2,PI181083,NaN,Visual assessment of leaf dessication,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
1,2,0,traits,6001958928,6.000000e+09,6000005676,6.000000e+09,MAC Field Scanner Season 4 Range 11 Column 6,Maricopa,33.074907,...,NaN,NaN,NaN,NaN,2,PI564163,NaN,Visual assessment of leaf dessication,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
2,3,0,traits,6001958931,6.000000e+09,6000005685,6.000000e+09,MAC Field Scanner Season 4 Range 11 Column 9,Maricopa,33.074907,...,NaN,NaN,NaN,NaN,2,PI52606,NaN,Visual assessment of leaf dessication,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
3,4,0,traits,6001958933,6.000000e+09,6000005691,6.000000e+09,MAC Field Scanner Season 4 Range 11 Column 11,Maricopa,33.074907,...,NaN,NaN,NaN,NaN,2,PI533792,NaN,Visual assessment of leaf dessication,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
4,5,0,traits,6001958936,6.000000e+09,6000005700,6.000000e+09,MAC Field Scanner Season 4 Range 11 Column 14,Maricopa,33.074907,...,NaN,NaN,NaN,NaN,2,PI535794,NaN,Visual assessment of leaf dessication,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...

In [773]:
cols_to_drop = ['Unnamed: 0', 'checked', 'result_type', 'citation_id', 'scientificname', 'author', 'citation_year', \
                'treatment', 'n', 'statname', 'stat', 'notes', 'access_level', 'entity', 'method_name', 'view_url', \
                'edit_url', 'treatment_id', 'city', 'commonname', 'genus', 'species_id', 'month', 'year', 'dateloc']

In [774]:
print(df.site_id.unique())
print(df.site_id.nunique())

[6000005673 6000005676 6000005685 ... 6000007563 6000007604 6000007873]
2202

In [775]:
print(df.lat.nunique())
print(df.lon.nunique())

2202
2202

In [776]:
print(df.cultivar_id.nunique())

351

In [777]:
print(df.id.nunique())
print(df.shape)

248876
(372363, 39)

In [778]:
df_dropped = df.drop(labels=cols_to_drop, axis=1)
df_dropped.head()

,id,site_id,sitename,lat,lon,cultivar_id,date,time,raw_date,trait,trait_description,mean,units,cultivar
0,6001958927,6000005673,MAC Field Scanner Season 4 Range 11 Column 5,33.074907,-111.974982,6000000730,2017 Jun 14 (America/Phoenix),[time unspecified or unknown],2017-06-15 00:00:00 -0500,leaf_desiccation_present,Presence or absence of leaves showing desiccat...,0.0,NaN,PI181083
1,6001958928,6000005676,MAC Field Scanner Season 4 Range 11 Column 6,33.074907,-111.974966,6000000231,2017 Jun 14 (America/Phoenix),[time unspecified or unknown],2017-06-15 00:00:00 -0500,leaf_desiccation_present,Presence or absence of leaves showing desiccat...,0.0,NaN,PI564163
2,6001958931,6000005685,MAC Field Scanner Season 4 Range 11 Column 9,33.074907,-111.974917,6000000860,2017 Jun 14 (America/Phoenix),[time unspecified or unknown],2017-06-15 00:00:00 -0500,leaf_desiccation_present,Presence or absence of leaves showing desiccat...,0.0,NaN,PI52606
3,6001958933,6000005691,MAC Field Scanner Season 4 Range 11 Column 11,33.074907,-111.974884,6000000863,2017 Jun 14 (America/Phoenix),[time unspecified or unknown],2017-06-15 00:00:00 -0500,leaf_desiccation_present,Presence or absence of leaves showing desiccat...,0.0,NaN,PI533792
4,6001958936,6000005700,MAC Field Scanner Season 4 Range 11 Column 14,33.074907,-111.974835,6000000869,2017 Jun 14 (America/Phoenix),[time unspecified or unknown],2017-06-15 00:00:00 -0500,leaf_desiccation_present,Presence or absence of leaves showing desiccat...,0.0,NaN,PI535794

In [779]:
print(df.site_id.nunique())
print(df.sitename.nunique())

2202
2202

In [780]:
site_index = df_dropped.set_index(keys='site_id')
site_index.head()

,id,sitename,lat,lon,cultivar_id,date,time,raw_date,trait,trait_description,mean,units,cultivar
site_id,,,,,,,,,,,,,
6000005673,6001958927,MAC Field Scanner Season 4 Range 11 Column 5,33.074907,-111.974982,6000000730,2017 Jun 14 (America/Phoenix),[time unspecified or unknown],2017-06-15 00:00:00 -0500,leaf_desiccation_present,Presence or absence of leaves showing desiccat...,0.0,NaN,PI181083
6000005676,6001958928,MAC Field Scanner Season 4 Range 11 Column 6,33.074907,-111.974966,6000000231,2017 Jun 14 (America/Phoenix),[time unspecified or unknown],2017-06-15 00:00:00 -0500,leaf_desiccation_present,Presence or absence of leaves showing desiccat...,0.0,NaN,PI564163
6000005685,6001958931,MAC Field Scanner Season 4 Range 11 Column 9,33.074907,-111.974917,6000000860,2017 Jun 14 (America/Phoenix),[time unspecified or unknown],2017-06-15 00:00:00 -0500,leaf_desiccation_present,Presence or absence of leaves showing desiccat...,0.0,NaN,PI52606
6000005691,6001958933,MAC Field Scanner Season 4 Range 11 Column 11,33.074907,-111.974884,6000000863,2017 Jun 14 (America/Phoenix),[time unspecified or unknown],2017-06-15 00:00:00 -0500,leaf_desiccation_present,Presence or absence of leaves showing desiccat...,0.0,NaN,PI533792
6000005700,6001958936,MAC Field Scanner Season 4 Range 11 Column 14,33.074907,-111.974835,6000000869,2017 Jun 14 (America/Phoenix),[time unspecified or unknown],2017-06-15 00:00:00 -0500,leaf_desiccation_present,Presence or absence of leaves showing desiccat...,0.0,NaN,PI535794

In [781]:
# check that no duplicate sites were dropped

print(df.shape)
print(df_dropped.shape)
print(site_index.shape)

(372363, 39)
(372363, 14)
(372363, 13)

In [782]:
site_index.trait.unique()

array(['leaf_desiccation_present', 'lodging_present', 'leaf_temperature',
       'planter_seed_drop', 'roll', 'PhiNO', 'PhiNPQ', 'absorbance_530',
       'absorbance_605', 'absorbance_730', 'absorbance_880',
       'absorbance_940', 'Fs', 'NPQt', 'qL', 'qP', 'RFd', 'SPAD_530',
       'SPAD_605', 'SPAD_730', 'leaf_thickness', 'ambient_humidity',
       'leaf_angle_clamp_position', 'pitch', 'proximal_air_temperature',
       'FvP/FmP', 'gH+', 'ECSt', 'leaf_temperature_differential', 'Phi2',
       'relative_chlorophyll', 'FmPrime', 'FoPrime', 'LEF', 'SPAD_420',
       'SPAD_650', 'SPAD_850', 'SPAD_880', 'light_intensity_PAR', 'vH+',
       'absorbance_650', 'absorbance_850', 'absorbance_420',
       'surface_temperature', 'leaf_angle_chi', 'leaf_angle_mean',
       'leaf_angle_alpha', 'leaf_angle_beta', 'aboveground_dry_biomass',
       'seedling_emergence_rate', 'panicle_height', 'stand_count',
       'dry_matter_fraction', 'harvest_lodging_rating', 'canopy_height',
       'anthocyanin_index', 'chlorophyll_index',
       'flag_leaf_emergence_time', 'flowering_time', 'grain_stage_time',
       'leaf_length', 'leaf_width', 'leaf_stomatal_conductance',
       'aboveground_biomass_moisture', 'aboveground_fresh_biomass',
       'canopy_cover', 'panicle_count', 'panicle_volume',
       'panicle_surface_area', 'stem_elongated_internodes_number',
       'emergence_count', 'stalk_diameter_fixed_height',
       'stalk_diameter_minor_axis', 'stalk_diameter_major_axis',
       'plant_basal_tiller_number'], dtype=object)

In [783]:
site_index.loc[site_index.trait == 'emergence_count']

,id,sitename,lat,lon,cultivar_id,date,time,raw_date,trait,trait_description,mean,units,cultivar
site_id,,,,,,,,,,,,,
6000007566,6001950431,MAC Field Scanner Season 4 Range 20 Column 8 E,33.075231,-111.974929,6000001021,2017 May 1 (America/Phoenix),[time unspecified or unknown],2017-05-02 00:00:00 -0500,emergence_count,number of plants counted within plot or subplo...,61.0,NaN,PI655972
6000007566,6001950155,MAC Field Scanner Season 4 Range 20 Column 8 E,33.075231,-111.974929,6000001021,2017 Apr 30 (America/Phoenix),[time unspecified or unknown],2017-05-01 00:00:00 -0500,emergence_count,number of plants counted within plot or subplo...,38.0,NaN,PI655972
6000007566,6001949595,MAC Field Scanner Season 4 Range 20 Column 8 E,33.075231,-111.974929,6000001021,2017 Apr 26 (America/Phoenix),[time unspecified or unknown],2017-04-27 00:00:00 -0500,emergence_count,number of plants counted within plot or subplo...,39.0,NaN,PI655972
6000007899,6001949937,MAC Field Scanner Season 4 Range 30 Column 15 W,33.075590,-111.974823,6000000208,2017 Apr 27 (America/Phoenix),[time unspecified or unknown],2017-04-28 00:00:00 -0500,emergence_count,number of plants counted within plot or subplo...,28.0,NaN,PI651491
6000008552,6001951451,MAC Field Scanner Season 4 Range 51 Column 5 E,33.076345,-111.974979,6000000216,2017 May 8 (America/Phoenix),[time unspecified or unknown],2017-05-09 00:00:00 -0500,emergence_count,number of plants counted within plot or subplo...,59.0,NaN,PI641825
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6000007565,6001951269,MAC Field Scanner Season 4 Range 20 Column 8 W,33.075231,-111.974937,6000001021,2017 May 8 (America/Phoenix),[time unspecified or unknown],2017-05-09 00:00:00 -0500,emergence_count,number of plants counted within plot or subplo...,63.0,NaN,PI655972
6000007565,6001950989,MAC Field Scanner Season 4 Range 20 Column 8 W,33.075231,-111.974937,6000001021,2017 May 4 (America/Phoenix),[time unspecified or unknown],2017-05-05 00:00:00 -0500,emergence_count,number of plants counted within plot or subplo...,64.0,NaN,PI655972
6000007565,6001950429,MAC Field Scanner Season 4 Range 20 Column 8 W,33.075231,-111.974937,6000001021,2017 May 1 (America/Phoenix),[time unspecified or unknown],2017-05-02 00:00:00 -0500,emergence_count,number of plants counted within plot or subplo...,57.0,NaN,PI655972
6000007565,6001950153,MAC Field Scanner Season 4 Range 20 Column 8 W,33.075231,-111.974937,6000001021,2017 Apr 30 (America/Phoenix),[time unspecified or unknown],2017-05-01 00:00:00 -0500,emergence_count,number of plants counted within plot or subplo...,56.0,NaN,PI655972
6000007565,6001949313,MAC Field Scanner Season 4 Range 20 Column 8 W,33.075231,-111.974937,6000001021,2017 Apr 25 (America/Phoenix),[time unspecified or unknown],2017-04-26 00:00:00 -0500,emergence_count,number of plants counted within plot or subplo...,13.0,NaN,PI655972

In [784]:
traits_to_keep = ['ambient_humidity', 'proximal_air_temperature', 'surface_temperature', 'leaf_temperature_differential', \
                 'aboveground_dry_biomass', 'seedling_emergence_rate', 'canopy_height', 'flag_leaf_emergence_time', \
                 'flowering_time', 'grain_stage_time', 'canopy_cover', 'emergence_count']

In [785]:
# test for keeping a row based on `trait` values

test_values = ['ambient_humidity', 'proximal_air_temperature']

site_index.loc[(site_index.trait == 'ambient_humidity') | (site_index.trait == 'proximal_air_temperature')].shape

(4016, 13)

In [786]:
test_trait_df = site_index.loc[site_index.trait.isin(test_values)]
test_trait_df.shape

(4016, 13)

In [787]:
test_trait_df.head()

,id,sitename,lat,lon,cultivar_id,date,time,raw_date,trait,trait_description,mean,units,cultivar
site_id,,,,,,,,,,,,,
6000005593,6002011659,MAC Field Scanner Season 4 Range 26 Column 15,33.075446,-111.974819,6000000851,2017 Aug 18,12:47:00 (America/Phoenix),2017-08-18 14:47:00 -0500,ambient_humidity,Ambient relative humidity near the plant canopy,26.505859,%,PI511355
6000005593,6002011662,MAC Field Scanner Season 4 Range 26 Column 15,33.075446,-111.974819,6000000851,2017 Aug 18,12:47:00 (America/Phoenix),2017-08-18 14:47:00 -0500,proximal_air_temperature,Air temperature measured by handheld sensor ne...,43.840000,C,PI511355
6000005361,6002012219,MAC Field Scanner Season 4 Range 21 Column 2,33.075266,-111.975031,6000000964,2017 Aug 18,13:20:00 (America/Phoenix),2017-08-18 15:20:00 -0500,ambient_humidity,Ambient relative humidity near the plant canopy,20.522461,%,PI570373
6000005361,6002012222,MAC Field Scanner Season 4 Range 21 Column 2,33.075266,-111.975031,6000000964,2017 Aug 18,13:20:00 (America/Phoenix),2017-08-18 15:20:00 -0500,proximal_air_temperature,Air temperature measured by handheld sensor ne...,44.189999,C,PI570373
6000005361,6002012259,MAC Field Scanner Season 4 Range 21 Column 2,33.075266,-111.975031,6000000964,2017 Aug 18,13:20:00 (America/Phoenix),2017-08-18 15:20:00 -0500,ambient_humidity,Ambient relative humidity near the plant canopy,22.083984,%,PI570373

In [788]:
test_trait_df.trait.unique()

array(['ambient_humidity', 'proximal_air_temperature'], dtype=object)

In [789]:
df.loc[(df.trait == 'ambient_humidity') | (df.trait == 'proximal_air_temperature')].shape

(4016, 39)

In [790]:
selected_traits = site_index.loc[site_index.trait.isin(traits_to_keep)]
selected_traits.shape

(145623, 13)

In [791]:
e_w_sites = selected_traits.loc[(selected_traits.sitename.str.endswith(' W')) | (selected_traits.sitename.str.endswith(' E'))]

In [792]:
e_w_sites.shape

(5219, 13)

In [793]:
# is `site_id` different for E and W?
# . . . . . yes

e_w_sites.head(25)

,id,sitename,lat,lon,cultivar_id,date,time,raw_date,trait,trait_description,mean,units,cultivar
site_id,,,,,,,,,,,,,
6000008551,6001951450,MAC Field Scanner Season 4 Range 51 Column 5 W,33.076345,-111.974987,6000000216,2017 May 8 (America/Phoenix),[time unspecified or unknown],2017-05-09 00:00:00 -0500,seedling_emergence_rate,Seedling emergence rate,0.770,ratio,PI641825
6000007011,6001949222,MAC Field Scanner Season 4 Range 3 Column 3 W,33.074619,-111.975019,6000000744,2017 Apr 25 (America/Phoenix),[time unspecified or unknown],2017-04-26 00:00:00 -0500,seedling_emergence_rate,Seedling emergence rate,0.538,ratio,PI22913
6000007011,6001950062,MAC Field Scanner Season 4 Range 3 Column 3 W,33.074619,-111.975019,6000000744,2017 Apr 30 (America/Phoenix),[time unspecified or unknown],2017-05-01 00:00:00 -0500,seedling_emergence_rate,Seedling emergence rate,0.897,ratio,PI22913
6000007011,6001950898,MAC Field Scanner Season 4 Range 3 Column 3 W,33.074619,-111.975019,6000000744,2017 May 4 (America/Phoenix),[time unspecified or unknown],2017-05-05 00:00:00 -0500,seedling_emergence_rate,Seedling emergence rate,0.910,ratio,PI22913
6000007012,6001949224,MAC Field Scanner Season 4 Range 3 Column 3 E,33.074619,-111.975011,6000000744,2017 Apr 25 (America/Phoenix),[time unspecified or unknown],2017-04-26 00:00:00 -0500,seedling_emergence_rate,Seedling emergence rate,0.362,ratio,PI22913
6000007012,6001950064,MAC Field Scanner Season 4 Range 3 Column 3 E,33.074619,-111.975011,6000000744,2017 Apr 30 (America/Phoenix),[time unspecified or unknown],2017-05-01 00:00:00 -0500,seedling_emergence_rate,Seedling emergence rate,1.000,ratio,PI22913
6000007012,6001950340,MAC Field Scanner Season 4 Range 3 Column 3 E,33.074619,-111.975011,6000000744,2017 May 1 (America/Phoenix),[time unspecified or unknown],2017-05-02 00:00:00 -0500,seedling_emergence_rate,Seedling emergence rate,1.010,ratio,PI22913
6000007012,6001950620,MAC Field Scanner Season 4 Range 3 Column 3 E,33.074619,-111.975011,6000000744,2017 May 2 (America/Phoenix),[time unspecified or unknown],2017-05-03 00:00:00 -0500,seedling_emergence_rate,Seedling emergence rate,1.030,ratio,PI22913
6000007012,6001950900,MAC Field Scanner Season 4 Range 3 Column 3 E,33.074619,-111.975011,6000000744,2017 May 4 (America/Phoenix),[time unspecified or unknown],2017-05-05 00:00:00 -0500,seedling_emergence_rate,Seedling emergence rate,1.040,ratio,PI22913
6000007012,6001951180,MAC Field Scanner Season 4 Range 3 Column 3 E,33.074619,-111.975011,6000000744,2017 May 8 (America/Phoenix),[time unspecified or unknown],2017-05-09 00:00:00 -0500,seedling_emergence_rate,Seedling emergence rate,1.040,ratio,PI22913
6000007022,6001949228,MAC Field Scanner Season 4 Range 3 Column 8 E,33.074620,-111.974929,6000000210,2017 Apr 25 (America/Phoenix),[time unspecified or unknown],2017-04-26 00:00:00 -0500,seedling_emergence_rate,Seedling emergence rate,0.518,ratio,PI653616
6000007022,6001951184,MAC Field Scanner Season 4 Range 3 Column 8 E,33.074620,-111.974929,6000000210,2017 May 8 (America/Phoenix),[time unspecified or unknown],2017-05-09 00:00:00 -0500,seedling_emergence_rate,Seedling emergence rate,0.765,ratio,PI653616
6000007111,6001949234,MAC Field Scanner Season 4 Range 6 Column 5 W,33.074727,-111.974986,6000000566,2017 Apr 25 (America/Phoenix),[time unspecified or unknown],2017-04-26 00:00:00 -0500,seedling_emergence_rate,Seedling emergence rate,0.303,ratio,PI329403
6000007111,6001949514,MAC Field Scanner Season 4 Range 6 Column 5 W,33.074727,-111.974986,6000000566,2017 Apr 26 (America/Phoenix),[time unspecified or unknown],2017-04-27 00:00:00 -0500,seedling_emergence_rate,Seedling emergence rate,0.455,ratio,PI329403
6000007111,6001950630,MAC Field Scanner Season 4 Range 6 Column 5 W,33.074727,-111.974986,6000000566,2017 May 2 (America/Phoenix),[time unspecified or unknown],2017-05-03 00:00:00 -0500,seedling_emergence_rate,Seedling emergence rate,0.576,ratio,PI329403
6000007112,6001949796,MAC Field Scanner Season 4 Range 6 Column 5 E,33.074727,-111.974978,6000000566,2017 Apr 27 (America/Phoenix),[time unspecified or unknown],2017-04-28 00:00:00 -0500,seedling_emergence_rate,Seedling emergence rate,0.700,ratio,PI329403
6000007112,6001950352,MAC Field Scanner Season 4 Range 6 Column 5 E,33.074727,-111.974978,6000000566,2017 May 1 (America/Phoenix),[time unspecified or unknown],2017-05-02 00:00:00 -0500,seedling_emergence_rate,Seedling emergence rate,0.750,ratio,PI329403
6000007112,6001950912,MAC Field Scanner Season 4 Range 6 Column 5 E,33.074727,-111.974978,6000000566,2017 May 4 (America/Phoenix),[time unspecified or unknown],2017-05-05 00:00:00 -0500,seedling_emergence_rate,Seedling emergence rate,0.750,ratio,PI329403
6000007112,6001951192,MAC Field Scanner Season 4 Range 6 Column 5 E,33.074727,-111.974978,6000000566,2017 May 8 (America/Phoenix),[time unspecified or unknown],2017-05-09 00:00:00 -0500,seedling_emergence_rate,Seedling emergence rate,0.750,ratio,PI329403
6000007143,6001950634,MAC Field Scanner Season 4 Range 7 Column 5 W,33.074763,-111.974986,6000000803,2017 May 2 (America/Phoenix),[time unspecified or unknown],2017-05-03 00:00:00 -0500,seedling_emergence_rate,Seedling emergence rate,0.849,ratio,PI329644
6000007143,6001950914,MAC Field Scanner Season 4 Range 7 Column 5 W,33.074763,-111.974986,6000000803,2017 May 4 (America/Phoenix),[time unspecified or unknown],2017-05-05 00:00:00 -0500,seedling_emergence_rate,Seedling emergence rate,0.904,ratio,PI329644
6000007144,6001949240,MAC Field Scanner Season 4 Range 7 Column 5 E,33.074763,-111.974978,6000000803,2017 Apr 25 (America/Phoenix),[time unspecified or unknown],2017-04-26 00:00:00 -0500,seedling_emergence_rate,Seedling emergence rate,0.000,ratio,PI329644
6000007144,6001949520,MAC Field Scanner Season 4 Range 7 Column 5 E,33.074763,-111.974978,6000000803,2017 Apr 26 (America/Phoenix),[time unspecified or unknown],2017-04-27 00:00:00 -0500,seedling_emergence_rate,Seedling emergence rate,0.286,ratio,PI329644
6000007144,6001950636,MAC Field Scanner Season 4 Range 7 Column 5 E,33.074763,-111.974978,6000000803,2017 May 2 (America/Phoenix),[time unspecified or unknown],2017-05-03 00:00:00 -0500,seedling_emergence_rate,Seedling emergence rate,0.982,ratio,PI329644
6000007144,6001950916,MAC Field Scanner Season 4 Range 7 Column 5 E,33.074763,-111.974978,6000000803,2017 May 4 (America/Phoenix),[time unspecified or unknown],2017-05-05 00:00:00 -0500,seedling_emergence_rate,Seedling emergence rate,1.000,ratio,PI329644

In [794]:
# only need to find duplicates to calculate means where the sitename is the same for the beginning of the sitename string

e_w_sites.iloc[5].sitename

'MAC Field Scanner Season 4 Range 3 Column 3 E'

In [795]:
e_w_sites.iloc[5].sitename[:-2]

'MAC Field Scanner Season 4 Range 3 Column 3'

In [796]:
# e_w_sites['new_plot_name'] = new_plot_names
e_w_sites.head()

NameError: name 'new_plot_names' is not defined

In [ ]:
new_duplicates = e_w_sites[e_w_sites.duplicated(['new_plot_name'], keep=False)]
new_duplicates.shape

In [ ]:
new_duplicates.trait.unique()

In [ ]:
canopy_height_only = new_duplicates.loc[new_duplicates.trait == 'canopy_height']
canopy_height_only.shape

In [ ]:
canopy_height_only.new_plot_name.nunique()

In [ ]:
canopy_height_only.duplicated(['new_plot_name', 'date'], keep=False).value_counts()

In [ ]:
for i in canopy_height_only.index:
    print(i)
    break

In [ ]:
range(len(canopy_height_only))

In [ ]:
canopy_height_only.iloc[0]

In [ ]:
for i in range(len(canopy_height_only)):
    print(canopy_height_only.iloc[i])
    break

In [ ]:
canopy_height_only.iloc[0]['mean']

In [ ]:
canopy_height_only.to_csv('canopy_height_only_season_4.csv')

In [ ]:
selected_traits.to_csv('more_traits_after_feedback.csv')

In [ ]:
canopy_only_df = pd.read_csv('canopy_height_only_season_4.csv')
canopy_only_df.head()

In [ ]:
canopy_only_df['mean'].values

In [ ]:
print(canopy_only_df.date.unique())
print(canopy_only_df.raw_date.unique())

In [ ]:
duplicate_dates_sitenames = canopy_only_df

In [ ]:
canopy_only_df.duplicated(subset=['new_plot_name', 'date'], keep=False).value_counts()

#### Canopy Height Corrections / Additions
* Correctly calculate `max_canopy_height`
* Add `days_to` or `day_of`?