## Query betydb for phenotypes dataset
* Season 4 & Season 6
* Wide format: one row per plot
* Days to Emergence
* Days to Flowering
* Aboveground dry biomass

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
# %pwd
# %cd '/Users/ejcain/Dev/UA-AG/phenotypes/terraref-datasets/'

In [3]:
# MAC Season 4 

mac_season_4_df = pd.read_csv('../data/raw/mac_season_4.csv')
mac_season_4_df.head()

/opt/miniconda3/envs/terraref-datasets/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (18,26,32,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,checked,result_type,id,citation_id,site_id,treatment_id,sitename,city,lat,...,n,statname,stat,notes,access_level,cultivar,entity,method_name,view_url,edit_url
0,1,0,traits,6001958927,6.000000e+09,6000005673,6.000000e+09,MAC Field Scanner Season 4 Range 11 Column 5,Maricopa,33.074907,...,NaN,NaN,NaN,NaN,2,PI181083,NaN,Visual assessment of leaf dessication,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
1,2,0,traits,6001958928,6.000000e+09,6000005676,6.000000e+09,MAC Field Scanner Season 4 Range 11 Column 6,Maricopa,33.074907,...,NaN,NaN,NaN,NaN,2,PI564163,NaN,Visual assessment of leaf dessication,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
2,3,0,traits,6001958931,6.000000e+09,6000005685,6.000000e+09,MAC Field Scanner Season 4 Range 11 Column 9,Maricopa,33.074907,...,NaN,NaN,NaN,NaN,2,PI52606,NaN,Visual assessment of leaf dessication,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
3,4,0,traits,6001958933,6.000000e+09,6000005691,6.000000e+09,MAC Field Scanner Season 4 Range 11 Column 11,Maricopa,33.074907,...,NaN,NaN,NaN,NaN,2,PI533792,NaN,Visual assessment of leaf dessication,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
4,5,0,traits,6001958936,6.000000e+09,6000005700,6.000000e+09,MAC Field Scanner Season 4 Range 11 Column 14,Maricopa,33.074907,...,NaN,NaN,NaN,NaN,2,PI535794,NaN,Visual assessment of leaf dessication,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...

In [4]:
# try specifying dtype to eliminate DtypeWarning

df2 = pd.read_csv('../data/raw/mac_season_4.csv', sep=',', dtype={'a': str})
df2.head()

,Unnamed: 0,checked,result_type,id,citation_id,site_id,treatment_id,sitename,city,lat,...,n,statname,stat,notes,access_level,cultivar,entity,method_name,view_url,edit_url
0,1,0,traits,6001958927,6.000000e+09,6000005673,6.000000e+09,MAC Field Scanner Season 4 Range 11 Column 5,Maricopa,33.074907,...,NaN,NaN,NaN,NaN,2,PI181083,NaN,Visual assessment of leaf dessication,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
1,2,0,traits,6001958928,6.000000e+09,6000005676,6.000000e+09,MAC Field Scanner Season 4 Range 11 Column 6,Maricopa,33.074907,...,NaN,NaN,NaN,NaN,2,PI564163,NaN,Visual assessment of leaf dessication,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
2,3,0,traits,6001958931,6.000000e+09,6000005685,6.000000e+09,MAC Field Scanner Season 4 Range 11 Column 9,Maricopa,33.074907,...,NaN,NaN,NaN,NaN,2,PI52606,NaN,Visual assessment of leaf dessication,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
3,4,0,traits,6001958933,6.000000e+09,6000005691,6.000000e+09,MAC Field Scanner Season 4 Range 11 Column 11,Maricopa,33.074907,...,NaN,NaN,NaN,NaN,2,PI533792,NaN,Visual assessment of leaf dessication,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
4,5,0,traits,6001958936,6.000000e+09,6000005700,6.000000e+09,MAC Field Scanner Season 4 Range 11 Column 14,Maricopa,33.074907,...,NaN,NaN,NaN,NaN,2,PI535794,NaN,Visual assessment of leaf dessication,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...

In [5]:
# confirm same shape from R

df2.shape

(372363, 39)

In [6]:
df2.columns

Index(['Unnamed: 0', 'checked', 'result_type', 'id', 'citation_id', 'site_id',
       'treatment_id', 'sitename', 'city', 'lat', 'lon', 'scientificname',
       'commonname', 'genus', 'species_id', 'cultivar_id', 'author',
       'citation_year', 'treatment', 'date', 'time', 'raw_date', 'month',
       'year', 'dateloc', 'trait', 'trait_description', 'mean', 'units', 'n',
       'statname', 'stat', 'notes', 'access_level', 'cultivar', 'entity',
       'method_name', 'view_url', 'edit_url'],
      dtype='object')

In [7]:
# mixed dtypes in columns 18, 32, 35

print(df2.columns[18], df2.columns[32], df2.columns[35])

treatment notes entity

In [8]:
df2['treatment'].head()

0    BAP 2017, water-deficit stress Aug 1-14
1    BAP 2017, water-deficit stress Aug 1-14
2    BAP 2017, water-deficit stress Aug 1-14
3    BAP 2017, water-deficit stress Aug 1-14
4    BAP 2017, water-deficit stress Aug 1-14
Name: treatment, dtype: object

In [9]:
df2['notes'].head()

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: notes, dtype: object

In [10]:
df2['entity'].head()

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: entity, dtype: object

In [11]:
df2.result_type.unique()

array(['traits'], dtype=object)

In [12]:
df2.iloc[5]

Unnamed: 0                                                           6
checked                                                              0
result_type                                                     traits
id                                                          6001958937
citation_id                                                      6e+09
site_id                                                     6000005703
treatment_id                                                     6e+09
sitename                 MAC Field Scanner Season 4 Range 11 Column 15
city                                                          Maricopa
lat                                                            33.0749
lon                                                           -111.975
scientificname                                         Sorghum bicolor
commonname                                                     sorghum
genus                                                          Sorghum
species_id                                                        2588
cultivar_id                                                 6000000871
author                                                  Newcomb, Maria
citation_year                                                     2017
treatment                      BAP 2017, water-deficit stress Aug 1-14
date                                     2017 Jun 14 (America/Phoenix)
time                                     [time unspecified or unknown]
raw_date                                     2017-06-15 00:00:00 -0500
month                                                                6
year                                                              2017
dateloc                                                              5
trait                                         leaf_desiccation_present
trait_description    Presence or absence of leaves showing desiccat...
mean                                                                 0
units                                                              NaN
n                                                                  NaN
statname                                                           NaN
stat                                                               NaN
notes                                                              NaN
access_level                                                         2
cultivar                                                      PI535796
entity                                                             NaN
method_name                      Visual assessment of leaf dessication
view_url             https://terraref.ncsa.illinois.edu/bety/traits...
edit_url             https://terraref.ncsa.illinois.edu/bety/traits...
Name: 5, dtype: object

In [13]:
df2.trait.unique()

array(['leaf_desiccation_present', 'lodging_present', 'leaf_temperature',
       'planter_seed_drop', 'roll', 'PhiNO', 'PhiNPQ', 'absorbance_530',
       'absorbance_605', 'absorbance_730', 'absorbance_880',
       'absorbance_940', 'Fs', 'NPQt', 'qL', 'qP', 'RFd', 'SPAD_530',
       'SPAD_605', 'SPAD_730', 'leaf_thickness', 'ambient_humidity',
       'leaf_angle_clamp_position', 'pitch', 'proximal_air_temperature',
       'FvP/FmP', 'gH+', 'ECSt', 'leaf_temperature_differential', 'Phi2',
       'relative_chlorophyll', 'FmPrime', 'FoPrime', 'LEF', 'SPAD_420',
       'SPAD_650', 'SPAD_850', 'SPAD_880', 'light_intensity_PAR', 'vH+',
       'absorbance_650', 'absorbance_850', 'absorbance_420',
       'surface_temperature', 'leaf_angle_chi', 'leaf_angle_mean',
       'leaf_angle_alpha', 'leaf_angle_beta', 'aboveground_dry_biomass',
       'seedling_emergence_rate', 'panicle_height', 'stand_count',
       'dry_matter_fraction', 'harvest_lodging_rating', 'canopy_height',
       'anthocyanin_index', 'chlorophyll_index',
       'flag_leaf_emergence_time', 'flowering_time', 'grain_stage_time',
       'leaf_length', 'leaf_width', 'leaf_stomatal_conductance',
       'aboveground_biomass_moisture', 'aboveground_fresh_biomass',
       'canopy_cover', 'panicle_count', 'panicle_volume',
       'panicle_surface_area', 'stem_elongated_internodes_number',
       'emergence_count', 'stalk_diameter_fixed_height',
       'stalk_diameter_minor_axis', 'stalk_diameter_major_axis',
       'plant_basal_tiller_number'], dtype=object)

In [14]:
df2.sitename.nunique()

2202

In [15]:
df2.site_id.nunique()

2202

In [16]:
df2.sitename.unique()

array(['MAC Field Scanner Season 4 Range 11 Column 5',
       'MAC Field Scanner Season 4 Range 11 Column 6',
       'MAC Field Scanner Season 4 Range 11 Column 9', ...,
       'MAC Field Scanner Season 4 Range 20 Column 7 W',
       'MAC Field Scanner Season 4 Range 21 Column 11 E',
       'MAC Field Scanner Season 4 Range 30 Column 2 W'], dtype=object)

In [17]:
df2.sitename.head(25)

0      MAC Field Scanner Season 4 Range 11 Column 5
1      MAC Field Scanner Season 4 Range 11 Column 6
2      MAC Field Scanner Season 4 Range 11 Column 9
3     MAC Field Scanner Season 4 Range 11 Column 11
4     MAC Field Scanner Season 4 Range 11 Column 14
5     MAC Field Scanner Season 4 Range 11 Column 15
6      MAC Field Scanner Season 4 Range 12 Column 2
7      MAC Field Scanner Season 4 Range 12 Column 3
8      MAC Field Scanner Season 4 Range 12 Column 7
9      MAC Field Scanner Season 4 Range 12 Column 9
10    MAC Field Scanner Season 4 Range 12 Column 10
11    MAC Field Scanner Season 4 Range 12 Column 12
12    MAC Field Scanner Season 4 Range 12 Column 13
13    MAC Field Scanner Season 4 Range 12 Column 14
14     MAC Field Scanner Season 4 Range 13 Column 2
15     MAC Field Scanner Season 4 Range 13 Column 5
16     MAC Field Scanner Season 4 Range 13 Column 9
17    MAC Field Scanner Season 4 Range 13 Column 10
18    MAC Field Scanner Season 4 Range 13 Column 12
19    MAC Field Scanner Season 4 Range 13 Column 13
20     MAC Field Scanner Season 4 Range 14 Column 3
21     MAC Field Scanner Season 4 Range 14 Column 4
22     MAC Field Scanner Season 4 Range 14 Column 5
23     MAC Field Scanner Season 4 Range 14 Column 7
24    MAC Field Scanner Season 4 Range 14 Column 10
Name: sitename, dtype: object

In [18]:
df2.loc[df2.trait == 'aboveground_dry_biomass'].head()

,Unnamed: 0,checked,result_type,id,citation_id,site_id,treatment_id,sitename,city,lat,...,n,statname,stat,notes,access_level,cultivar,entity,method_name,view_url,edit_url
23576,23577,0,traits,6001965127,6.000000e+09,6000005241,6.000000e+09,MAC Field Scanner Season 4 Range 2 Column 5,Maricopa,33.074584,...,NaN,NaN,NaN,NaN,2,SP1615,NaN,Whole above ground biomass at harvest,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
23577,23578,0,traits,6001965147,6.000000e+09,6000005237,6.000000e+09,MAC Field Scanner Season 4 Range 2 Column 9,Maricopa,33.074584,...,NaN,NaN,NaN,NaN,2,SP1615,NaN,Whole above ground biomass at harvest,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
23578,23579,0,traits,6001965192,6.000000e+09,6000005345,6.000000e+09,MAC Field Scanner Season 4 Range 3 Column 4,Maricopa,33.074619,...,NaN,NaN,NaN,NaN,2,PI145626,NaN,Whole above ground biomass at harvest,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
23579,23580,0,traits,6001965202,6.000000e+09,6000005351,6.000000e+09,MAC Field Scanner Season 4 Range 3 Column 6,Maricopa,33.074620,...,NaN,NaN,NaN,NaN,2,PI330181,NaN,Whole above ground biomass at harvest,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
23580,23581,0,traits,6001965232,6.000000e+09,6000005369,6.000000e+09,MAC Field Scanner Season 4 Range 3 Column 12,Maricopa,33.074620,...,NaN,NaN,NaN,NaN,2,PI152771,NaN,Whole above ground biomass at harvest,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...

In [19]:
df2.iloc[864]

Unnamed: 0                                                         865
checked                                                              0
result_type                                                     traits
id                                                          6001960853
citation_id                                                      6e+09
site_id                                                     6000005972
treatment_id                                                     6e+09
sitename                 MAC Field Scanner Season 4 Range 48 Column 13
city                                                          Maricopa
lat                                                            33.0762
lon                                                           -111.975
scientificname                                         Sorghum bicolor
commonname                                                     sorghum
genus                                                          Sorghum
species_id                                                        2588
cultivar_id                                                 6000000557
author                                                  Newcomb, Maria
citation_year                                                     2017
treatment                      BAP 2017, water-deficit stress Aug 1-14
date                                     2017 Jun 28 (America/Phoenix)
time                                     [time unspecified or unknown]
raw_date                                     2017-06-29 00:00:00 -0500
month                                                                6
year                                                              2017
dateloc                                                              5
trait                                         leaf_desiccation_present
trait_description    Presence or absence of leaves showing desiccat...
mean                                                                 0
units                                                              NaN
n                                                                  NaN
statname                                                           NaN
stat                                                               NaN
notes                                                              NaN
access_level                                                         2
cultivar                                                      PI329300
entity                                                             NaN
method_name                      Visual assessment of leaf dessication
view_url             https://terraref.ncsa.illinois.edu/bety/traits...
edit_url             https://terraref.ncsa.illinois.edu/bety/traits...
Name: 864, dtype: object

In [20]:
# sitename - column 7
# trait - column 25
# mean - column 27
# units - column 28

In [21]:
# test_pivot_df = df2.pivot(index = 'sitename', columns = 'trait', values = ['mean', 'units'])
# test_pivot_df.head()

In [22]:
# inspect duplicates

duplicates = df2.duplicated(subset = ['sitename', 'trait'])

In [23]:
duplicates.value_counts()

True     359995
False     12368
dtype: int64

In [24]:
duplicates.head()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [25]:
# rows 1:5 - sitename, trait, mean, units

test_sample = df2.loc[1:5, ['sitename', 'trait', 'mean', 'units']]
test_sample

,sitename,trait,mean,units
1,MAC Field Scanner Season 4 Range 11 Column 6,leaf_desiccation_present,0.0,NaN
2,MAC Field Scanner Season 4 Range 11 Column 9,leaf_desiccation_present,0.0,NaN
3,MAC Field Scanner Season 4 Range 11 Column 11,leaf_desiccation_present,0.0,NaN
4,MAC Field Scanner Season 4 Range 11 Column 14,leaf_desiccation_present,0.0,NaN
5,MAC Field Scanner Season 4 Range 11 Column 15,leaf_desiccation_present,0.0,NaN

In [26]:
# days to emergence
# days to flowering
# aboveground dry biomass

In [27]:
# aboveground dry biomass should only have been measured once per plot - at the end of harvest date
# check for duplicates 

dry_biomass_trait = df2.loc[df2['trait'] == 'aboveground_dry_biomass']
dry_biomass_trait.duplicated(subset = 'sitename').value_counts()

False    199
True       1
dtype: int64

In [28]:
# days to flowering

flowering_time = df2.loc[df2['trait'] == 'flowering_time']
flowering_time.duplicated(subset = 'sitename').value_counts()

False    53
True      1
dtype: int64

In [29]:
# days to emergence

flag_leaf_emergence = df2.loc[df2['trait'] == 'flag_leaf_emergence_time']
flag_leaf_emergence.duplicated(subset = 'sitename').value_counts()

False    78
True      1
dtype: int64

In [30]:
test_check = df2.loc[df2['sitename'].str.contains('MAC Field Scanner Season 4 Range 3 Column 12')]

In [31]:
df2.iloc[371831]

Unnamed: 0                                                      371832
checked                                                              0
result_type                                                     traits
id                                                          6004506432
citation_id                                                      6e+09
site_id                                                     6000005407
treatment_id                                                       NaN
sitename                   MAC Field Scanner Season 4 Range 4 Column 6
city                                                          Maricopa
lat                                                            33.0747
lon                                                           -111.975
scientificname                                         Sorghum bicolor
commonname                                                     sorghum
genus                                                          Sorghum
species_id                                                        2588
cultivar_id                                                 6000000552
author                                                    Zongyang, Li
citation_year                                                     2016
treatment                                                          NaN
date                                                        2017 Jun 6
time                                        12:00:00 (America/Phoenix)
raw_date                                     2017-06-06 14:00:00 -0500
month                                                                6
year                                                              2017
dateloc                                                              5
trait                                                   leaf_angle_chi
trait_description                                                  NaN
mean                                                           1.94651
units                                                              NaN
n                                                                  NaN
statname                                                           NaN
stat                                                               NaN
notes                                                              NaN
access_level                                                         2
cultivar                                                      PI302252
entity                                                             NaN
method_name                      3D scanner to leaf angle distribution
view_url             https://terraref.ncsa.illinois.edu/bety/traits...
edit_url             https://terraref.ncsa.illinois.edu/bety/traits...
Name: 371831, dtype: object

In [32]:
test_check.shape

(360, 39)

In [33]:
print(test_check.raw_date.max())
print(test_check.raw_date.min())

2017-09-16 00:00:00 -0500
2017-04-26 00:00:00 -0500

In [34]:
test_check.loc[test_check.raw_date == test_check.raw_date.max()]['trait']

23580          aboveground_dry_biomass
24787              dry_matter_fraction
24958           harvest_lodging_rating
303089    aboveground_biomass_moisture
303265       aboveground_fresh_biomass
Name: trait, dtype: object

In [35]:
# drop all rows that do not contain trait values for days to flowering, days to emergence, and aboveground dry biomass

selected_traits_only = df2[(df2['trait'] == 'aboveground_dry_biomass') | (df2['trait'] == 'flowering_time') | \
                          (df2['trait'] == 'flag_leaf_emergence_time')]

In [36]:
selected_traits_only.shape

(333, 39)

In [37]:
selected_traits_only.trait.unique()

array(['aboveground_dry_biomass', 'flag_leaf_emergence_time',
       'flowering_time'], dtype=object)

In [38]:
selected_traits_only.columns

Index(['Unnamed: 0', 'checked', 'result_type', 'id', 'citation_id', 'site_id',
       'treatment_id', 'sitename', 'city', 'lat', 'lon', 'scientificname',
       'commonname', 'genus', 'species_id', 'cultivar_id', 'author',
       'citation_year', 'treatment', 'date', 'time', 'raw_date', 'month',
       'year', 'dateloc', 'trait', 'trait_description', 'mean', 'units', 'n',
       'statname', 'stat', 'notes', 'access_level', 'cultivar', 'entity',
       'method_name', 'view_url', 'edit_url'],
      dtype='object')

In [39]:
selected_traits_only.head()

,Unnamed: 0,checked,result_type,id,citation_id,site_id,treatment_id,sitename,city,lat,...,n,statname,stat,notes,access_level,cultivar,entity,method_name,view_url,edit_url
23576,23577,0,traits,6001965127,6.000000e+09,6000005241,6.000000e+09,MAC Field Scanner Season 4 Range 2 Column 5,Maricopa,33.074584,...,NaN,NaN,NaN,NaN,2,SP1615,NaN,Whole above ground biomass at harvest,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
23577,23578,0,traits,6001965147,6.000000e+09,6000005237,6.000000e+09,MAC Field Scanner Season 4 Range 2 Column 9,Maricopa,33.074584,...,NaN,NaN,NaN,NaN,2,SP1615,NaN,Whole above ground biomass at harvest,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
23578,23579,0,traits,6001965192,6.000000e+09,6000005345,6.000000e+09,MAC Field Scanner Season 4 Range 3 Column 4,Maricopa,33.074619,...,NaN,NaN,NaN,NaN,2,PI145626,NaN,Whole above ground biomass at harvest,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
23579,23580,0,traits,6001965202,6.000000e+09,6000005351,6.000000e+09,MAC Field Scanner Season 4 Range 3 Column 6,Maricopa,33.074620,...,NaN,NaN,NaN,NaN,2,PI330181,NaN,Whole above ground biomass at harvest,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
23580,23581,0,traits,6001965232,6.000000e+09,6000005369,6.000000e+09,MAC Field Scanner Season 4 Range 3 Column 12,Maricopa,33.074620,...,NaN,NaN,NaN,NaN,2,PI152771,NaN,Whole above ground biomass at harvest,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...

In [40]:
print(selected_traits_only.city.unique())
print(selected_traits_only.id.nunique())
print(selected_traits_only.citation_id.nunique())
print(selected_traits_only.site_id.nunique())
print(selected_traits_only.lat.nunique())
print(selected_traits_only.scientificname.nunique())
print(selected_traits_only.species_id.nunique())
print(selected_traits_only.cultivar_id.nunique())
print(selected_traits_only.trait_description.unique())
print(selected_traits_only.n.unique())
print(selected_traits_only.notes.unique())
print(selected_traits_only.cultivar.nunique())
print(selected_traits_only.method_name.unique())

['Maricopa']
330
1
247
247
1
1
196
['Aboveground Dry Biomass'
 'Number days from sowing to the date when 50% of the plants in a plot have reached flag leaf emergence (ligulation) stage. Flag leaf is the last leaf to emerge from the whorl, positioned directly below the panicle.'
 'Number of days from sowing to the date when 50% of the plants in a plot reach flowering (anthesis), defined as the time when 50% of the anthers on 50% of the plants in a plot have emerged.']
[nan]
[nan]
196
['Whole above ground biomass at harvest'
 'Visual classification of sorghum growth stages to determine estimates of developmental timing']

In [41]:
selected_traits_only.shape

(333, 39)

In [42]:
cols_to_drop = ['Unnamed: 0', 'checked', 'result_type', 'citation_id', 'scientificname', 'species_id', 'author', \
               'citation_year', 'treatment', 'date', 'month', 'year', 'dateloc', 'n', 'statname', 'stat', 'notes', \
               'access_level', 'entity', 'method_name', 'view_url', 'edit_url', 'treatment_id', 'city', 'commonname', \
               'genus', 'time', 'raw_date']

selected_and_dropped = selected_traits_only.drop(labels = cols_to_drop, axis = 1)

In [43]:
selected_and_dropped.head()

,id,site_id,sitename,lat,lon,cultivar_id,trait,trait_description,mean,units,cultivar
23576,6001965127,6000005241,MAC Field Scanner Season 4 Range 2 Column 5,33.074584,-111.974982,6000001054,aboveground_dry_biomass,Aboveground Dry Biomass,37330.0,kg / ha,SP1615
23577,6001965147,6000005237,MAC Field Scanner Season 4 Range 2 Column 9,33.074584,-111.974917,6000001054,aboveground_dry_biomass,Aboveground Dry Biomass,36900.0,kg / ha,SP1615
23578,6001965192,6000005345,MAC Field Scanner Season 4 Range 3 Column 4,33.074619,-111.974998,6000000462,aboveground_dry_biomass,Aboveground Dry Biomass,23190.0,kg / ha,PI145626
23579,6001965202,6000005351,MAC Field Scanner Season 4 Range 3 Column 6,33.074620,-111.974966,6000000818,aboveground_dry_biomass,Aboveground Dry Biomass,30150.0,kg / ha,PI330181
23580,6001965232,6000005369,MAC Field Scanner Season 4 Range 3 Column 12,33.074620,-111.974867,6000000685,aboveground_dry_biomass,Aboveground Dry Biomass,21990.0,kg / ha,PI152771

In [44]:
selected_and_dropped.shape

(333, 11)

In [45]:
# Check for duplicates

selected_and_dropped.duplicated(subset = ['site_id', 'sitename', 'trait_description']).value_counts()

False    330
True       3
dtype: int64

In [46]:
selected_and_dropped.to_csv('selected_traits_with_cultivar_and_site_ids.csv', index = False)

In [47]:
print(selected_and_dropped.trait.unique())
print(selected_and_dropped.trait_description.unique())
print(selected_and_dropped.units.unique())

['aboveground_dry_biomass' 'flag_leaf_emergence_time' 'flowering_time']
['Aboveground Dry Biomass'
 'Number days from sowing to the date when 50% of the plants in a plot have reached flag leaf emergence (ligulation) stage. Flag leaf is the last leaf to emerge from the whorl, positioned directly below the panicle.'
 'Number of days from sowing to the date when 50% of the plants in a plot reach flowering (anthesis), defined as the time when 50% of the anthers on 50% of the plants in a plot have emerged.']
['kg / ha' 'days']

In [48]:
id_cols_to_drop = ['id', 'site_id', 'lat', 'lon', 'cultivar_id', 'trait_description', 'units']
bare_bones_df = selected_and_dropped.drop(labels = id_cols_to_drop, axis = 1)

In [49]:
bare_bones_df.tail()

,sitename,trait,mean,cultivar
333175,MAC Field Scanner Season 4 Range 46 Column 7,flowering_time,72.0,PI534120
333176,MAC Field Scanner Season 4 Range 46 Column 9,flowering_time,56.0,PI180348
333177,MAC Field Scanner Season 4 Range 46 Column 11,flowering_time,64.0,PI329435
333178,MAC Field Scanner Season 4 Range 46 Column 14,flowering_time,62.0,PI564163
333179,MAC Field Scanner Season 4 Range 50 Column 6,flowering_time,70.0,PI655972

In [50]:
print(bare_bones_df.sitename.nunique())
print(bare_bones_df.cultivar.nunique())
print(bare_bones_df.trait.nunique())

247
196
3

In [51]:
# two indices?

site_cultivar_indices = pd.pivot_table(data = bare_bones_df, index = ['sitename', 'cultivar'], columns = 'trait',
                                      values = 'mean')

In [52]:
site_cultivar_indices.head()

,trait,aboveground_dry_biomass,flag_leaf_emergence_time,flowering_time
sitename,cultivar,,,
MAC Field Scanner Season 4 Range 10 Column 11,PI195754,29400.0,68.0,71.0
MAC Field Scanner Season 4 Range 10 Column 14,PI19770,NaN,62.0,68.0
MAC Field Scanner Season 4 Range 10 Column 15,PI144134,NaN,77.0,NaN
MAC Field Scanner Season 4 Range 10 Column 2,PI641807,NaN,77.0,NaN
MAC Field Scanner Season 4 Range 10 Column 3,PI175919,NaN,70.0,71.0

In [53]:
site_cultivar_indices.shape

(247, 3)

In [54]:
site_cultivar_indices.to_csv('site_cultivar_indices.csv')

In [55]:
print(bare_bones_df.shape)
print(bare_bones_df.sitename.nunique())
print(bare_bones_df.cultivar.nunique())

(333, 4)
247
196

In [56]:
minus_cultivar = bare_bones_df.drop(columns = 'cultivar', axis = 1)

In [57]:
minus_cultivar.head()

,sitename,trait,mean
23576,MAC Field Scanner Season 4 Range 2 Column 5,aboveground_dry_biomass,37330.0
23577,MAC Field Scanner Season 4 Range 2 Column 9,aboveground_dry_biomass,36900.0
23578,MAC Field Scanner Season 4 Range 3 Column 4,aboveground_dry_biomass,23190.0
23579,MAC Field Scanner Season 4 Range 3 Column 6,aboveground_dry_biomass,30150.0
23580,MAC Field Scanner Season 4 Range 3 Column 12,aboveground_dry_biomass,21990.0

In [58]:
cultivar_and_sitename = bare_bones_df[['sitename', 'cultivar']]
cultivar_and_sitename.head()

                                           sitename  cultivar
23576   MAC Field Scanner Season 4 Range 2 Column 5    SP1615
23577   MAC Field Scanner Season 4 Range 2 Column 9    SP1615
23578   MAC Field Scanner Season 4 Range 3 Column 4  PI145626
23579   MAC Field Scanner Season 4 Range 3 Column 6  PI330181
23580  MAC Field Scanner Season 4 Range 3 Column 12  PI152771

In [59]:
cultivar_and_sitename.set_index('sitename')
cultivar_and_sitename.head()

                                           sitename  cultivar
23576   MAC Field Scanner Season 4 Range 2 Column 5    SP1615
23577   MAC Field Scanner Season 4 Range 2 Column 9    SP1615
23578   MAC Field Scanner Season 4 Range 3 Column 4  PI145626
23579   MAC Field Scanner Season 4 Range 3 Column 6  PI330181
23580  MAC Field Scanner Season 4 Range 3 Column 12  PI152771

In [60]:
site_cultivar_df = pd.read_csv('site_cultivar_indices.csv')
site_cultivar_df.head()

,sitename,cultivar,aboveground_dry_biomass,flag_leaf_emergence_time,flowering_time
0,MAC Field Scanner Season 4 Range 10 Column 11,PI195754,29400.0,68.0,71.0
1,MAC Field Scanner Season 4 Range 10 Column 14,PI19770,NaN,62.0,68.0
2,MAC Field Scanner Season 4 Range 10 Column 15,PI144134,NaN,77.0,NaN
3,MAC Field Scanner Season 4 Range 10 Column 2,PI641807,NaN,77.0,NaN
4,MAC Field Scanner Season 4 Range 10 Column 3,PI175919,NaN,70.0,71.0

In [61]:
filled_nas = site_cultivar_df.fillna(value='')
filled_nas.head()

,sitename,cultivar,aboveground_dry_biomass,flag_leaf_emergence_time,flowering_time
0,MAC Field Scanner Season 4 Range 10 Column 11,PI195754,29400,68,71
1,MAC Field Scanner Season 4 Range 10 Column 14,PI19770,,62,68
2,MAC Field Scanner Season 4 Range 10 Column 15,PI144134,,77,
3,MAC Field Scanner Season 4 Range 10 Column 2,PI641807,,77,
4,MAC Field Scanner Season 4 Range 10 Column 3,PI175919,,70,71

In [62]:
filled_nas.sample(n=50, random_state=42)

,sitename,cultivar,aboveground_dry_biomass,flag_leaf_emergence_time,flowering_time
33,MAC Field Scanner Season 4 Range 16 Column 2,PI152727,24380,,
6,MAC Field Scanner Season 4 Range 10 Column 5,PI641821,,70,
181,MAC Field Scanner Season 4 Range 41 Column 5,PI514456,22350,,
86,MAC Field Scanner Season 4 Range 26 Column 2,PI452619,17930,,
155,MAC Field Scanner Season 4 Range 38 Column 11,PI641835,28140,,
178,MAC Field Scanner Season 4 Range 41 Column 14,PI646242,25640,,
194,MAC Field Scanner Season 4 Range 45 Column 7,PI330796,8227,,
104,MAC Field Scanner Season 4 Range 29 Column 5,PI646266,35150,,
9,MAC Field Scanner Season 4 Range 11 Column 10,PI561840,20140,,
234,MAC Field Scanner Season 4 Range 53 Column 5,SP1615,38580,,
231,MAC Field Scanner Season 4 Range 53 Column 11,SP1615,33050,,
213,MAC Field Scanner Season 4 Range 49 Column 7,PI569423,15700,,
237,MAC Field Scanner Season 4 Range 7 Column 6,PI646242,32700,,
173,MAC Field Scanner Season 4 Range 40 Column 12,PI510757,8616,,
66,MAC Field Scanner Season 4 Range 20 Column 9,PI535792,17900,70,74
222,MAC Field Scanner Season 4 Range 50 Column 9,PI655978,,62,68
219,MAC Field Scanner Season 4 Range 50 Column 14,PI534165,,60,63
15,MAC Field Scanner Season 4 Range 11 Column 9,PI52606,,62,
182,MAC Field Scanner Season 4 Range 41 Column 7,PI329584,7196,,
24,MAC Field Scanner Season 4 Range 13 Column 15,PI156268,8841,,
120,MAC Field Scanner Season 4 Range 30 Column 6,PI297171,27410,,
19,MAC Field Scanner Season 4 Range 12 Column 15,PI641825,18050,,
112,MAC Field Scanner Season 4 Range 30 Column 11,PI563022,14990,,
67,MAC Field Scanner Season 4 Range 21 Column 14,PI570388,28420,,
221,MAC Field Scanner Season 4 Range 50 Column 6,PI655972,16680,68,70
156,MAC Field Scanner Season 4 Range 38 Column 13,PI253986,42420,,
199,MAC Field Scanner Season 4 Range 46 Column 5,PI535796,25210,62,70
10,MAC Field Scanner Season 4 Range 11 Column 12,PI656065,,56,61
30,MAC Field Scanner Season 4 Range 15 Column 14,PI620157,22940,56,62
96,MAC Field Scanner Season 4 Range 28 Column 5,PI586541,19910,,
235,MAC Field Scanner Season 4 Range 53 Column 7,SP1615,31570,,
242,MAC Field Scanner Season 4 Range 8 Column 6,PI562990,15810,,
117,MAC Field Scanner Season 4 Range 30 Column 3,PI563006,11110,,
25,MAC Field Scanner Season 4 Range 13 Column 3,PI330833,16430,,
244,MAC Field Scanner Season 4 Range 9 Column 2,PI569416,9052,,
18,MAC Field Scanner Season 4 Range 12 Column 13,PI641824,,70,
132,MAC Field Scanner Season 4 Range 32 Column 13,PI585966,12110,,
198,MAC Field Scanner Season 4 Range 46 Column 2,PI533792,5903,,
55,MAC Field Scanner Season 4 Range 20 Column 12,PI329435,9525,61,64
45,MAC Field Scanner Season 4 Range 18 Column 3,PI196598,30080,,
216,MAC Field Scanner Season 4 Range 5 Column 14,PI653617,,56,
109,MAC Field Scanner Season 4 Range 3 Column 4,PI145626,23190,91,
60,MAC Field Scanner Season 4 Range 20 Column 3,PI656026,11110,62,65
183,MAC Field Scanner Season 4 Range 42 Column 10,PI329665,2734,,
16,MAC Field Scanner Season 4 Range 12 Column 11,PI569443,25160,,
119,MAC Field Scanner Season 4 Range 30 Column 5,PI152727,22040,,
68,MAC Field Scanner Season 4 Range 21 Column 3,PI329570,24900,,
170,MAC Field Scanner Season 4 Range 4 Column 15,PI563355,15690,,
38,MAC Field Scanner Season 4 Range 17 Column 4,PI570090,13400,,
245,MAC Field Scanner Season 4 Range 9 Column 6,PI329351,13300,,

In [63]:
filled_nas_sample = filled_nas.sample(n=50, random_state=43)
filled_nas_sample.tail()

,sitename,cultivar,aboveground_dry_biomass,flag_leaf_emergence_time,flowering_time
66,MAC Field Scanner Season 4 Range 20 Column 9,PI535792,17900,70,74
72,MAC Field Scanner Season 4 Range 22 Column 7,PI330196,32030,,
173,MAC Field Scanner Season 4 Range 40 Column 12,PI510757,8616,,
152,MAC Field Scanner Season 4 Range 37 Column 11,PI152694,27190,,
93,MAC Field Scanner Season 4 Range 27 Column 7,PI196586,28130,,

In [64]:
filled_nas_sample.to_csv('sample_subset_season_4.csv', index=False)

In [65]:
filled_nas.to_csv('transformed_data_season_4.csv', index=False)

#### Need Max Canopy Height

In [66]:
season_four = pd.read_csv('../data/raw/mac_season_4.csv')
season_four.head()

,Unnamed: 0,checked,result_type,id,citation_id,site_id,treatment_id,sitename,city,lat,...,n,statname,stat,notes,access_level,cultivar,entity,method_name,view_url,edit_url
0,1,0,traits,6001958927,6.000000e+09,6000005673,6.000000e+09,MAC Field Scanner Season 4 Range 11 Column 5,Maricopa,33.074907,...,NaN,NaN,NaN,NaN,2,PI181083,NaN,Visual assessment of leaf dessication,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
1,2,0,traits,6001958928,6.000000e+09,6000005676,6.000000e+09,MAC Field Scanner Season 4 Range 11 Column 6,Maricopa,33.074907,...,NaN,NaN,NaN,NaN,2,PI564163,NaN,Visual assessment of leaf dessication,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
2,3,0,traits,6001958931,6.000000e+09,6000005685,6.000000e+09,MAC Field Scanner Season 4 Range 11 Column 9,Maricopa,33.074907,...,NaN,NaN,NaN,NaN,2,PI52606,NaN,Visual assessment of leaf dessication,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
3,4,0,traits,6001958933,6.000000e+09,6000005691,6.000000e+09,MAC Field Scanner Season 4 Range 11 Column 11,Maricopa,33.074907,...,NaN,NaN,NaN,NaN,2,PI533792,NaN,Visual assessment of leaf dessication,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
4,5,0,traits,6001958936,6.000000e+09,6000005700,6.000000e+09,MAC Field Scanner Season 4 Range 11 Column 14,Maricopa,33.074907,...,NaN,NaN,NaN,NaN,2,PI535794,NaN,Visual assessment of leaf dessication,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...

In [67]:
season_four.trait.unique()

array(['leaf_desiccation_present', 'lodging_present', 'leaf_temperature',
       'planter_seed_drop', 'roll', 'PhiNO', 'PhiNPQ', 'absorbance_530',
       'absorbance_605', 'absorbance_730', 'absorbance_880',
       'absorbance_940', 'Fs', 'NPQt', 'qL', 'qP', 'RFd', 'SPAD_530',
       'SPAD_605', 'SPAD_730', 'leaf_thickness', 'ambient_humidity',
       'leaf_angle_clamp_position', 'pitch', 'proximal_air_temperature',
       'FvP/FmP', 'gH+', 'ECSt', 'leaf_temperature_differential', 'Phi2',
       'relative_chlorophyll', 'FmPrime', 'FoPrime', 'LEF', 'SPAD_420',
       'SPAD_650', 'SPAD_850', 'SPAD_880', 'light_intensity_PAR', 'vH+',
       'absorbance_650', 'absorbance_850', 'absorbance_420',
       'surface_temperature', 'leaf_angle_chi', 'leaf_angle_mean',
       'leaf_angle_alpha', 'leaf_angle_beta', 'aboveground_dry_biomass',
       'seedling_emergence_rate', 'panicle_height', 'stand_count',
       'dry_matter_fraction', 'harvest_lodging_rating', 'canopy_height',
       'anthocyanin_index', 'chlorophyll_index',
       'flag_leaf_emergence_time', 'flowering_time', 'grain_stage_time',
       'leaf_length', 'leaf_width', 'leaf_stomatal_conductance',
       'aboveground_biomass_moisture', 'aboveground_fresh_biomass',
       'canopy_cover', 'panicle_count', 'panicle_volume',
       'panicle_surface_area', 'stem_elongated_internodes_number',
       'emergence_count', 'stalk_diameter_fixed_height',
       'stalk_diameter_minor_axis', 'stalk_diameter_major_axis',
       'plant_basal_tiller_number'], dtype=object)

In [68]:
canopy_height = season_four.loc[season_four.trait == 'canopy_height']
canopy_height.shape

(58056, 39)

In [69]:
# drop similar columns to above but keep date cols for now

cols_to_drop = ['Unnamed: 0', 'checked', 'result_type', 'citation_id', 'scientificname', 'species_id', 'author', \
                'citation_year', 'treatment', 'n', 'statname', 'stat', 'notes', 'access_level', 'entity', \
                'method_name', 'view_url', 'edit_url', 'treatment_id', 'city', 'commonname', 'genus', 'id', \
               'site_id', 'lat', 'lon', 'cultivar_id']

dropped_col_df = canopy_height.drop(labels=cols_to_drop, axis=1)
dropped_col_df.head()

,sitename,date,time,raw_date,month,year,dateloc,trait,trait_description,mean,units,cultivar
51339,MAC Field Scanner Season 4 Range 30 Column 9 E,2017 Jun 19 (America/Phoenix),[time unspecified or unknown],2017-06-20 00:00:00 -0500,6,2017,5.0,canopy_height,"top of the general canopy of the plant, discou...",91.0,cm,PI329518
51340,MAC Field Scanner Season 4 Range 20 Column 15 W,2017 Jun 4 (America/Phoenix),[time unspecified or unknown],2017-06-05 00:00:00 -0500,6,2017,5.0,canopy_height,"top of the general canopy of the plant, discou...",99.0,cm,PI152828
51341,MAC Field Scanner Season 4 Range 20 Column 15 W,2017 May 29 (America/Phoenix),[time unspecified or unknown],2017-05-30 00:00:00 -0500,5,2017,5.0,canopy_height,"top of the general canopy of the plant, discou...",63.0,cm,PI152828
75000,MAC Field Scanner Season 4 Range 35 Column 14,2017 May 20,12:00:00 (America/Phoenix),2017-05-20 14:00:00 -0500,5,2017,5.0,canopy_height,"top of the general canopy of the plant, discou...",22.0,cm,PI619838
75001,MAC Field Scanner Season 4 Range 36 Column 2,2017 May 20,12:00:00 (America/Phoenix),2017-05-20 14:00:00 -0500,5,2017,5.0,canopy_height,"top of the general canopy of the plant, discou...",26.0,cm,PI155885

In [70]:
dropped_col_df.trait_description.unique()

array(['top of the general canopy of the plant, discounting any exceptional branches, leaves or photosynthetic portions of the inflorescence.'],
      dtype=object)

In [71]:
dropped_col_df.duplicated(subset='sitename')

51339     False
51340     False
51341      True
75000     False
75001     False
          ...
354995     True
354996     True
354997     True
354998     True
354999     True
Length: 58056, dtype: bool

In [72]:
three_traits_empty_strings = pd.read_csv('site_cultivar_indices.csv')
three_traits_empty_strings.head()

,sitename,cultivar,aboveground_dry_biomass,flag_leaf_emergence_time,flowering_time
0,MAC Field Scanner Season 4 Range 10 Column 11,PI195754,29400.0,68.0,71.0
1,MAC Field Scanner Season 4 Range 10 Column 14,PI19770,NaN,62.0,68.0
2,MAC Field Scanner Season 4 Range 10 Column 15,PI144134,NaN,77.0,NaN
3,MAC Field Scanner Season 4 Range 10 Column 2,PI641807,NaN,77.0,NaN
4,MAC Field Scanner Season 4 Range 10 Column 3,PI175919,NaN,70.0,71.0

In [73]:
print(np.sum(three_traits_empty_strings.isnull()))

sitename                      0
cultivar                      0
aboveground_dry_biomass      48
flag_leaf_emergence_time    169
flowering_time              194
dtype: int64

In [74]:
canopy_df = pd.read_csv('max_canopy_heights.csv')
canopy_df.head()

FileNotFoundError: [Errno 2] File b'max_canopy_heights.csv' does not exist: b'max_canopy_heights.csv'

In [ ]:
three_trait_df = pd.read_csv('transformed_data_season_4.csv')
three_trait_df.head()

In [ ]:
three_trait_df.shape

In [ ]:
canopy_df.shape

In [ ]:
# join tables on sitenames

merged_df = pd.merge(left=canopy_df, right=three_trait_df, left_on=['new_sitename', 'cultivar'], 
                     right_on=['sitename', 'cultivar'], how='outer')
merged_df.head()

In [ ]:
merged_df.tail(20)

In [ ]:
print(merged_df.new_sitename.nunique())
print(merged_df.sitename.nunique())

In [ ]:
# find differences between new_sitename and sitename

different_sitenames = list(set(merged_df.new_sitename) - set(merged_df.sitename))
different_sitenames

In [ ]:
merged_df[merged_df.new_sitename.isin(different_sitenames)]

In [ ]:
# drop sitename column

one_sitename_df = merged_df.drop(labels='sitename', axis=1)
one_sitename_df.head()

In [ ]:
# fill NaNs with empty strings and rename sitename column

one_sitename_filled_nas = one_sitename_df.fillna(value='').rename(columns={'new_sitename': 'sitename'})
one_sitename_filled_nas.head(10)

In [ ]:
one_sitename_filled_nas.to_csv('four_trait_df.csv', na_rep='', index=False)

In [ ]:
# check how missing values are represented when csv read 
# without using na_values argument

testing_nans = pd.read_csv('four_trait_df.csv')
testing_nans.head(10)

In [ ]:
# with na_values argument

testing_nans_2 = pd.read_csv('four_trait_df.csv', na_values='')
testing_nans_2.sample(n=15, random_state=42)

### Plot corrections

In [ ]:
df = pd.read_csv('../data/raw/mac_season_4.csv')
df.head()

In [ ]:
cols_to_drop = ['Unnamed: 0', 'checked', 'result_type', 'citation_id', 'scientificname', 'author', 'citation_year', \
                'treatment', 'n', 'statname', 'stat', 'notes', 'access_level', 'entity', 'method_name', 'view_url', \
                'edit_url', 'treatment_id', 'city', 'commonname', 'genus', 'species_id', 'month', 'year', 'dateloc']

In [ ]:
print(df.site_id.unique())
print(df.site_id.nunique())

In [ ]:
print(df.lat.nunique())
print(df.lon.nunique())

In [ ]:
print(df.cultivar_id.nunique())

In [ ]:
print(df.id.nunique())
print(df.shape)

In [ ]:
df_dropped = df.drop(labels=cols_to_drop, axis=1)
df_dropped.head()

In [ ]:
print(df.site_id.nunique())
print(df.sitename.nunique())

In [ ]:
site_index = df_dropped.set_index(keys='site_id')
site_index.head()

In [ ]:
# check that no duplicate sites were dropped

print(df.shape)
print(df_dropped.shape)
print(site_index.shape)

In [ ]:
site_index.trait.unique()

In [ ]:
site_index.loc[site_index.trait == 'emergence_count']

In [ ]:
traits_to_keep = ['ambient_humidity', 'proximal_air_temperature', 'surface_temperature', 'leaf_temperature_differential', \
                 'aboveground_dry_biomass', 'seedling_emergence_rate', 'canopy_height', 'flag_leaf_emergence_time', \
                 'flowering_time', 'grain_stage_time', 'canopy_cover', 'emergence_count']

In [ ]:
# test for keeping a row based on `trait` values

test_values = ['ambient_humidity', 'proximal_air_temperature']

site_index.loc[(site_index.trait == 'ambient_humidity') | (site_index.trait == 'proximal_air_temperature')].shape

In [ ]:
test_trait_df = site_index.loc[site_index.trait.isin(test_values)]
test_trait_df.shape

In [ ]:
test_trait_df.head()

In [ ]:
test_trait_df.trait.unique()

In [ ]:
df.loc[(df.trait == 'ambient_humidity') | (df.trait == 'proximal_air_temperature')].shape

In [ ]:
selected_traits = site_index.loc[site_index.trait.isin(traits_to_keep)]
selected_traits.shape

In [ ]:
e_w_sites = selected_traits.loc[(selected_traits.sitename.str.endswith(' W')) | (selected_traits.sitename.str.endswith(' E'))]

In [ ]:
e_w_sites.shape

In [ ]:
# is `site_id` different for E and W?
# . . . . . yes

e_w_sites.head(25)

In [ ]:
# only need to find duplicates to calculate means where the sitename is the same for the beginning of the sitename string

e_w_sites.iloc[5].sitename

In [ ]:
e_w_sites.iloc[5].sitename[:-2]

In [ ]:
# e_w_sites['new_plot_name'] = new_plot_names
# TODO: Figure out how to get the REAL new plot name
e_w_sites['new_plot_name'] = ['new_plot_name' for i in range(5219)]
print(e_w_sites.shape)
e_w_sites.head()

In [ ]:
new_duplicates = e_w_sites[e_w_sites.duplicated(['new_plot_name'], keep=False)]
new_duplicates.shape

In [ ]:
new_duplicates.trait.unique()

In [ ]:
canopy_height_only = new_duplicates.loc[new_duplicates.trait == 'canopy_height']
canopy_height_only.shape

In [ ]:
canopy_height_only.new_plot_name.nunique()

In [ ]:
canopy_height_only.duplicated(['new_plot_name', 'date'], keep=False).value_counts()

In [ ]:
for i in canopy_height_only.index:
    print(i)
    break

In [ ]:
range(len(canopy_height_only))

In [ ]:
canopy_height_only.iloc[0]

In [ ]:
for i in range(len(canopy_height_only)):
    print(canopy_height_only.iloc[i])
    break

In [ ]:
canopy_height_only.iloc[0]['mean']

In [ ]:
canopy_height_only.to_csv('canopy_height_only_season_4.csv')

In [ ]:
selected_traits.to_csv('more_traits_after_feedback.csv')

In [ ]:
canopy_only_df = pd.read_csv('canopy_height_only_season_4.csv')
canopy_only_df.head()

In [ ]:
canopy_only_df['mean'].values

In [ ]:
print(canopy_only_df.date.unique())
print(canopy_only_df.raw_date.unique())

In [ ]:
duplicate_dates_sitenames = canopy_only_df

In [ ]:
canopy_only_df.duplicated(subset=['new_plot_name', 'date'], keep=False).value_counts()

#### Canopy Height Corrections / Additions
* Correctly calculate `max_canopy_height`
* Add `days_to` or `day_of`?