### MAC Season 6

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [4]:
# from platform import python_version
# print(python_version())

# %pwd
# %cd '/Users/ejcain/Dev/UA-AG/phenotypes/terraref-datasets/'

3.7.4

#### Read in csv downloaded from betydb API

In [5]:
season_six_all = pd.read_csv('mac_season_6.csv')
season_six_all.head()

/opt/miniconda3/envs/ua-ag/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (16,18,32,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,checked,result_type,id,citation_id,site_id,treatment_id,sitename,city,lat,...,n,statname,stat,notes,access_level,cultivar,entity,method_name,view_url,edit_url
0,1,0,traits,6.002768e+09,NaN,6000014370,NaN,MAC Field Scanner Season 6 Range 43 Column 9 E,Maricopa,33.076057,...,NaN,NaN,NaN,NaN,2,PI329319,NaN,Mean temperature from infrared images,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
1,2,0,traits,6.002768e+09,NaN,6000015458,NaN,MAC Field Scanner Season 6 Range 4 Column 3 W,Maricopa,33.074655,...,NaN,NaN,NaN,NaN,2,PI570031,NaN,Mean temperature from infrared images,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
2,3,0,traits,6.002768e+09,NaN,6000015470,NaN,MAC Field Scanner Season 6 Range 4 Column 16 W,Maricopa,33.074655,...,NaN,NaN,NaN,NaN,2,SP1516,NaN,Mean temperature from infrared images,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
3,4,0,traits,6.002768e+09,NaN,6000015493,NaN,MAC Field Scanner Season 6 Range 6 Column 10 W,Maricopa,33.074727,...,NaN,NaN,NaN,NaN,2,PI156217,NaN,Mean temperature from infrared images,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
4,5,0,traits,6.002768e+09,NaN,6000015657,NaN,MAC Field Scanner Season 6 Range 17 Column 12 W,Maricopa,33.075123,...,NaN,NaN,NaN,NaN,2,PI152651,NaN,Mean temperature from infrared images,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...

In [7]:
print(season_six_all.columns[16], season_six_all.columns[18], season_six_all.columns[32], 
      season_six_all.columns[35])

author treatment notes entity

##### Pandas Warning: Columns with mixed dtypes (same as season 4)
* author
* treatment
* notes
* entity

In [6]:
season_six_all.dtypes

Unnamed: 0             int64
checked                int64
result_type           object
id                   float64
citation_id          float64
site_id                int64
treatment_id         float64
sitename              object
city                  object
lat                  float64
lon                  float64
scientificname        object
commonname            object
genus                 object
species_id             int64
cultivar_id          float64
author                object
citation_year        float64
treatment             object
date                  object
time                  object
raw_date              object
month                  int64
year                   int64
dateloc              float64
trait                 object
trait_description     object
mean                 float64
units                 object
n                    float64
statname             float64
stat                 float64
notes                 object
access_level           int64
cultivar              object
entity                object
method_name           object
view_url              object
edit_url              object
dtype: object

#### Check column names and compare to season 4 columns

In [9]:
season_six_cols = list(season_six_all.columns)
season_six_cols

['Unnamed: 0',
 'checked',
 'result_type',
 'id',
 'citation_id',
 'site_id',
 'treatment_id',
 'sitename',
 'city',
 'lat',
 'lon',
 'scientificname',
 'commonname',
 'genus',
 'species_id',
 'cultivar_id',
 'author',
 'citation_year',
 'treatment',
 'date',
 'time',
 'raw_date',
 'month',
 'year',
 'dateloc',
 'trait',
 'trait_description',
 'mean',
 'units',
 'n',
 'statname',
 'stat',
 'notes',
 'access_level',
 'cultivar',
 'entity',
 'method_name',
 'view_url',
 'edit_url']

In [11]:
season_four_cols = ['Unnamed: 0', 'checked', 'result_type', 'id', 'citation_id', 'site_id',
       'treatment_id', 'sitename', 'city', 'lat', 'lon', 'scientificname',
       'commonname', 'genus', 'species_id', 'cultivar_id', 'author',
       'citation_year', 'treatment', 'date', 'time', 'raw_date', 'month',
       'year', 'dateloc', 'trait', 'trait_description', 'mean', 'units', 'n',
       'statname', 'stat', 'notes', 'access_level', 'cultivar', 'entity',
       'method_name', 'view_url', 'edit_url']

In [17]:
# Check for differences

print(len(season_four_cols))
print(season_six_all.shape)
print(len(set(season_six_cols) & set(season_four_cols)))

print(set(season_four_cols) - set(season_six_cols))
print(set(season_six_cols) - set(season_four_cols))

39
(925563, 39)
39
set()
set()

#### Check traits
* `canopy_height`
* `flag_leaf_emergence`
* `aboveground_dry_biomass`
* `flowering_time`

In [18]:
season_six_all.trait_description.unique()

array(['Surface temperature',
       'Length of leaf from tip to stem along the midrib.',
       'width of leaf at widest point along leaf',
       'Fraction of ground covered by plant', nan,
       'top of the general canopy of the plant, discounting any exceptional branches, leaves or photosynthetic portions of the inflorescence.',
       'Aboveground Dry Biomass', 'Fresh Biomass',
       'Diameter of the stalk in the internodal area nearest to the given measurement height',
       'Whole above ground biomass moisture content'], dtype=object)

In [19]:
season_six_all.trait.unique()

array(['surface_temperature', 'leaf_length', 'leaf_width', 'canopy_cover',
       'leaf_angle_alpha', 'leaf_angle_beta', 'leaf_angle_chi',
       'leaf_angle_mean', 'canopy_height', 'panicle_surface_area',
       'panicle_count', 'panicle_volume', 'aboveground_dry_biomass',
       'aboveground_fresh_biomass', 'stalk_diameter_fixed_height',
       'aboveground_biomass_moisture'], dtype=object)

In [20]:
# where are. . . days to flowering and days to leaf emergence??

season_four_all = pd.read_csv('mac_season_4.csv')
season_four_all.shape

/opt/miniconda3/envs/ua-ag/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (18,26,32,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(372363, 39)

In [21]:
season_six_all.shape

(925563, 39)

In [22]:
print(season_four_all.trait.nunique())
print(season_six_all.trait.nunique())

75
16

In [23]:
print(season_six_all.statname.unique())

[nan]

#### Strip any sitenames of trailing `_E` or `_W`

In [24]:
print(season_six_all.sitename.unique())

['MAC Field Scanner Season 6 Range 43 Column 9 E'
 'MAC Field Scanner Season 6 Range 4 Column 3 W'
 'MAC Field Scanner Season 6 Range 4 Column 16 W' ...
 'MAC Field Scanner Season 6 Range 48 Column 3 E'
 'MAC Field Scanner Season 6 Range 20 Column 1'
 'MAC Field Scanner Season 6 Range 20 Column 8 W']

In [ ]:
# code from season 4 notebook

new_sitenames = []

for site in sitenames:
    if site.endswith(' W'):
        site = site[:-2]
        new_sitenames.append(site)
        
    elif site.endswith(' E'):
        site = site[:-2]
        new_sitenames.append(site)
        
    else:
        new_sitenames.append(site)
        
new_sitenames[:10]

In [25]:
# create original sitenames array with df.sitename.values

def new_sitenames(original_sitenames_array):
    
    new_sitenames_list = []
    
    for site in original_sitenames_list:
        
        if site.endswith(' W'):
            site = site[:-2]
            new_sitenames_list.append(site)
            
        elif site.endswith(' E'):
            site = site[:-2]
            new_sitenames_list.append(site)
            
        else:
            new_sitenames_list.append(site)
            
    return new_sitenames_list

In [29]:
# test function on random sample df

test_df = season_six_all.sample(n=200)
test_df.head()

,Unnamed: 0,checked,result_type,id,citation_id,site_id,treatment_id,sitename,city,lat,...,n,statname,stat,notes,access_level,cultivar,entity,method_name,view_url,edit_url
169675,169676,0,traits,6.004294e+09,6.000000e+09,6000015280,NaN,MAC Field Scanner Season 6 Range 40 Column 4,Maricopa,33.075949,...,NaN,NaN,NaN,NaN,2,PI585406,NaN,Green Canopy Cover Estimation from Field Scann...,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
711756,711757,0,traits,6.003117e+09,NaN,6000016197,NaN,MAC Field Scanner Season 6 Range 52 Column 5 W,Maricopa,33.076380,...,NaN,NaN,NaN,NaN,2,SP1516,NaN,Mean temperature from infrared images,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
89982,89983,0,traits,6.004949e+09,6.000000e+09,6000014425,6.000000e+09,MAC Field Scanner Season 6 Range 47 Column 3 E,Maricopa,33.076201,...,NaN,NaN,NaN,NaN,2,PI570431,NaN,3D scanner to leaf length and width,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
82414,82415,0,traits,6.004276e+09,6.000000e+09,6000015314,NaN,MAC Field Scanner Season 6 Range 43 Column 2,Maricopa,33.076057,...,NaN,NaN,NaN,NaN,2,PI510757,NaN,Green Canopy Cover Estimation from Field Scann...,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...
164588,164589,0,traits,6.004317e+09,6.000000e+09,6000014614,NaN,MAC Field Scanner Season 6 Range 21 Column 8,Maricopa,33.075266,...,NaN,NaN,NaN,NaN,2,PI329605,NaN,Green Canopy Cover Estimation from Field Scann...,https://terraref.ncsa.illinois.edu/bety/traits...,https://terraref.ncsa.illinois.edu/bety/traits...

In [30]:
test_df.sitename.unique()[:10]

array(['MAC Field Scanner Season 6 Range 40 Column 4',
       'MAC Field Scanner Season 6 Range 52 Column 5 W',
       'MAC Field Scanner Season 6 Range 47 Column 3 E',
       'MAC Field Scanner Season 6 Range 43 Column 2',
       'MAC Field Scanner Season 6 Range 21 Column 8',
       'MAC Field Scanner Season 6 Range 41 Column 3',
       'MAC Field Scanner Season 6 Range 28 Column 16 E',
       'MAC Field Scanner Season 6 Range 7 Column 13 W',
       'MAC Field Scanner Season 6 Range 40 Column 2',
       'MAC Field Scanner Season 6 Range 2 Column 11'], dtype=object)

In [31]:
test_df_sitenames_array = test_df.sitename.values
print(len(test_df_sitenames_array))

200

#### Check for duplicate traits that should only have been measured once
* `flag_leaf_emergence`
* `aboveground_dry_biomass`
* `flowering_time`

In [ ]:
# example code from season 4

# dry_biomass_trait = df2.loc[df2['trait'] == 'aboveground_dry_biomass']
# dry_biomass_trait.duplicated(subset = 'sitename').value_counts()

In [ ]:
def check_duplicate_traits(df, column_to_check, value_to_check, subset_column):
    
    """
    Subset column is needed for duplicated function. For these data it will be sitename.
    Returns value counts for how many duplicates were found. 
    Any True values indicate a duplicate with the same subset_column and column_to_check.
    """
    
    val = df.loc[df[column_to_check] == value_to_check]
    
    return val.duplicated(subset = subset_column).value_counts()

#### Canopy Height
* Inspect date ranges
* Check `canopy_height` values for outliers

#### Drop columns!

In [ ]:
season_4_cols_to_drop = ['Unnamed: 0', 'checked', 'result_type', 'citation_id', 'scientificname', \
                         'species_id', 'author', 'citation_year', 'treatment', 'date', 'month', 'year', \
                         'dateloc', 'n', 'statname', 'stat', 'notes', 'access_level', 'entity', \
                         'method_name', 'view_url', 'edit_url', 'treatment_id', 'city', 'commonname', \
                         'genus', 'time']

#### Create pivot table with `sitename` and `cultivar` as indices